<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id='{{ replaceRE "(\\s)" "" (lower .Title) }}'class="td-{{ .Kind }} td-topic">
    {{ partial "amplitude.html" (dict "context" . "event" "topic viewed") }}
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
        {{ partial "live-notify.html" . }}
      <div class="td-main ">
        <div class="bg-gray-dark mt-lg-5 mt-0 py-lg-5 py-2">
            <div class='container'>
                {{ .Render "content" }}
            </div>
        </div>

        <br/>
        {{ $guides := where .Data.Pages "Section" "guides" }}
        {{ if gt (len $guides) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-4'><img class="icon mr-3" src='{{ "/images/icons/icon-guides.svg" | relURL }}'/><h2 class="h3 mb-0">Guides</h2></div>
            <div class='col px-0'>
                {{ if gt (len $guides) 6 }}
                    <div class='row'>
                        {{ range first 6 $guides }}
                            <div class="flex-315 col-12 mr-3 mb-3 px-0">
                                <a class="linked-box bg-gray-dark px-4 pt-4 pb-3" href="{{ .RelPermalink }}">
                                    <h3 class="mt-2 h4 pt-0">{{ .Title }}</h3>
                                    <p>{{ .Description }}</p>
                                </a>
                            </div>
                        {{ end }}
                        {{ range after 6 $guides }}
                            <div class="flex-315 col-12 mr-3 mb-3 px-0 hidden-item" style='display: none;'>
                                <a class="linked-box bg-gray-dark px-4 pt-4 pb-3" href="{{ .RelPermalink }}">
                                    <h3 class="mt-2 h4 pt-0">{{ .Title }}</h3>
                                    <p>{{ .Description }}</p>
                                </a>
                            </div>
                        {{ end }}
                    </div>
                    <div class='w-100'>
                        <button class='btn mx-auto d-block show-all-button'>View all</button>
                    </div>
                {{ else }}
                    <div class='row'>
                        {{ range $guides }}
                            <div class="flex-315 col-12 mr-3 mb-3 px-0">
                                <a class="linked-box bg-gray-dark px-4 pt-4 pb-3" href="{{ .RelPermalink }}">
                                    <h3 class="mt-2 h4 pt-0">{{ .Title }}</h3>
                                    <p>{{ .Description }}</p>
                                </a>
                            </div>
                        {{ end }}
                    </div>
                {{ end }}
                {{ end }}
            </div>
        </div>


        {{ $videos := where .Data.Pages "Section" "videos" }}
        {{ if gt (len $videos) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-5'><img class="icon mr-3" src='{{ "/images/icons/icon-videos.svg" | relURL }}'/><h2 class="mb-0 h3">Videos</h2></div>
            <div class="col px-lg-0">
                {{ if gt (len $videos) 6 }}
                    <div class='row'>
                        {{ range first 6 $videos }}
                            <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 ">
                                <a class='youtube-container'><div class="youtube-overlay"></div><iframe class="youtube-small" type="text/html" src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?wmode=transparent&amp;rel=0&amp;modestbranding=1" wmode="Opaque" frameborder="0" allowfullscreen="true"></iframe></a>
                                <p><a class="lightbox link" href="{{ .RelPermalink }}">{{- .Title -}}</a></p>
                            </div>
                        {{ end }}
                        {{ range after 6 $videos }}
                            <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 hidden-item" style='display: none;'>
                                <a class='youtube-container'><div class="youtube-overlay"></div><iframe class="youtube-small" type="text/html" src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?wmode=transparent&amp;rel=0&amp;modestbranding=1" wmode="Opaque" frameborder="0" allowfullscreen="true"></iframe></a>
                                <p><a class="lightbox link" href="{{ .RelPermalink }}">{{- .Title -}}</a></p>
                            </div>
                        {{ end }}
                    </div>
                    <div class='w-100'>
                        <button class='btn mx-auto d-block show-all-button'>View all</button>
                    </div>
                {{ else }}
                    <div class='row'>
                        {{ range $videos }}
                            <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 ">
                                <a class='youtube-container'><div class="youtube-overlay"></div><iframe class="youtube-small" type="text/html" src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?wmode=transparent&amp;rel=0&amp;modestbranding=1" wmode="Opaque" frameborder="0" allowfullscreen="true"></iframe></a>
                                <p><a class="lightbox link" href="{{ .RelPermalink }}">{{- .Title -}}</a></p>
                            </div>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
        
    
        {{ $samples := where .Data.Pages "Section" "samples" }}
        {{ if gt (len $samples) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-5'><img class="icon mr-3" src='{{ "/images/icons/icon-code-samples.svg" | relURL }}'/><h2 class="h3 mb-0">Code Samples</h2></div>
            <div class="col px-lg-0">
                {{ if gt (len $samples) 6 }}
                <div class='row'>
                    {{ range first 6 $samples }}
                        <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 ">
                            <a class='h4' href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ with .Params.description }}<p>{{ . | markdownify }}</p>{{ end }}
                        </div>
                    {{ end }}
                    {{ range after 6 $samples }}
                        <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 hidden-item" style='display: none;'>
                            <a class='h4' href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ with .Params.description }}<p>{{ . | markdownify }}</p>{{ end }}
                        </div>
                    {{ end }}
                </div>
                <div class='w-100'>
                    <button class='btn mx-auto d-block show-all-button'>View all</button>
                </div>
                {{ else }}
                <div class='row'>
                    {{ range $samples }}
                        <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 ">
                            <a class='h4' href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ with .Params.description }}<p>{{ . | markdownify }}</p>{{ end }}
                        </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}

        
        {{ $blogs := where .Data.Pages "Section" "blog" }}
        {{ if gt (len $blogs) 0 }}
        <div class='container py-5'>
            <div class='d-flex align-items-center icon-title mb-5'><img class="icon mr-3" src='{{ "/images/icons/icon-blog.svg" | relURL }}'/><h2 class="h3 mb-0">Blogs</h2></div>
            <div class="col px-lg-0"><div class='row'>
                {{ if gt (len $blogs) 6 }}
                <div class='row'>
                    {{ range first 6 $blogs }}
                        <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 ">
                            <a class='h4' href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ with .Params.description }}<p>{{ . | markdownify }}</p>{{ end }}
                        </div>
                    {{ end }}
                    {{ range after 6 $blogs }}
                        <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 hidden-item" style='display: none;'>
                            <a class='h4' href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ with .Params.description }}<p>{{ . | markdownify }}</p>{{ end }}
                        </div>
                    {{ end }}
                </div>
                <div class='w-100'>
                    <button class='btn mx-auto d-block show-all-button'>View all</button>
                </div>
                {{ else }}
                    <div class='row'>
                    {{ range $blogs }}
                        <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 ">
                            <a class='h4' href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{ with .Params.description }}<p>{{ . | markdownify }}</p>{{ end }}
                        </div>
                    {{ end }}
                    </div>
                {{ end }}
            </div>
        </div>
        {{ end }}

      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <script>
    $( ".show-all-button" ).click(function() {
        $(this).parent().parent().find(".hidden-item:first").show( 20, function showNext() {
            $(this).next( ".hidden-item" ).show( 20, showNext );
        });
        $(this).parent().hide();
    });
  </script>

</html>

