  {{ if .Params.twitter -}}
  <a class="social mr-2" href='https://twitter.com/{{ .Params.twitter }}'><span class="fab fa-twitter fa-2x"></span></a>
  {{ end -}}
  {{ if .Params.gitHub }}
    <a class="social mr-2"  href="https://github.com/{{ .Params.github}}">
      <i class="fab fa-github fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.linkedIn }}
    <a class="social mr-2"  href="https://www.linkedin.com/in/{{ .Params.linkedin}}">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.facebook }}
    <a class="social mr-2"  href="https://www.facebook.com/{{ .Params.facebook}}">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.pinterest }}
    <a class="social mr-2"  href="https://www.pinterest.com/{{ .Params.pinterest}}">
      <i class="fab fa-pinterest fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.instagram }}
    <a class="social mr-2"  href="https://www.instagram.com/{{ .Params.instagram}}">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.youTube }}
    <a class="social mr-2"  href="https://www.youtube.com/{{ .Params.youtube}}">
      <i class="fab fa-youtube fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.website -}}
  <a class="social mr-2"  href="{{ .Params.Website }}"><span class="fas fa-home fa-2x"></span></a>
  {{ end -}}