# Hugo default output directory
/public
/resources
/serve

# Node
/node_modules

## OS Files
.DS_Store
.vscode/
.idea

# backup files
*~

# Generated audit scripts
/audit

# function config
/netlify/functions/util/config.js

# Local Netlify folder
.netlify

# We clone docsy into themes/ as part of the build process
themes/docsy
