# Hugo default output directory
/public
/resources
/serve

# Node
/node_modules

## OS Files
.DS_Store
.vscode/
.idea

# Generated audit scripts
/audit

# function config
/netlify/functions/util/config.js
/netlify/functions/util/config.js.ph2

# Local Netlify folder
.netlify