# Hugo default output directory
/public
/resources
/serve

# Node
/node_modules

## OS Files
.DS_Store
.vscode/
.idea

# Generated audit scripts
/audit

# function config
/netlify/functions/config/config.js

# Local Dev Netlify folder
.netlify

# Hugo lock file
.hugo_build.lock