# Default build settings
[build]
  publish = "public"
  command = "git submodule update -f --init --recursive && npm install && hugo"

[context.production.environment]
  HUGO_VERSION = "0.69.2"
  HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.69.2"

[context.branch-deploy]
command = "hugo -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.69.2"
