# Default build settings
[build]
  publish = "public"
  command = "make netlify-deploy"

[build.environment]
  HUGO_VERSION = "0.107.0"
  TZ='America/Los_Angeles'

[context.production.environment]
  HUGO_ENV = "production"

[dev]
  command = "make netlify-dev"
  publish = "public/developer"
  framework = "#custom"
  targetPort = 1313
  autoLaunch = false

 # File-based installation of plugins # ref https://docs.netlify.com/configure-builds/file-based-configuration/
[[plugins]]
  [plugins.inputs]
    deployPreviews = false

# Deploy Preview context only
[[context.deploy-preview.plugins]]
  package = "@netlify/plugin-lighthouse" # ref https://github.com/netlify/netlify-plugin-lighthouse#readme

  [[context.deploy-preview.plugins.inputs.audits]]
    path = "developer"
    # you can specify output_path per audit, relative to the path
    output_path = "lighthouse/index.html"

[[redirects]]
  from = "/"
  to = "/developer"
  status = 302

[[redirects]]
  from = "/developer/get-workshop/*"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/workshop-live"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/workshop-live/"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/workshop-live/*"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/auth-callback/*"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/workshops/*"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/workshop-status/*"
  to = "/developer/workshops/"
  force = true
  status = 200

# Global 404 handler
[[redirects]]
  from = "/*"
  to = "/developer/404.html"
  status = 404
