# Default build settings
[build]
  publish = "public"
  command = "make netlify-deploy"

[build.environment]
  HUGO_VERSION = "0.107.0"
  TZ='America/Los_Angeles'

[context.production.environment]
  HUGO_ENV = "production"

[dev]
  command = "make netlify-dev"
  publish = "public/developer"
  framework = "#custom"
  targetPort = 1313
  autoLaunch = false

 # File-based installation of plugins # ref https://docs.netlify.com/configure-builds/file-based-configuration/
[[plugins]]
  package = "@sentry/netlify-build-plugin" # ref https://github.com/getsentry/sentry-netlify-build-plugin#readme

  [plugins.inputs]
    deployPreviews = false

# Deploy Preview context only
[[context.deploy-preview.plugins]]
  package = "@netlify/plugin-lighthouse" # ref https://github.com/netlify/netlify-plugin-lighthouse#readme

  [[context.deploy-preview.plugins.inputs.audits]]
    path = "developer"
    # you can specify output_path per audit, relative to the path
    output_path = "lighthouse/index.html"

[[redirects]]
  from = "/"
  to = "/developer"
  status = 302

[[redirects]]
  from = "/developer/get-workshop/*"
  #to = "/.netlify/functions/get-workshop/:splat"
  to = "/developer/workshops/"
  force = true
  status = 200
  #conditions = {Role = ["user"]}

[[redirects]]
  from = "/developer/workshop-live"
  #to = "/developer/workshop-live/"
  to = "/developer/workshops/"
  force = true
  status = 200
  #conditions = {Role = ["user"]}

[[redirects]]
  from = "/developer/workshop-live/"
  #to = "/developer/workshop-live/"
  to = "/developer/workshops/"
  force = true
  status = 200
  #conditions = {Role = ["user"]}

[[redirects]]
  from = "/developer/get-workshop/*"
  #to = "/.netlify/functions/auth-start/:splat"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/auth-callback/*"
  #to = "/.netlify/functions/auth-callback/:splat"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/workshops/*"
  #to = "/.netlify/functions/auth-callback/:splat"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/workshop-live/*"
  to = "/developer/404.html"
  force = true
  status = 404

[[redirects]]
  from = "/developer/workshop-status/*"
  #to = "/.netlify/functions/workshop-status/:splat"
  to = "/developer/workshops/"
  force = true
  status = 200

[[redirects]]
  from = "/developer/data/tanzu-gemfire/*"
  to = "/developer/data/gemfire/:splat"
  force = true
  status = 301

[[redirects]]
  from = "/developer/data/tanzu-rabbitmq/*"
  to = "/developer/data/rabbitmq/:splat"
  force = true
  status = 301

[[redirects]]
  from = "/developer/data/tanzu-sql/*"
  to = "/developer/data/sql/:splat"
  force = true
  status = 301

[[redirects]]
  from = "/developer/data/tanzu-greenplum/*"
  to = "https://tanzu.vmware.com/greenplum"
  force = true
  status = 301

[[redirects]]
  from = "/developer/blog/key-requirements-of-modern-apis-for-an-end-to-end-api-lifecycle-implementation/"
  to = "https://blogs.vmware.com/security/2022/10/key-requirements-of-modern-apis-for-an-end-to-end-api-lifecycle-implementation.html"
  force = true
  status = 301

[[redirects]]
  from = "/developer/guides/tanzu-application-platform-deploying-a-workload/"
  to = "https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/1.3/tap/GUID-getting-started-deploy-first-app.html"
  force = true
  status = 301

[[redirects]]
  from = "/developer/learningpaths/inner-loop-dev-with-vmware-tanzu-application-platform/tanzu-application-platform-deploying-a-workload/"
  to = "https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/1.3/tap/GUID-getting-started-deploy-first-app.html"
  force = true
  status = 301

[[redirects]]
  from = "/developer/springone-tour/"
  to = "/developer/tv/golden-path/"
  force = true
  status = 301

[[redirects]]
  from = "/developer/springone-tour/*"
  to = "/developer/tv/golden-path/"
  force = true
  status = 301

[[redirects]]
  from = "/developer/guides/container-networking/"
  to = "/developer/guides/"
  force = true
  status = 301

# Global 404 handler
[[redirects]]
  from = "/*"
  to = "/developer/404.html"
  status = 404
