{{ define "main" }}

<script type="text/javascript">
	$(document).ready(function () {

	const decodedToken = getCookie("nf_jwt")
	if (!decodedToken || decodedToken.exp < new Date().getTime() / 1000) {
		document.getElementById("startinfo").innerHTML = "<em>(Login Required)</em>"
	}
	if (window.location.href.indexOf("ws_status=unavailable") > -1) {

	document.getElementById("startinfo").innerHTML = `<span class="fa fa-unlink"></span> All Workshops are in use. Please Try again later.`
	document.getElementById("startbutton").href ="";
	document.getElementById("startbutton").innerHTML = ``;
	document.getElementById("startbutton").classList.remove('btn');
	}
	});
	function LoadingButton() {
	document.getElementById("startbutton").innerHTML = `<span id="buttonicon" class="fa fa-hourglass"> </span> Loading...`;
	}

</script>
<div class="td-main ">
	<div class="bg-gray-dark mt-lg-5 mt-0 py-lg-5 py-2">
		<div class='container'>
			{{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
			<h1>{{ .Title }}</h1>
			<p>{{ .Description }}</p>
			<p>Approximate time: {{ .Params.length }} minutes</p>
			<div class="short-gradient-line mb-4"></div>
			<a class="btn mt-2" href="/developer/get-workshop/{{ .Params.lab }}" id="startbutton" onclick="LoadingButton()" ><span id="buttonicon" class="fa fa-cog mr-1"></span>Start Workshop</a><span class="text-muted pl-2 fs-90" id="startinfo"></span>

		</div>
	</div>

	{{ partial "amplitude.html" (dict "context" . "event" "workshop viewed") }}

	<div class="container py-5">
			{{ with $img := .Params.logo }}
		<img src={{ $img | relURL }} width="50" height="50"  Hspace="10" Vspace="5" align="left"/>
		{{end}}
		<div class="github-imported-sample">
				{{ .Content }}
		</div>

		{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
			{{ partial "feedback.html" .Site.Params.ui.feedback }}
			<br />
		{{ end }}
		{{ if (.Site.DisqusShortname) }}
			<br />
			{{ partial "disqus-comment.html" . }}
		{{ end }}
		<div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>
	</div>
</div>
{{ end }}
