{{ define "main" }}

<script type="text/javascript">
	$(document).ready(function () {

	const decodedToken = getCookie("nf_jwt")
	if (!decodedToken || decodedToken.exp < new Date().getTime() / 1000) {
		document.getElementById("startinfo").innerHTML = "<em class='mt-4'>Login Required</em>"
	}
	if (window.location.href.indexOf("ws_status=unavailable") > -1) {

	document.getElementById("startinfo").innerHTML = `<span class="fa fa-unlink"></span> All Workshops are in use. Please Try again later.`
	document.getElementById("startbutton").href ="";
	document.getElementById("startbutton").innerHTML = ``;
	document.getElementById("startbutton").classList.remove('btn');
	}
	});
	function LoadingButton() {
	document.getElementById("startbutton").innerHTML = `<span id="buttonicon" class="fa fa-hourglass"> </span> Loading...`;
	}

</script>
<div class='container mt-md-5 mt-2 pt-md-5 pt-3'>
	<div class='mt-2'>
		{{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
	</div>
</div>
<div class='container d-flex flex-lg-row flex-column justify-content-between py-lg-5 py-2'>
	<div class="td-main px-0 workshop-description">
			<div class='container'>
				<h1>{{ .Title }}</h1>
				<h4 class='text-white mb-4'>{{ .Description }}</h4>
				<p class='text-uppercase text-white fs-75 letter-spacing-wide'><i class="fas fa-hourglass-half mr-2"></i>{{ .Params.length }} minutes</p>
				<a class="btn mt-4" href="/developer/get-workshop/{{ .Params.lab }}" id="startbutton" onclick="LoadingButton()" >Start Workshop</a><span class="text-muted pl-2 fs-90 mt-4 align-middle d-inline-block" id="startinfo"></span>
			</div>
	
	
		{{ partial "amplitude.html" (dict "context" . "event" "workshop viewed") }}
	
		<div class="container pb-5">
				<!-- {{ with $img := .Params.logo }}
					<img src={{ $img | relURL }} width="50" height="50"  Hspace="10" Vspace="5" align="left"/>
				{{end}} -->
		
			{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
				{{ partial "feedback.html" .Site.Params.ui.feedback }}
				<br />
			{{ end }}
			{{ if (.Site.DisqusShortname) }}
				<br />
				{{ partial "disqus-comment.html" . }}
			{{ end }}
			<!-- <div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div> -->
		</div>
	</div>
	{{ with $preview := .Params.preview}}
		<img class='align-self-start workshop-preview px-0 mt-2' src={{ $preview| relURL }}>
	{{end}}
</div>
<div class='container'>
	<hr class='border-bottom'>
</div>
<div class="container github-imported-sample py-lg-5 py-2 mb-5 d-flex">
	<div class='col-lg-9 col-12 px-0'>
		{{ .Content }}
	</div>
</div>
{{ end }}

