{{ define "main" }}

{{ partial "hero-no-bg.html" . }}

<div class="td-content">
	<div class='container'>
		{{ .Content }}
		<br/>

		{{ if eq .Data.Plural "topics" }}
			{{ partial "topics-index.html" . }}
		{{ else }}
			{{ partial "boxes-index.html" . }}
		{{ end }}

		{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
			{{ partial "feedback.html" .Site.Params.ui.feedback }}
			<br />
		{{ end }}
		{{ if (.Site.DisqusShortname) }}
			<br />
			{{ partial "disqus-comment.html" . }}
		{{ end }}
		<div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>
	</div>
</div>
{{ end }}

