{{ define "main" }}

{{ $class := replace .Page.Section "." "-" | lower }}
<section id="hero" class="{{ $class }}-episode-hero td-box--gray-dark mt-7 pt-4 pb-5">
  	<div class="container">
		{{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
    <h1 class="h1 mt-4 pt-2"> {{- .Title -}}</h1>
		<div class="lead"><p>{{- .Params.description}}</p></div>
   
    {{ if .Params.streaming }}
    <div id="twitch-embed"></div>

    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type="text/javascript">
   
      var check = isTvShowLive("{{ .Title }}");
      if (check) {
        
        new Twitch.Embed("twitch-embed", {
            width: 1130,
            height: 480,
            channel: "makejarnotwar",
        });
      }

    </script>
    {{ end }}
    
   </div>

</section>

<div class='container'>
  {{ .Content }}
  {{ partial "episode-index.html" . }}
</div>

{{ end }}

