{{ define "main" }}

{{ $class := replace .Page.Section "." "-" | lower }}
<section id="hero" class="{{ $class }}-episode-hero bg-gray-dark mt-7 pt-4 pb-5">
	<div class="container">
		{{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
        <h1 class="h1 mt-4 pt-2"> {{ .Parent.Title -}}</h1>
        <div class="lead"><p>{{- .Parent.Params.description | markdownify }}</p></div>
    </div>
</section>

<div class='container'>
    <div id="youtube" class="row justify-content-center mt-5">
        <div class="col-lg-9 col-12 px-0">
            <h2 class="mb-4"> {{- .Title -}}</h2>
            <div class="youtube-video-shortcode">
                <iframe src="https://www.youtube.com/embed/{{ .Params.youtube_id }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-lg-9 col-12 px-0">
            <p>{{ .Description }}</p>
            {{ if .Content }}
              <p>{{ .Content }}</p>
            {{ end }}
          </div>          
    </div>
    <div class="row justify-content-center mb-5 text-center">
        <div class="col-lg-9 col-12 px-0 d-flex">
          <div class="feedback mt-4 pt-4 w-100 text-left border-top">
            <a href="https://github.com/vmware-tanzu/tanzu-dev-portal/issues/new?assignees=&labels=bug&template=bug_report.md&title=Videos Issue: {{ .Title }}"><i class="fab fa-github mr-2"></i><span class="align-top">Report an issue</span></a>
          </div>
        </div>
      </div>
</div>

{{ end }}