+++
title = "Tanzu Dev"
linkTitle = "Tanzu Dev"
+++

{{% blocks/lead color="primary" %}}
Tanzu lets developers build applications with velocity, run open source Kubernetes with consistency, and manage your entire footprint with confidence.
{{% /blocks/lead %}}

{{< blocks/featured-section color="dark" >}}

{{< blocks/section color="gray" >}}

<div class="col-12 mb-3">
    <h2>Dive In</h2>
</div>

{{< blocks/topic url_text="Spring" >}}
{{< blocks/topic url_text="Kubernetes" >}}
{{< blocks/topic url_text="Containers" >}}
{{< blocks/topic url_text="Microservices" >}}
{{< blocks/topic url_text="Serverless" >}}
{{< blocks/topic url_text="CI/CD" >}}
{{< blocks/topic url_text="Messaging and Integration" >}}
{{< blocks/topic url_text="Event Streaming" >}}
{{< blocks/topic url_text="Reactive" >}}

{{< /blocks/section >}}

{{< blocks/section >}}

{{% blocks/feature icon="faf fa-book" title="Getting Started Guides" url="/guides" %}}
Getting Started **Guides**: Start here to learn how Tanzu can help you build modern apps!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Code Samples" url="/samples" %}}
Code **Samples**: Check out working code samples as reference!
{{% /blocks/feature %}}

{{% blocks/feature icon="faf fa-video" title="Video" url="/videos" %}}
Demo **Videos**: See demos of Tanzu in action!
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Upcoming Events</h1>
</div>

{{< /blocks/section >}}