+++
title = "VMware Tanzu Developer Center"
linkTitle = "VMware Tanzu Developer Center"
description = "VMware Tanzu Developer Center provides tools for DevOps engineers, automation experts, and developers. Explore blog postings, guides, code samples, and more."
+++

{{% blocks/lead color="dark" %}}
Build better. Deploy faster.
{{% /blocks/lead %}}

<!-- {{< blocks/featured-section color="gray-dark" >}} -->


<!-- <div class="col-12 mb-4">
    <h2 class="text-center">Explore</h2>
</div> -->

{{< blocks/section color="dark" type="justify-content-center" >}}



{{< blocks/topic url_text="Modern App Basics" >}}
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
{{< /blocks/topic >}}

{{< blocks/topic url_text="Building a Kubernetes Runtime" >}}
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
{{< /blocks/topic >}}

{{< blocks/topic url_text="Managing & Operating Kubernetes" >}}
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
{{< /blocks/topic >}}

{{< blocks/topic url_text="Building Modern Apps" >}}
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
{{< /blocks/topic >}}

{{< blocks/topic url_text="Modernizing Applications" >}}
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
{{< /blocks/topic >}}

{{< blocks/topic url_text="Deploying Applications" >}}
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
{{< /blocks/topic >}}

{{< blocks/topic url_text="Managing & Operating Applications" >}}
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
{{< /blocks/topic >}}

{{< blocks/topic url_text="Agile Practices" >}}
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
{{< /blocks/topic >}}

{{< /blocks/section >}}

{{< blocks/section color="gray-dark" >}}

<!-- Get Started with Tanzu -->
<div class="gs-tanzu col-lg-10 mb-0 mb-lg-0 mx-auto">
  <a href="#" class="mb-0 text-white d-block">
    Get Started with Tanzu >
  </a>
</div>

{{< /blocks/section >}}

{{< blocks/section color="gray-dark" >}}

<!-- Featured Learning Paths -->
<div class="col-sm-12 pb-4">
  <h3>Featured Learning Paths</h3>
</div>

{{< blocks/learning-path title="Application Observability" length="20" level="Beginner" >}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
{{< /blocks/learning-path >}}

{{< blocks/learning-path title="Deploy to Kubernetes" length="30" level="Beginner" >}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
{{< /blocks/learning-path >}}

{{< blocks/learning-path title="Monitoring Spring" length="30" level="Intermediate" >}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
{{< /blocks/learning-path >}}

{{< /blocks/section >}}

{{< blocks/section color="gray-dark" >}}

<div class="col-sm-12 pb-4">
  <h3>Languages</h3>
</div>
{{< blocks/language url_text="Java" >}}
{{< blocks/language url_text=".NET" >}}
{{< blocks/language url_text="Ruby" >}}
{{< blocks/language url_text="Python" >}}

{{< /blocks/section >}}


<!-- {{% blocks/feature icon_path="/images/icons/icon-guides.svg" title="Getting Started Guides" url="/guides" %}}
Learn about the tech that powers modern apps.
{{% /blocks/feature %}}

{{% blocks/feature icon_path="/images/icons/icon-code-samples.svg"  title="Code Samples" url="/samples" %}}
Check out working code samples as reference.
{{% /blocks/feature %}}

{{% blocks/feature icon_path="/images/icons/icon-videos.svg" title="Video" url="/videos" %}}
Watch demos of app development in action.
{{% /blocks/feature %}} -->

<!-- 
{{< blocks/section color="dark" >}}
<div class="col-12">
<h1 class="text-center">Upcoming Events</h1>
</div>

{{< /blocks/section >}}
 -->

<script>sendAmplitudeEventOnLoad('home viewed', {'url path': window.location.pathname});</script>