+++
title = "VMware Tanzu Developer Center"
linkTitle = "VMware Tanzu Developer Center"
description = "VMware Tanzu Developer Center provides tools for DevOps engineers, automation experts, and developers. Explore blog postings, guides, code samples, and more."
+++

{{% blocks/lead color="gray-dark" %}}
Build better. Deploy faster.
{{% /blocks/lead %}}

{{< blocks/featured-section color="gray-dark" >}}

{{< blocks/section color="dark" >}}

<div class="col-12 mb-4">
    <h2 class="text-center">Explore</h2>
</div>

{{< blocks/topic url_text="Spring" icon_path="/images/icons/icon-spring.svg" >}}
{{< blocks/topic url_text="Kubernetes" icon_path="/images/icons/icon-kubernetes.svg" >}}
{{< blocks/topic url_text="Containers" icon_path="/images/icons/icon-containers.svg" >}}
{{< blocks/topic url_text="Microservices" icon_path="/images/icons/icon-microservices.svg" >}}
{{< blocks/topic url_text="Python" icon_path="/images/icons/icon-python.svg" >}}
{{< blocks/topic url_text="Serverless" icon_path="/images/icons/icon-serverless.svg" >}}
{{< blocks/topic url_text="CI/CD" icon_path="/images/icons/icon-cicd.svg" >}}
{{< blocks/topic url_text="Messaging & Integration" icon_path="/images/icons/icon-messaging.svg" >}}
{{< blocks/topic url_text="Reactive" icon_path="/images/icons/icon-reactive.svg" >}}
{{< blocks/topic url_text="Event Streaming" icon_path="/images/icons/icon-streaming.svg" >}}
{{< blocks/topic url_text="Agile" icon_path="/images/icons/icon-agile.svg" >}}



{{< /blocks/section >}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon_path="/images/icons/icon-guides.svg" title="Getting Started Guides" url="/guides" %}}
Learn about the technology that powers modern apps.
{{% /blocks/feature %}}

{{% blocks/feature icon_path="/images/icons/icon-code-samples.svg"  title="Code Samples" url="/samples" %}}
Check out working code samples as reference.
{{% /blocks/feature %}}

{{% blocks/feature icon_path="/images/icons/icon-videos.svg" title="Video" url="/videos" %}}
Watch demos of modern app development in action.
{{% /blocks/feature %}}

{{< /blocks/section >}}

<!-- 
{{< blocks/section color="dark" >}}
<div class="col-12">
<h1 class="text-center">Upcoming Events</h1>
</div>

{{< /blocks/section >}}
 -->

<script>sendAmplitudeEventOnLoad('home viewed', {'url path': window.location.pathname});</script>