{{ define "main" }} {{/* {{ partial "hero.html" . }} */}}
<div id="hero" class="workshops-hero overflow-hidden td-box--gray-dark mt-lg-5 mt-7 py-lg-5">
    <div class="container">
        <div class="row align-items-center py-lg-5">
            <div class="col-12">
                <h1>{{ .Title }}</h1>
                <p class="lead">{{ .Description }}</p>
            </div>
        </div>
    </div>
</div>

<div class="td-content">
    {{ .Content }} {{ partial "workshops-index.html" . }} {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
    {{ partial "feedback.html" .Site.Params.ui.feedback }}
    <br />
    {{ end }} {{ if (.Site.DisqusShortname) }}
    <br />
    {{ partial "disqus-comment.html" . }} {{ end }}
    <div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>
</div>
{{ end }}
