// The outer page container i.e. common styles for any page.
.td-outer {
    display: flex;
    flex-direction: column;
    // height: 100vh;
    background-color: $dark;
    background-color: #0f181c;
    transition: all .2s ease-out;
    opacity: 1;

    &.dim {
        opacity: .3;
    }
}

// The outer page container for the default base template.
.td-default {
    main {
        section:first-of-type {
            @include media-breakpoint-up(md) {
                // padding-top: 5rem;
                // padding-bottom: 0;
            }
        }

        section {
            @extend .td-block-padding;
        }
    }
}

.td-main {
    // flex-grow: 1;
    // margin-top: 2rem;
    background-color: $dark;

    main {
        @include media-breakpoint-up(md) {
            // padding-top: 5.5rem;
            padding-top: 0;
        }


        padding-bottom: 2rem;
    }
}
