// Search Input

.search_icon {
    margin: 0;
}

.search {
    text-align: left;
    text-transform: none;
    position: relative;
    cursor: pointer;
    z-index: 100;
}
  
.search .search-icon svg:nth-child(2) {
    display: none;
}
  
.search .search-icon.close svg:first-child {
    display: none;
}
  
.search .search-icon.close svg:nth-child(2) {
    display: block;
}
  
.search-icon,
#search-nav svg {
    height: 25px;
    width: 25px;
    cursor: pointer;
}
  
.search-icon .b,
#search-nav svg .b {
    fill: white;
}
  
#searchbodyform input,
#searchheaderform input {
    background: transparent;
    border-radius: 0;
    padding: 0 0 0 23px;
    height: 26px;
    margin: 2px 0 0;
    font-size: 16px;
    border: none;
}

#searchbodyform input {
  color: #61717D;
}
  
#searchbodyform input:focus,
#searchheaderform input:focus {
    outline: none !important;
}
  
#searchbodyform #searchbodysubmit,
#searchbodyform #searchheadersubmit,
#searchheaderform #searchbodysubmit,
#searchheaderform #searchheadersubmit {
    display: none;
}
  
#search-nav {
    background: #31424F;
    position: absolute;
    top: 79px;
    width: 100%;
    padding: 18px 0 18px 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    z-index: -1;
    transition: background-color .2s ease-out;
}
  
#search-nav svg {
    right: 3px;
    position: absolute;
    top: 4px;
}

// Mobile search
@media (max-width: 991px) {
    #search-nav {
      display: none !important;
    }
    .search {
      display: none !important;
    }
}

#searchheaderform {
    width: 98%;
    display: inline-block;
}
  
#searchheaderform .fa-search {
    display: inline-block;
    float: right;
}
  
#searchheaderform input {
    padding: 2px 0 0 0;
    font-size: 17px;
    color: $light;
    font-weight: 300;
    width: 100%;
}
  
#searchheaderform ::placeholder {
    color: $light;
}

// Results Page

.searchresultscontainer {
  margin-bottom: 48px;
}

.searchpadding {
    padding: 50px 0 10px;
}

.searchresultscontainer,
.search-links {
  display: inline-block;
  vertical-align: top;
}

.search-links {
  max-width: 20%;
}

.gs-result {
  margin-bottom: 10px;
}

.searchresultscontainer {
  max-width: 80%;
  float: right;
  width: 100%;
}

.gsc-tabHeader {
  cursor: pointer;
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  margin-bottom: 28px;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  margin-right: 10px;
  display: inline-block;
}

.gs-per-result-labels,
.gsc-orderby-container,
.gsc-result-info-container,
.gsc-table-cell-thumbnail, 
.gs-promotion-image-cell,
.gs-imageResult .gs-snippet, 
.gs-fileFormatType,
.gs-webResult div.gs-visibleUrl-long {
  display: none !important;
}

table {
  border-collapse: collapse;
}

@media(max-width: 900px) {
  .searchresultscontainer,
  .search-links {
    max-width: 100%;
  }
  .search-links {
    margin-bottom: 20px;
  }
  html > body .gsc-inline-block {
    display: inline-block !important;
    margin: 0 10px 15px 0;
  }
  .gsc-tabHeader.active-tab, .gsc-tabHeader.gsc-tabHeader:hover,
  .gsc-tabHeader.gsc-tabHeader {
    padding-right: 10px !important;
  }
}


// Google Site Search

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
  }
  
  .gsc-webResult .gsc-result {
    border-bottom: none !important;
    padding-bottom: 20px !important;
  }
  
  .gsc-tabsArea {
    border-color: #999999 !important;
  }
  
  .cse .gsc-cursor-box,
  .gsc-cursor-box {
    border-top: none !important;
  }
  
  .gsc-control-cse .gsc-table-result {
    border-bottom: none !important;
    font-family: inherit !important;
  }
  
  .cse .gsc-webResult.gsc-result,
  .gsc-webResult.gsc-result,
  .gsc-imageResult-classic,
  .gsc-imageResult-column {
    padding: 0 !important;
  }
  
  .cse .gsc-tabHeader.active-tab,
  .gsc-tabHeader.active-tab,
  .cse .gsc-tabHeader.gsc-tabHeader,
  .gsc-tabHeader.gsc-tabHeader {
    color: #25333d !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
  }
  
  .gsc-tabHeader.gsc-tabHeader {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 0 8px 0px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
  }
  
  .gsc-tabHeader.gsc-tabHeader:hover,
  .gsc-tabHeader.active-tab {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 0 8px 0px !important;
  }

  .gsc-tabHeader.active-tab {
    font-weight: 500;
  }

  .gsc-tabHeader.gsc-tabHeader span {
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    color: #ADBBC4;
  }
  
  .gsc-tabHeader.gsc-tabHeader:hover span,
  .gsc-tabHeader.active-tab span {
    padding: 0 0 8px 0px;
  }

  .gsc-tabHeader.gsc-tabHeader:hover span {
    color: #49AFD9;
  }

  .gsc-tabHeader.active-tab span {
    color: white;
  }
  
  .cse .gsc-tabHeader, .gsc-tabHeader {
    font-size: 17px !important;
    text-transform: none !important;
    cursor: pointer;
  }
  
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    background-color: transparent !important;
    color: #25333d !important;
    margin-right: 10px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    color: #25333d !important;
    font-weight: 200 !important;
    padding: 0 !important;
  }
  
  .gs-web-image-box,
  .gs-promotion-image-box {
    padding: 0 !important;
    width: 0 !important;
  }
  
  .gs-per-result-labels,
  .gsc-orderby-container,
  .gsc-result-info-container,
  .gsc-table-cell-thumbnail,
  .gs-promotion-image-cell,
  .gs-imageResult .gs-snippet,
  .gs-fileFormatType,
  .gs-webResult div.gs-visibleUrl-long {
    display: none !important;
  }
  
  .gs-webResult .gs-snippet {
    color: #61717d !important;
    font-size: 16px !important;
    line-height: 1.55em !important;
  }
  
  .gsc-result-info {
    color: #61717d;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .gs-webResult div.gs-visibleUrl,
  .gs-imageResult div.gs-visibleUrl,
  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b,
  .gs-imageResult a.gs-title:visited,
  .gs-imageResult a.gs-title:visited b,
  .gsc-control-cse .gs-spelling,
  .gsc-control-cse .gs-result .gs-title,
  .gsc-control-cse .gs-result .gs-title * {
    color: #49AFD9;
    text-shadow: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    margin: 0 0 5px 0;
  }
  
  .gs-webResult div.gs-visibleUrl,
  .gs-imageResult div.gs-visibleUrl {
    color: #1d428a !important;
    font-weight: 400;
  }
  
  .cse .gsc-tabsArea, .gsc-tabsArea,
  .gsc-above-wrapper-area {
    border-bottom: none !important;
  }
  
  body#search .searchresultscontainer,
  body#search .search-links {
    display: inline-block;
    vertical-align: top;
  }
  
  body#search .search-links {
    max-width: 20%;
  }
  
  .gs-result {
    margin-bottom: 10px;
  }
  
  body#search .searchresultscontainer {
    max-width: 80%;
    float: right;
    width: 100%;
  }
  
  html > body .gsc-inline-block {
    display: block !important;
    margin-bottom: 20px;
  }
  
  .gsc-above-wrapper-area {
    display: none;
    padding: 15px 0 !important;
  }
  
  .gsc-results-wrapper-overlay {
    background: white !important;
  }
  
  .gsc-modal-background-image {
    background-color: black !important;
  }
  
  .gs-result .gs-title,
  .gs-result .gs-title * {
    font-size: 20px;
    text-decoration: none !important;
  }
  
  .cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page, .gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    text-shadow: none !important;
  }

  .gsc-cursor-box {
    margin-top: 2.5rem;    
  }

  .gsc-cursor-page a {
    font-weight: normal;
    color: white;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }

  .gsc-cursor-box a:hover {
    color: white;
    background-color: #49AFD9;
    border-color: #49AFD9;
  }

  .gsc-cursor-current-page a,
  .gsc-cursor-current-page a:hover {
    color: white;
    background-color: #22343C;
    border-color: #485764;
  }

  
  .gsc-webResult.gsc-result,
  .gsc-results .gsc-imageResult {
    border-color: transparent !important;
    background: transparent !important;
  }
  
  .gsc-webResult.gsc-result:hover,
  .gsc-imageResult:hover {
    border-color: transparent !important;
    background-color: transparent !important;
  }
  
  .gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b,
  .gs-imageResult a.gs-title:hover,
  .gs-imageResult a.gs-title:hover b {
    color: #2588B1 !important;
  }
  
  .gsc-result .gs-title {
    line-height: 1em;
    display: block !important;
    height: 100% !important;
  }
  
  .gssb_c .gsc-completion-container {
    display: none;
  }
  
  .gsc-control-cse {
    font-family: inherit !important;
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
  }
  
  form.gsc-search-box {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .gsc-input input.gsc-input {
    border-radius: 0;
    padding: 0 7px 0 23px;
    width: 0;
    height: 26px;
    margin: 2px 0 0;
    color: inherit;
    font-weight: 200;
  }
  
  input.gsc-input {
    border: none !important;
  }
  
  td.gsc-search-button,
  td.gsc-clear-button {
    display: none;
  }
  
  table.gsc-search-box {
    margin-bottom: 0 !important;
  }
  
  .cse table.gsc-search-box td.gsc-input, table.gsc-search-box td.gsc-input {
    padding-left: 15px !important;
  }
  
  .gsc-table-result {
    border-collapse: collapse;
  }
  
  .gsc-table-result td {
    padding-bottom: 40px;
  }
  
  body#search #searchbodyinput,
  body#support-index #searchbodyinput {
    border: 1px solid #D9E4EA !important;
    box-shadow: none !important;
    width: 97% !important;
    height: 45px !important;
    background: white;
    margin-bottom: 15px;
    font-size: 17px;
    /* Firefox 18- */
    /* Firefox 19+ */
    /* oldIE ;) */
  }
  
  body#search #searchbodyinput:focus::-webkit-input-placeholder,
  body#support-index #searchbodyinput:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  body#search #searchbodyinput:focus:-moz-placeholder,
  body#support-index #searchbodyinput:focus:-moz-placeholder {
    color: transparent;
  }
  
  body#search #searchbodyinput:focus::-moz-placeholder,
  body#support-index #searchbodyinput:focus::-moz-placeholder {
    color: transparent;
  }
  
  body#search #searchbodyinput:focus:-ms-input-placeholder,
  body#support-index #searchbodyinput:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  body#search .content,
  body#support-index .content {
    padding-bottom: 100px;
  }
  
  .fiftytable {
    border-collapse: collapse;
    width: 100%;
    background: transparent;
  }
  
  .fiftytable td {
    width: 50%;
    height: auto;
    border-bottom: none;
  }
  
  @media (max-width: 900px) {
      body#search .searchresultscontainer,
  body#search .search-links {
      max-width: 100%;
    }
      html > body .gsc-inline-block {
      display: inline-block !important;
      margin: 0 10px 5px 0;
    }
      .gsc-tabHeader.active-tab, .gsc-tabHeader.gsc-tabHeader:hover,
  .gsc-tabHeader.gsc-tabHeader {
      padding-right: 10px !important;
    }
      .gsc-table-result {
      margin-top: 50px;
    }
      body#search #searchbodyinput {
      width: 90% !important;
    }
      .fiftytable td {
      width: 100% !important;
      display: grid;
    }
  }