@import "support/mixins";
@import "../vendor/bootstrap/scss/bootstrap";

.guide .td-sidebar-nav__subsection-title a:after {
    padding-left: 5px;
    content: url({{ "/images/icons/arrow-right.svg" | relURL }});
  }
  
  .guide .td-sidebar-nav__subsection-title a.active:after,
  .guide .td-sidebar-nav__subsection-title a.selected:after {
    content: url({{ "/images/icons/arrow-down.svg" | relURL }});
  }
  
  .guide .td-sidebar-nav h5 {
    margin-top: 30px;
  }
  
  .guide .td-sidebar-nav h5 a {
    font-size: .75rem;
    color: white;
  }
  
  .guide .td-sidebar-nav h5 a:before {
    padding-right: 10px;
    content: url({{ "/images/icons/arrow-left-white.svg" | relURL }});
  }
  
  .guide a.linked-box {
    @media(min-width: 992px) {
      min-height: 200px;
    }
    height: auto;
  }
  
  .relative {
    position: relative;
  }
  
  #hero {
      background-repeat: no-repeat;
      background-position: right;
      min-height: 300px;
      padding: 80px 0;
      box-sizing: border-box;
      p {
        // color: white;
      }
      &.no-bg {
        background-image: none;
        min-height: auto;
      }
      &.guides-hero {
        background-image: url({{ "/images/backgrounds/background-guides.svg" | relURL }});
      }
      &.outcomes-hero {
        background-image: url({{ "/images/backgrounds/background-patterns.svg" | relURL }});
      }
      &.samples-hero {
        background-image: url({{ "/images/backgrounds/background-samples.svg" | relURL }});
      }
      &.videos-hero {
        background-image: url({{ "/images/backgrounds/background-video.svg" | relURL }});
      }
      &.community-hero {
        background-image: url({{ "/images/backgrounds/background-community.svg" | relURL }});
      }
      &.practices-hero {
        background-image: url({{ "/images/backgrounds/background-practices.svg" | relURL }});
      }
      &.team-hero,
      &.advocates-hero {
        background-color: transparent !important;
        min-height: 200px;
        padding-bottom: 0;
      }
      &.tanzu-tv-hero {
        background-color: transparent !important;
        min-height: 165px;
        padding-bottom: 0;
      }
      &.tv-episode-hero {
        min-height: 100px;
      }
      @media(max-width: 1200px) {
        &.outcomes-hero {
          .lead {
            max-width: 620px;
          }
          background-image: url({{ "/images/backgrounds/header-mobile.svg" | relURL }}) !important;
          background-position: right -50px bottom;
          padding-bottom: 220px;
        }
      }
      @media(max-width: 991px) {
        &.guides-hero,
        &.samples-hero,
        &.videos-hero,
        &.practices-hero,
        &.community-hero {
          background-image: url({{ "/images/backgrounds/header-mobile.svg" | relURL }}) !important;
          background-position: right -50px bottom;
          padding-bottom: 160px;
        }
      }
      @media(max-width: 480px) {
        &.guides-hero,
        &.patterns-hero,
        &.samples-hero,
        &.videos-hero,
        &.practices-hero,
        &.community-hero {
          background-size: 130%;
        }
      }
      @media(max-width: 390px) {
        padding-top: 60px;
        padding-bottom: 100px;
        &.guides-hero,
        &.patterns-hero,
        &.samples-hero,
        &.videos-hero,
        &.practices-hero,
        &.community-hero {
          background-size: 170%;
        }
      }
      @media(max-width: 390px) {
        .flex {
          flex-direction: column;
          align-items: start !important;
          .icon {
            margin-bottom: 20px;
          }
        }
      }
    }
  
  footer {
      min-height: 150px;
  
      @include media-breakpoint-down(md) {
           min-height: 200px;
      }
  }
  
  // Adjust anchors vs the fixed menu.
  @include media-breakpoint-up(md) {
    .td-offset-anchor:target {
      display: block;
      position: relative;
      top: -4rem;
      visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
      display: block;
      content: " ";
      margin-top: -5rem;
      height: 5rem;
      visibility: hidden;
    }
  }

.data-service-left-edge {
  border-left-style: solid;
  position: absolute;
  width: 4px;
  top: -100%;
  left: 0;
  bottom: 0;
}

.left-edge-color-blue {
  border-left-color: rgba(73, 175, 217, 1);
}

.left-edge-color-gray {
  border-left-color: rgba(173, 187, 196, 1);
}
;

.left-edge-color-green {
  border-left-color: rgba(96, 181, 21, 1);;
}


.data-service-landing-page-product-tile {
  .icon {
    float: left;
  }

  .h4 {
    padding-top: 0.5rem;
  }

  p {
    float: left;
  }
}

  .carousel {
    display: block;
    position: absolute;
    -webkit-transform: translateZ(0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // width: 55%;
    min-width: 550px;
    margin: auto;
    // font-size: 0;
    // background: #505456;
    // padding: 8px;
    // border-radius: 6px;
    // box-shadow: 0 4px 10px #000;
    height: fit-content; // height: 200px;
    -webkit-overflow-scrolling: touch;
  }
  .touch .carousel {
    overflow: auto;
  }
  .carousel:before, .carousel:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 50px;
    font-size: 80px;
    line-height: 190px;
    font-family: arial;
    color: #2ab1ce;
    font-weight: bold;
    pointer-events: none;
    transition: 0.2s ease-out;
  }
  .carousel:before {
    content: '\2039';
    left: 0;
    text-align: left;
    text-indent: -20px;
    box-shadow: 50px 0 20px -20px #292B2C inset;
  }
  .carousel:after {
    content: '\203A';
    right: 0;
    text-align: right;
    text-indent: 40px;
    box-shadow: -50px 0 20px -20px #292B2C inset;
  }
  .carousel.right:after, .carousel.left:before {
    opacity: 1;
  }
  .carousel.right:after {
    right: 0;
    text-indent: 60px;
  }
  .carousel.left:before {
    left: 0;
    text-indent: -40px;
  }
  .carousel > a {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    color: #CCC;
    font-size: 1.5em;
    transition: 0.1s;
  }
  .carousel > a:hover {
    color: #FFF;
  }
  .carousel > a.prev {
    left: -20px;
  }
  .carousel > a.next {
    right: -20px;
  }
  .carousel > .slide {
    pointer-events: none;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    background: #2ab1ce;
    height: 4px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s, bottom 0.2s;
  }
  .carousel:hover > .slide {
    opacity: 1;
    bottom: -10px;
  }
  .carousel > .wrap {
    overflow: hidden;
    border-radius: 5px;
  }
  .carousel > .wrap > ul {
    list-style: none;
    white-space: nowrap;
    // height: 200px;
  }
  .carousel > .wrap > ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 0 0 5px;
    position: relative;
    overflow: hidden;
    transition: 0.25s ease-out;
  }
  .carousel > .wrap > ul > li:first-child {
    margin: 0;
  }
  .carousel > .wrap > ul > li > div {
    display: block;
    height: 100%;
    margin: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    transition: 1s ease;
  }