@import "support/mixins";
@import "../vendor/bootstrap/scss/bootstrap";

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

.guide .td-sidebar-nav__subsection-title a:after {
    padding-left: 5px;
    content: url({{ "/images/icons/arrow-right.svg" | relURL }});
  }
  
  .guide .td-sidebar-nav__subsection-title a.active:after,
  .guide .td-sidebar-nav__subsection-title a.selected:after {
    content: url({{ "/images/icons/arrow-down.svg" | relURL }});
  }
  
  .guide .td-sidebar-nav h5 {
    margin-top: 30px;
  }
  
  .guide .td-sidebar-nav h5 a {
    font-size: .75rem;
    color: white;
  }
  
  .guide .td-sidebar-nav h5 a:before {
    padding-right: 10px;
    content: url({{ "/images/icons/arrow-left-white.svg" | relURL }});
  }
  
  .guide a.linked-box {
    @media(min-width: 992px) {
      min-height: 200px;
    }
    height: 100%;
  }
  
  .relative {
    position: relative;
  }

  #hero {
      background-repeat: no-repeat;
      background-position: right;
      min-height: 300px;
      padding: 80px 0;
      box-sizing: border-box;
      p {
        // color: white;
      }
      &.no-bg {
        background-image: none;
        background-color: transparent !important;
        min-height: auto;
      }
      &.guides-hero {
        background-image: url({{ "/images/backgrounds/background-guides.svg" | relURL }});
      }
      &.learningpaths-hero {
        background-image: url({{ "/images/backgrounds/background-patterns.svg" | relURL }});
      }
      &.samples-hero {
        background-image: url({{ "/images/backgrounds/background-samples.svg" | relURL }});
      }
      &.videos-hero {
        background-image: url({{ "/images/backgrounds/background-video.svg" | relURL }});
      }
      &.data-hero,
      &.community-hero {
        background-image: url({{ "/images/backgrounds/background-community.svg" | relURL }});
      }
      &.tanzupractices-hero {
        background-image: url({{ "/images/backgrounds/background-practices.svg" | relURL }});
      }
      &.team-hero,
      &.advocates-hero {
        background-color: transparent !important;
        min-height: 200px;
        padding-bottom: 0;
      }
      &.tanzu-tv-hero {
        background-color: transparent !important;
        min-height: 165px;
        padding-bottom: 0;
      }
      &.tv-episode-hero {
        min-height: 100px;
      }
      @media(max-width: 1200px) {
        &.data-hero,
        &.learningpaths-hero {
          .lead {
            max-width: 620px;
          }
          background-image: url({{ "/images/backgrounds/header-mobile.svg" | relURL }}) !important;
          background-position: right -50px bottom;
          padding-bottom: 220px;
        }
      }
      @media(max-width: 991px) {
        &.data-hero,
        &.tanzupractices-hero,
        &.guides-hero,
        &.samples-hero,
        &.videos-hero,
        &.practices-hero,
        &.community-hero {
          background-image: url({{ "/images/backgrounds/header-mobile.svg" | relURL }}) !important;
          background-position: right -50px bottom;
          padding-bottom: 160px;
        }
      }
      @media(max-width: 480px) {
        &.guides-hero,
        &.patterns-hero,
        &.samples-hero,
        &.videos-hero,
        &.practices-hero,
        &.community-hero {
          background-size: 130%;
        }
      }
      @media(max-width: 390px) {
        padding-top: 60px;
        padding-bottom: 100px;
        &.guides-hero,
        &.patterns-hero,
        &.samples-hero,
        &.videos-hero,
        &.practices-hero,
        &.community-hero {
          background-size: 170%;
        }
      }
      @media(max-width: 390px) {
        .flex {
          flex-direction: column;
          align-items: start !important;
          .icon {
            margin-bottom: 20px;
          }
        }
      }
    }

  footer {
      min-height: 150px;
  
      @include media-breakpoint-down(md) {
           min-height: 200px;
      }
  }
  
  // Adjust anchors vs the fixed menu.
  @include media-breakpoint-up(md) {
    .td-offset-anchor:target {
      display: block;
      position: relative;
      top: -4rem;
      visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
      display: block;
      content: " ";
      margin-top: -5rem;
      height: 5rem;
      visibility: hidden;
    }
  }

.data-service-left-edge {
  border-left-style: solid;
  position: absolute;
  width: 4px;
  top: -100%;
  left: 0;
  bottom: 0;
}

.left-edge-color-blue {
  border-left-color: rgba(73, 175, 217, 1);
}

.left-edge-color-gray {
  border-left-color: rgba(173, 187, 196, 1);
}

.left-edge-color-green {
  border-left-color: rgba(96, 181, 21, 1);;
}


.data-service-landing-page-product-tile {
  .icon {
    float: left;
  }

  .h4 {
    padding-top: 0.5rem;
  }

  p {
    float: left;
  }
}

.td-home {
  #gradients {
    pointer-events: none;
  }
  #gradient-one {
    left: 40px;
    height: 295px;
    max-width: none;
    opacity: 0;
    animation: fadeIn 1s ease-out .5s forwards;
    z-index: 2;
  }
  #gradient-two {
    height: 470px;
    top: -60px;
    max-width: none;
    opacity: 0;
    animation: fadeIn 1s ease-out .3s forwards;
    z-index: 1;
  }
  h2 {
    font-size: 2.5rem;
  }
  @media(max-width:991px) {
    .h1 {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 2rem !important;
    }
    .h3, h3 {
      font-size: 1.4rem !important;
    }
    #home-topics {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  .darken .dropdown-item:hover, .darken .dropdown-item:focus {
    background-color: #22343c !important;
  }
  .darken #search-nav,
  .darken #scope,
  nav.darken,
  footer {
    background-color: #1b2a32 !important;
  }
}
#home-topics {
  padding-top: 8rem;
  padding-bottom: 10rem;
  opacity: 0;
  animation: fadeIn 1s ease-out .3s forwards;

  #topics-row-outer > .row:last-child {
    margin-bottom: 0px !important;
  }
  .topic-card {
    transition: all .2s ease-out;
    background-color: #22343c;
    p {
      line-height: 1.8rem;
    }
    img {
      height: 45px;
    }
  }
  #topic-selector {
    .topic-header {
      background: rgba(73, 175, 217, 0);
      border: 2px solid #49afd9;
      transition: all .2s ease-out;

      &:nth-child(2) {
        border-left-width: 0;
        border-right-width: 0;
      }
    }
    .topic-header.active {
      background: rgba(73, 175, 217, 0.5);
    }
  }
}
.td-home #hero {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .h1 {
    display: inline-block;
    opacity: 0;
    font-size: 3.7rem;
    animation: fadeIn 1s ease-out 0s forwards;

    @media(min-width:992px) {
      max-width: 500px;
    }
  }
  .h1+p {
    opacity: 0;
    max-width: 600px;
    line-height: 1.8rem;
    animation: fadeIn 1s ease-out .1s forwards;
  }
  a {
    opacity: 0;
    animation: fadeIn 1s ease-out .2s forwards;
  }
}
#featured-paths {
  opacity: 0;
  animation: fadeIn 1s ease-out .3s forwards;

  .learning-path-card {
    height: 320px;
    transition: all .2s ease-out;

    .learning-path-description {
      color: #adbbc4!important;
    }
    .vw-33 {
      width: 33.333vw;
    }
    a {
      position: absolute;
      height: 100%;

      div {
        opacity: .5;
        transition: all .2s ease-out;
      }
    }
    &.active {
      width: 200% !important;

      div {
        opacity: 1;
      }
    }
    &:nth-child(1) {
      background: #293742;
    }
    &:nth-child(2) {
      background: #2e4150;

    }
    &:nth-child(3) {
      background: #293e4e;

    }
    &:nth-child(4) {
      background: #233847;

    }
    &:nth-child(5) {
      background: #1f3442;
    }
    @media(max-width:1440px) {
      height: 350px;
    }
    @media(max-width:1300px) {
      height: 400px;
    }
    @media(max-width:1140px) {
      height: 450px;
    }
    @media(max-width:991px) {
      height: auto;
      &.active {
        width: 100% !important;
      }
      a {
        position: relative;
        height: auto;
        padding: 20px;
        div {
          opacity: 1;
        }
      }
      .vw-33 {
        width: 100%;
      }
    }
  }
}
.product-icon {
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  height: 225%;
  opacity: .25;
}
.tanzu-product-icon {
  height: 200px;
}
.product-links .linked-box {
  background-color: #1b2a32;
  &:nth-child(1) {
    background: #2e4150;

  }
  &:nth-child(2) {
    background: #293e4e;

  }
  &:nth-child(3) {
    background: #233847;

  }
  &:nth-child(4) {
    background: #1f3442;
  }
}
.callout svg {
  opacity: .8;

.tab-content {
  margin: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;
  box-shadow: inset 0 0 5px rgb(0, 3, 0);
  border: 2px solid rgba(20, 0, 0, 0.521);
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}}