{{ define "main" }}
{{ partial "amplitude.html" (dict "context" . "event" "blog viewed") }}
<section id="hero" class="no-bg mt-7 pb-4">
	<div class="container">
		<div class='d-flex'>
			<img class='icon mr-4' src='{{ "/images/icons/icon-tanzu.svg" | relURL }}'/> <h1 class="h1">Tanzu Developer Center&nbsp; {{- .Title -}}</h1>
		</div>
	</div>
</section>

<div class="td-content mt-0">
	<div class='container'>
		{{ .Content }}
		<br/>
	        {{ partial "blog-index.html" . }}
		{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
			{{ partial "feedback.html" .Site.Params.ui.feedback }}
			<br />
		{{ end }}
		{{ if (.Site.DisqusShortname) }}
			<br />
			{{ partial "disqus-comment.html" . }}
		{{ end }}
		<div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>
	</div>
</div>
{{ end }}
