<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id='{{ replaceRE "(\\s)" "" (lower .Title) }}'class="td-{{ .Kind }} td-topic">
    {{ partial "amplitude.html" (dict "context" . "event" "topic viewed") }}
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
        {{ partial "live-notify.html" . }}
      <div class="td-main ">
        <div class="bg-gray-dark mt-lg-5 mt-0 py-lg-5 py-2">
            <div class='container'>
                {{ .Render "content" }}
            </div>
        </div>

        <br/>

        <!-- Gather subtopics -->
        {{ $guides := where (where .Site.Pages "Section" "guides") "Params.level1" .Params.topic }}
        {{ $subtopics := (slice) }}
        {{ range $guides }}
            {{ $subtopics = union $subtopics ( slice .Params.level2 )}}
        {{ end }}

        <div class="container">
            <div class="row">
            <!-- Build subtopic boxes -->
            {{ range $subtopics }}
                <div class="bg-gray-light subtopic col-lg-4 h-100">
                    {{ $link := replace (lower . ) "/" "-"  }}
                    {{ $link := replace $link "&" "and" }}
                    {{ $link := replace $link " " "-" }}
                    {{ $link := printf "%s/%s" "/guides" $link | relURL }}
                    <a href="{{ $link }}">
                        <p><div class="py-3 px-4 mb-0 text-left h3 text-white">{{ . }}</div></p>
                        <div class="learning-path-description py-3 px-4 mb-4 text-left text-white" >
                            Lorim Ipsum
                        </div>
                    </a>
                </div>   
            {{ end }}
            </div>
        </div>

        <br />

        <!-- Featured Learning Paths -->
        <!-- {{ $learningpaths := where (where .Site.Pages "Section" "learningpaths") "Params.level1" .Params.topic }}
        {{ printf "%v" $learningpaths }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-4'><img class="icon mr-3" src='{{ "/images/icons/icon-guides.svg" | relURL }}'/><h2 class="h3 mb-0">Learning Paths</h2></div>
            <div class='col px-0'>
                <div class='row'>
                    {{ range $learningpaths }}
                    <div class="flex-315 col-12 mr-3 mb-3 px-0">
                        <a class="linked-box bg-gray-dark px-4 pt-4 pb-3" href="#">
                            <h3 class="mt-2 h4 pt-0">Learning Path {{ . }}</h3>
                            <p>Learning Path {{ . }}</p>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
         -->


        <!-- Featured Content -->
        <!-- TODO: -->
        {{ $featured := where (where .Site.Pages "Params.level1" .Params.topic ) "Params.featured" true }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-4'><img class="icon mr-3" src='{{ "/images/icons/icon-guides.svg" | relURL }}'/><h2 class="h3 mb-0">Featured Content</h2></div>
            <div class='col px-0'>
                <div class='row'>
                    {{ range first 3 $featured }}
                        {{ partial (printf "%v-card.html" .Section) . }}
                    <!-- {{ printf "%v" .Section }}
                    <div class="flex-315 col-12 mr-3 mb-3 px-0">
                        <a class="linked-box bg-gray-dark px-4 pt-4 pb-3" href="{{ .RelPermalink }}">
                            <h3 class="mt-2 h4 pt-0">{{ .Title }}</h3>
                            <p>{{ .Params.description }}</p>
                        </a>
                    </div> -->
                    {{ end }}
                </div>
            </div>
        </div>


        <!-- Getting Started-->
        {{ $guides := where (where .Site.Pages "Section" "guides") "Params.level1" .Params.topic }}
        {{ $gettingstarted := slice }}
        {{ range $guides }}
            {{ if in .Params.tags "Getting Started" }}
                {{ $gettingstarted = $gettingstarted | append . }}
            {{ end }}
        {{ end }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-4'><img class="icon mr-3" src='{{ "/images/icons/icon-guides.svg" | relURL }}'/><h2 class="h3 mb-0">Getting Started</h2></div>
            <div class='col px-0'>
                <div class='row'>
                    {{ range first 3 $gettingstarted }}
                    <div class="flex-315 col-12 mr-3 mb-3 px-0">
                        <a class="linked-box bg-gray-dark px-4 pt-4 pb-3" href="{{ .RelPermalink }}">
                            <h3 class="mt-2 h4 pt-0">{{ .Title }}</h3>
                            <p>{{ .Params.description }}</p>
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        
            

      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <script>
    $( ".show-all-button" ).click(function() {
        $(this).parent().parent().find(".hidden-item:first").show( 20, function showNext() {
            $(this).next( ".hidden-item" ).show( 20, showNext );
        });
        $(this).parent().hide();
    });
  </script>

</html>

