<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id='{{ replaceRE "(\\s)" "" (lower .Title) }}'class="td-{{ .Kind }} py-3">
    {{ partial "amplitude.html" (dict "context" . "event" "topic viewed") }}
    <header>
      {{ partial "navbar.html" . }}
    </header>
    
    <div class="container-fluid td-outer">
        {{ partial "live-notify.html" . }}
        <div class="td-main ">
            {{ $class := replace .Params.linkTitle "." "-" | lower }}
            {{ $class := replace $class " " "" }}
            <section id="hero" class="{{ $class }}-hero td-box--gray-dark mt-7  ">
                <div class="container">
                    <h1 class="h1"> {{- .Title | markdownify }}</h1>
                    <!-- <div class="lead"><p>{{- .Params.description | markdownify }}</p></div> -->
                </div>

                <!-- Description and optional video -->
                    <div class="container">
                        <div class="row">
                            {{ if isset .Params "video" }}
                                <div class="col-8">
                                    {{ .Content }}
                                </div>
                                <div class="col-4">
                                    <div class="flex-315 my-3">
                                        <a class='youtube-container'><div class="youtube-overlay"></div><iframe class="youtube-small" type="text/html" src="https://www.youtube.com/embed/{{ .Params.youtube }}?wmode=transparent&amp;rel=0&amp;modestbranding=1" wmode="Opaque" frameborder="0" allowfullscreen="true"></iframe></a>
                                    </div>
                                </div>
                            {{ else }}
                                <div class="col-10">
                                    {{ .Content }}
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </section>

                <!-- Blog -->
                {{ $blogs := where (where .Site.Pages "Section" "blog") ".Params.languages" "intersect" (slice .Params.label) }}
                {{ if gt (len $blogs) 0 }}
                <div class='container py-3 py-lg-5'>
                    <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">Blogs</h2></div>
                    <div class='row'>
                        {{ range first 3 $blogs }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                <!-- Videos -->
                {{ $videos := where (where .Site.Pages "Section" "videos") ".Params.languages" "intersect" (slice .Params.label) }}
                {{ if gt (len $videos) 0 }}
                <div class='container py-3 py-lg-5'>
                    <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">Videos</h2></div>
                    <div class='row'>
                        {{ range first 3 $videos }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>
                {{ else if .Params.show }}
                    {{ $alleps := where .Site.Pages "Section" "tv" }}
                    {{ $id := .Params.show }}
                    {{ $eps := slice }}
                    {{ range $alleps }}
                        {{ if eq .Parent.Params.id $id }}
                            {{ $eps = $eps | append . }}
                        {{ end }}
                    {{ end }}
                    {{ $showtitle := (index $eps 0).Parent.Title }}

                    <div class='container py-3 py-lg-5'>
                        <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">{{ $showtitle }}</h2></div>
                        <div class='row'>
                            {{ range first 3 $eps }}
                                {{ partial "episode-card.html" . }}
                            {{ end }}
                        </div>
                    </div>

                {{ end }}

                <!-- Getting Started -->
                {{ $gettingstarted := where (where .Site.Pages "Params.langues" "intersect" (slice .Params.label)) "Params.langgettingstarted" true }}
                {{ if gt (len $gettingstarted) 0 }}
                <div class='container py-3 py-lg-5'>
                    <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">Getting Started</h2></div>
                    <div class='row'>
                        {{ range first 3 $gettingstarted }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}


                <!-- Latest Content -->
                {{ $latest := where .Site.Pages "Params.languages" "intersect" (slice .Params.label) }}
                {{ if gt (len $latest) 0 }}
                <div class='container py-3 py-lg-5'>
                    <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">Latest Content</h2></div>
                    <div class='row'>
                        {{ range first 3 $latest.ByDate }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                
            </section>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <script>
    $( ".show-all-button" ).click(function() {
        $(this).parent().parent().find(".hidden-item:first").show( 20, function showNext() {
            $(this).next( ".hidden-item" ).show( 20, showNext );
        });
        $(this).parent().hide();
    });
  </script>

</html>

