<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id='{{ replaceRE "(\\s)" "" (lower .Title) }}'class="td-{{ .Kind }}">
    {{ partial "amplitude.html" (dict "context" . "event" "language viewed") }}
    <header>
      {{ partial "navbar.html" . }}
    </header>
    
    <div class="container-fluid td-outer">
        {{ partial "live-notify.html" . }}
        <div class="td-main ">
            {{ $class := replace .Params.linkTitle "." "-" | lower }}
            {{ $class := replace $class " " "" }}
            <section id="hero" class="language-hero td-box td-box--primary position-relative td-box--height-auto overflow-hidden">
                <div class="container row py-lg-5 py-0 px-0 align-items-center">
                    <div class="col-12 mx-auto col-lg-6">                        
                        <h1 class="h1"> {{- .Params.herotitle | markdownify }}</h1>
                        <div class="lead px-0"><p>{{- .Content | markdownify }}</p></div>
                    </div>
                    <div class="col-12 mx-auto col-lg-6 position-relative d-none d-md-block">
                        {{ if .Params.promo }}
                            <a class='hero-promo center' style="text-align:center;display:block" href="{{ .Params.promolink }}"><img style="max-width: 450px" src="{{ .Params.promo | relURL }}"/></a>
                        {{ else }}
                            <img class="pe-none" src="{{ .Params.heroimage | relURL }}">
                        {{ end }}
                    </div>
                </div>
            </section>

                {{ if eq .Params.label "dotnet" }}
                <!-- .NET Steeltoe Banner -->
                        <div class="row pb-5">
                            <a href="https://steeltoe.io/" class="w-100 py-0">
                                <div class="col-12 text-center d-flex align-items-center justify-content-center steeltoe-banner py-2">
                                    <img src='{{ "images/languages/dotnet/steeltoe.png" | relURL }}' class="mx-2 h-100"> 
                                    <span class="h4 mb-0">Get started with Steeltoe</span>
                                </div>
                            </a>
                        </div>
                {{ end }}

                <!-- Track what pieces of content are rendered so they're not shown in latest content -->
                {{ $rendered := slice }}

                <!-- Newsletter -->
                {{ range .Sections }}
                    {{ if (strings.Contains .CurrentSection.File.Dir "newsletter") }} 
                        <div class="container py-5">
                            <div class="container mb-5 newsletter">
                                <h2 class="mb-4">{{ print .Title }}</h2>
                                <a href='https://{{ print .Params.substack }}.substack.com/'><h4 class="mb-4">See All</h4></a>
                                <div class='row justify-content-between'>
                                    {{ range first 2 .Pages }} 
                                        {{ $rendered = $rendered | append . }}
                                        <a class='td-box--gray-dark subtopic mr-0 mb-4 flex-315 transition-all position-relative' href="{{ .RelPermalink }}">
                                            <img alt="{{ .Title }}" src='{{ print .Parent.RelPermalink "images/" .Parent.Params.banner }}' />
                                            <div class='p-4 td-box--gray-dark d-flex flex-column justify-content-between'>
                                                <h2 class="link mt-3 h4 pt-0">{{ .Title }}</h2>
                                                <p>{{ .Description }}</p>
                                            </div>
                                        </a>
                                    {{ end }}
                                    <div class="td-box--gray-dark subtopic mr-0 mb-3 flex-315 transition-all">
                                        <iframe src="https://{{ print .Params.substack }}.substack.com/embed" width="100%" height="290" frameborder="0" scrolling="no"></iframe>
                                    </div>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}

                <!-- Blog -->
                {{ $blogs := where (where .Site.Pages "Section" "blog") ".Params.languages" "intersect" (slice .Params.label) }}
                {{ if gt (len $blogs) 0 }}
                <div class="container py-5">
                    <div class="container mb-5 blogs">
                        <h2 class="mb-4">Blogs</h2>
                        <a href='{{ printf "languages/%s/blogs" .Params.label | relURL }}'><h4 class="mb-4">See All</h4></a>
                        <div class='row justify-content-between'>
                        {{ range first 3 $blogs }}
                            {{ $rendered = $rendered | append . }}
                            <div class="td-box--gray-dark subtopic mr-0 mb-3 flex-315 transition-all">
                                <a class="linked-box td-box--gray-dark p-4 position-relative" href="{{ .RelPermalink }}">
                                    <h2 class="link mt-3 h4 pt-0">{{ .Title }}</h2>
                                    <div class="card-type-id">
                                        <!-- <i class="fas fa-book"></i> -->
                                        <img alt="" class="d-inline-block" src='{{ "images/icons/icon-blog-label.svg" | relURL }}'>
                                        <span class="h5">Blog</span>
                                    </div>
                                    <p>{{ .Description }}</p>
                                </a>
                            </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                <!-- Guides -->
                {{ $guides := where (where .Site.Pages "Section" "guide") ".Params.languages" "intersect" (slice .Params.label) }}
                {{ if gt (len $guides) 0 }}
                <div class='container mb-5 guides'>
                    <h2 class="mb-4">Guides</h2>
                    <div class='row justify-content-between'>
                        {{ range first 3 $guides }}
                            {{ $rendered = $rendered | append . }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}
               
                <!-- Optional Show -->
                {{ if .Params.show }}
                    {{ $langeps := slice }}
                    {{ $alleps := where .Site.Pages "Section" "tv" }}
                    {{ $id := .Params.show }}
                    {{ range $alleps }}
                        {{ if eq .Parent.Params.id $id }}
                            {{ $langeps = $langeps | append . }}
                        {{ end }}
                    {{ end }}

                    <!-- Show soonest episode fist -->
                    {{ $upcoming := slice }}
                    {{ $previous := slice }}
                    {{ range $langeps }}
                        {{ if gt .Params.Date.Unix now.Unix }}
                            {{ $upcoming = $upcoming | append . }}
                        {{ else }}
                            {{ $previous = $previous | append .}}
                        {{ end }}
                    {{ end }}

                    {{ $eps := slice }}
                    {{ if gt (len $upcoming) 0 }}
                        {{ range $upcoming.ByDate }}
                            {{ $eps = $eps | append . }}
                        {{ end }}
                    {{ end }}
                    {{ range $previous }}
                        {{ $eps = $eps | append . }}
                    {{ end }}
                    {{ $showtitle := (index $langeps 0).Parent.Title }}

                    <div class="container mb-5 shows">
                        <h2 class="mb-2">{{ $showtitle }}</h2>
                        <a href="{{ (index $langeps 0).Parent.RelPermalink }}"><h4 class="mb-4">See All</h4></a>
                        <div class='row justify-content-between episodes'>
                            {{ range first 3 $eps }}
                                {{ $rendered = $rendered | append . }}
                                {{ partial "episode-card.html" . }}
                            {{ end }}
                        </div>
                    </div>
                {{ end }}

                <!-- Optional Event -->
                {{ if .Params.event }}
                    {{ $eps := slice }}
                    {{ $alleps := where .Site.Pages "Section" "tv" }}
                    {{ $id := .Params.event }}
                    {{ range $alleps }}
                        {{ if eq .Parent.Params.id $id }}
                            {{ $eps = $eps | append . }}
                        {{ end }}
                    {{ end }}

                    {{ $showtitle := (index $eps 0).Parent.Title }}

                    <div class="container mb-5 shows">
                        <h2 class="mb-2">{{ $showtitle }}</h2>
                        <a href="{{ (index $eps 0).Parent.RelPermalink }}"><h4 class="mb-4">See All</h4></a>
                        <div class='row justify-content-between episodes'>
                            {{ range first 3 $eps }}
                                {{ $rendered = $rendered | append . }}
                                {{ partial "episode-card.html" . }}
                            {{ end }}
                        </div>
                    </div>
                {{ end }}

                <!-- Videos -->
                {{ $videos := where (where .Site.Pages "Section" "videos") ".Params.languages" "intersect" (slice .Params.label) }}
                {{ if gt (len $videos) 0 }}
                <div class='container mb-5 videos'>
                    <h2 class="mb-4">Videos</h2>
                    <div class='row justify-content-between'>
                        {{ range first 3 $videos }}
                            {{ $rendered = $rendered | append . }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}

                <!-- Getting Started -->
                {{ $gettingstarted := where (where .Site.Pages "Params.languages" "intersect" (slice .Params.label)) "Params.langgettingstarted" true }}
                {{ if gt (len $gettingstarted) 0 }}
                <div class='container mb-5'>
                    <h2 class="mb-4">Getting Started</h2>
                    <div class='row justify-content-between'>
                        {{ range first 3 $gettingstarted }}
                            {{ $rendered = $rendered | append . }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}


                <!-- Latest Content -->
                {{ $latest := where .Site.Pages "Params.languages" "intersect" (slice .Params.label) }}
                {{ $showlatest := slice }}
                {{ range $latest }}
                    {{ if not (in $rendered .) }}
                        {{ $showlatest = $showlatest | append . }}
                    {{ end }}
                {{ end }}
                {{ if ge (len $showlatest) 3 }}
                <div class='container mb-5'>
                    <h2 class="mb-4">Latest Content</h2>
                    <div class='row justify-content-between'>
                        {{ range first 3 $latest.ByDate }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                
            </section>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <script>
    $( ".show-all-button" ).click(function() {
        $(this).parent().parent().find(".hidden-item:first").show( 20, function showNext() {
            $(this).next( ".hidden-item" ).show( 20, showNext );
        });
        $(this).parent().hide();
    });
  </script>

</html>

