<div class="section-index">
    {{ $pages := ((where .Site.Pages "Section" "team").ByWeight) }}
    
    <div class="flex justify-content-between">
        <div class="col-lg-12 px-0 ">
         {{ range $pages }}
            {{ if in .Params.roles "advocate" }}
             <div class="item mb-3 gradient-edge-parent" >
                 <div class='gradient-edge-top'></div>
                 <div class='border p-4 bg-gray-dark '> 
	                {{ partial "team-member.html" (dict "context" . "display" "summary") }}
                 </div>
             </div>
             {{ end }}
         {{ end }}
         </div>
        
     </div>
   

</div>