<div class="section-index">
    {{ $pages := sort (where .Site.Pages "Section" "team") "Params.name" }}
    
    <div class="d-flex justify-content-between">
        <div class="col-lg-12 px-0 advocates">
         {{ range $pages }}
            {{ if  and (in .Params.roles "advocate") (not .Params.hidden) }}
             <div class="item mb-4" >
                 <div class='px-4 py-5 bg-gray-dark '> 
	                {{ partial "team-member.html" (dict "context" . "display" "summary") }}
                 </div>
             </div>
             {{ end }}
         {{ end }}
         </div>
        
     </div>
   

</div>