<h5 class=" mb-4">
{{- range $index, $element := .context.Params.team }}
    {{ $page := index (where $.context.Site.Pages "Params.name" .) 0 }}
    {{ if gt $index 0 }} & {{ end }}
    {{ if $page }}
        {{ if $page.Params.hidden }}
            {{ . }}
        {{ else }}
            <a href='{{ (print "/team/" . | urlize) | relURL }}'>{{ . }}</a>
        {{ end }}
    {{ else}}
        {{ . }}
    {{ end }}
{{ end }}
{{ if .withdate }}
{{ .context.Date.Format "January 2, 2006" }}
{{ end }}
</h5>  