{{ $links := .Site.Params.links }}
<footer class="bg-gray-dark py-5 d-print-none">
<div class='container'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-8 pl-0">
        <a class="tvc-link h4" href="https://tanzu.vmware.com"><img class="icon mr-2" src='{{ "/images/icons/icon-tanzu.svg" | relURL }}'/> VMware Tanzu</a>

        <div class='copyright-legal-links mt-3'>
          {{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} VMware, Inc </small>{{ end }}
          {{ with .Site.Params.terms_of_use }}<small class="ml-1"><a href="{{ . }}" target="_blank">{{ T "footer_terms_of_use" }}</a></small>{{ end }}
          {{ with .Site.Params.privacy_policy }}<small class="ml-1"><a href="{{ . }}" target="_blank">{{ T "footer_privacy_policy" }}</a></small>{{ end }}
          {{ with .Site.Params.california_privacy_rights }}<small class="ml-1"><a href="{{ . }}" target="_blank">{{ T "footer_california_privacy_rights" }}</a></small>{{ end }}
          <small class="ml-1"><a href="javascript:void(0);" class="ot-sdk-show-settings" style="cursor:pointer;">Cookie Settings</a></small>
        </div>

        <div>
          {{ with $links }}
          {{ with index . "developer"}}
          {{ template "footer-links-block"  . }}
          {{ end }}
          {{ end }}
        </div>

<!--       	{{ if not .Site.Params.ui.footer_about_disable }}
      		{{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
      	{{ end }} -->
      </div>

      <div class="col-12 col-sm-6 col-lg-4 pl-0">
        {{ if not (eq .Params.hide_newsletter true) }}
          <div class="newsletter mb-5">
            <p class="text-white">Sign up for the developer newsletter</p>
            <div class='btn btn-small click-to-show scroll-to-bottom'>Subscribe</div>
            <script src="https://connect.tanzu.vmware.com/js/forms2/js/forms2.min.js"></script>
            <form id="mktoForm_1609" class="hidden"></form>
            <script>
              MktoForms2.setOptions({formXDPath : "/rs/pivotal/images/marketo-xdframe-relative.html"});
              MktoForms2.loadForm("https://connect.tanzu.vmware.com", "625-IUJ-009", 1609, function(form){
                form.setValues({ "Function__c": "Developer" });
                form.onSuccess(function(values, followUpUrl) {
                  form.getFormElem().hide();
                  window.dataLayer = window.dataLayer || [];
                  window.dataLayer.push({
                      'event' : 'ctaSubmitted',  
                      'eventCategory': 'Subscription',  
                      'eventAction': 'Form Submitted', 
                      'eventLabel': 'Newsletter'
                  });
                  window.dataLayer.push({'event': 'logEvent', 'eventType': 'newsletter subscribed', 'eventProperties': {'page name': '{{ .Title }}', 'source': 'footer'} });
                  sendAmplitudeEventOnLoad('newsletter subscribed', {'page name': '{{ .Title }}', 'source': 'footer', 'url path': window.location.pathname});
                  $('.confirmation').show();
                  return false;
                });
              });
            </script>
            <div class='confirmation' style="display:none">Done!</div>
          </div>
        {{ end }}
      </div>

    </div>
  </div>
</div>
</footer>
{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-white" target="_blank" href="{{ .url }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
