<div class="outcomes-index row justify-content-between flex-lg-nowrap">
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $parent := .Page }}
    {{ range $pages }}
    {{ if .IsSection }}
    {{ if eq .Parent $parent }}
    <a class="h-auto linked-box td-box--gray-850 pr-3 p-4 mb-3 col-lg-6 col-12 mr-lg-3" href="{{ .RelPermalink }}">
        <h4 class="link mt-3">{{- .Title -}}</h4>
        <p>{{ .Description | markdownify }}</p>
    </a> 
    {{ end }}
    {{ end }}
    {{ end }}
</div>
