<div class="section-index">
    {{ $pages := sort (where .Site.Pages "Section" "tv") }}
    {{ $parent := .Page }}
    <div class="flex justify-content-between flex-wrap">
        <div class="col-lg-12 px-0 pb-5 mb-5 shows">
        {{ range $pages }}
            {{ if eq .Parent $parent }}
            <div class="row mb-5" >
                <div class='col-lg-5 col-12 pl-0 bg-primary'> 
                    <div class="p-5">
                        {{ if (and (isset .Params "streaming") (isset .Params "teaser")) }}<a class="teaser btn btn-small mb-4 mt-2" href="{{ .RelPermalink }}">{{ .Params.teaser }}</a>{{ end }}
                        <h1>{{ .Title }}</h1>
                        <p class="lead my-0">{{ .Description | markdownify }}</p>
                        <a class="btn mt-3" href="{{ .RelPermalink }}">View Episodes</a>
                    </div>
                </div>
                <div class='col-lg-7 col-12 px-0 bg-primary text-center pt-4 pt-lg-0'>
                    <a href="{{ .RelPermalink }}"><img src="{{ .Params.image | relURL }}" /></a>
                </div>
            </div>
            {{ end }}
        {{ end }}
        </div>
    </div>
</div>