<div class="row">
    <div class="col-lg-2 col-md-2 mr-5 mb-5">
        <!--<img class='mr-3' src='{{ .context.Params.thumbnail | default "/images/people/nobody.jpg" }}'/>-->
        <img class='desaturated' src='{{ (.context.Params.photo | default (print "/images/team/" (urlize .context.Params.name) ".jpg") | relURL) }}'/>
    </div>
    <div class="col-lg-8 col-md-8">
        {{ if eq .display "summary" }}
        <h2><a href="{{ .context.RelPermalink }}">{{ .context.Params.name }}</a></h2>
        {{ else }}
        <h1>{{ .context.Params.name }}</h1>
        {{ end }}
        <p class="mt-0 mb-1">{{- .context.Params.location -}}</p>
        {{ if .context.Params.skills }}
        <p class="mt-0 mb-4 text-white">Expertise: <i>{{ delimit .context.Params.skills ", " -}}</i></p>
        {{ end }}
        <p class="mt-2 mb-4">{{ .context.Render "social" }}</p>
        <!--{{ with .context.Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}-->
        {{ if eq .display "summary" }}
        {{ .context.Summary }}
        {{ else }}
        {{ .context.Content }}
        {{ end }}
        


    </div>
</div>