<div class="section-index">
    <div class='container'>
        {{ $pages := ((where .Site.Pages "Section" .Section).ByWeight).ByParam "sortTitle" }}
        {{ $parent := .Page }}
        {{ if $parent.Params.no_list }}
        {{/* If no_list is true we don't show a list of subpages */}}
        {{ else if $parent.Params.simple_list }}
        {{/* If simple_list is true we show a bulleted list of subpages */}}
            <ul>
                {{ range $pages }}
                    {{ if eq .Parent $parent }}
                        <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ else }}
        {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
        <!-- <hr class="panel-line"> -->
            <div class="col px-lg-0"><div class="row">
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                <div class="col-lg-4 col-12 px-lg-3 px-0 mb-5 mb-lg-5 mb-lg-0 ">
                    <a class='youtube-container'><div class="youtube-overlay"></div><iframe class="youtube-small" type="text/html" src="//www.youtube.com/embed/{{ .Params.youtube_id }}?wmode=transparent&amp;rel=0&amp;modestbranding=1" wmode="Opaque" frameborder="0" allowfullscreen="true"></iframe></a>
                    <p><a class="text-white lightbox" href="https://youtube.com/watch?v={{ .Params.youtube_id }}">{{- .Title -}}</a></p>
                    <!-- <p class="text-white">{{- .Title -}}</p> -->
                    <!-- <p>{{ .Description | markdownify }}</p> -->
                </div>
                {{ end }}
            {{ end }}
            </div></div>
        {{ end }}
    </div>
</div>
