<div class='flex container flex-wrap'>

    <div class="section-index flex-1">
        {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
        {{ $parent := .Page }}
        {{ if $parent.Params.no_list }}
        {{/* If no_list is true we don't show a list of subpages */}}
        {{ else if $parent.Params.simple_list }}
        {{/* If simple_list is true we show a bulleted list of subpages */}}
            <ul>
                {{ range $pages }}
                    {{ if and (eq .Parent $parent) (not .Params.hidden) }}
                        <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ else }}
        {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
        <!-- <hr class="panel-line"> -->
            <!-- <div class="col"> --><div class="row">
            {{ range $pages }}
                {{ if and (eq .Parent $parent) (not .Params.hidden) }}
                <div class="filter-item col-lg-4 mb-4 {{ range .Params.tags }}{{ . | lower }} {{ end }} ">
                    <a class="linked-box td-box--gray-darkest workshop-box overflow-hidden" href="{{ .RelPermalink }}">
                        <div class='workshop-hero' style='background-image: url({{ (.Params.hero | default (print "/images/workshop/heroes/" (urlize .Params.name) ".jpg") | relURL) }});background-size:cover;background-position:center'></div>
                        <div class='description px-4 pt-2 flex-column'>
                            <h4 class="white mt-3">{{- .Title -}}</h4>
                            <p class=" fs-90 ">{{ .Description | markdownify }}</p>
                            <h5 class="fs-80 "><span class="fa fa-hourglass-half">&nbsp;</span>{{ .Params.length }} mins</h5>
                        </div>
                    </a>
                </div>
                {{ end }}
            {{ end }}
           <!--  </div> --></div>
        {{ end }}
    </div>
</div>
