{{ define "main" }}

{{ partial "hero.html" . }}

<div class="td-content mt-5">
	<div class='container'>
		
		<div class="row justify-content-between">
		{{ $cols := split .Content "<!--split-->" }}
		{{ range $cols }}
			<div class="col-12 col-md-6 col-lg-6 mx-0 px-0">
				<div class='col-11 mx-0 px-0'>
					{{ . | markdownify }}
				</div>
			</div>
		{{ end }}
		</div>

		<div class="row mt-2">
			<div class="col-1">
				<img class="icon icon-md mb-3 d-block d-lg-inline-block mr-4" src="/developer/images/icons/icon-email.svg">
			</div>
			<div class="col-11">
				<h2 class="h4 pt-0">Contact us</h2>
				<p>{{- .Params.contact | markdownify -}}</p>
			</div>
		</div>

		<div class="border-top mt-6">
			<h2 class="mt-6 mb-4">Our Advocates</h2>
			{{ partial "advocates-index.html" . }}	
		</div>

		{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
			{{ partial "feedback.html" .Site.Params.ui.feedback }}
			<br />
		{{ end }}
		{{ if (.Site.DisqusShortname) }}
			<br />
			{{ partial "disqus-comment.html" . }}
		{{ end }}
		<div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>
	</div>
</div>
{{ end }}

