{{ define "cookbookfinder" }}
{{ if eq .context.Parent .context.FirstSection }}
{{ .scratch.Set "cookbook" .context }}
{{ else }}
{{ template "cookbookfinder" (dict "context" .context.Parent "scratch" .scratch) }}
{{ end }}
{{ end }}

{{ define "main"}}

{{ template "cookbookfinder" (dict "context" . "scratch" $.Scratch) }}
{{ $cookbook := $.Scratch.Get "cookbook" }}

{{ $page := . }}
{{ if .Params.contentPage }}
{{ $page = .GetPage .Params.contentPage }}
{{ end }}

{{ partial "amplitude.html" (dict "context" . "event" "course viewed") }}

<div class="mt-lg-5 pt-lg-5 mt-3 td-content cookbooks">
  <div class='container'>
    <div class="row flex-xl-nowrap container mx-auto mb-4">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-print-none px-0 pt-2">
        {{ partial "version-banner.html" . }}
        {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb-cookbook.html" . }}{{ end }}
        <h1>{{ $cookbook.Title }}</h1>
        
      </div>
    </div>
    <div class="row flex-xl-nowrap container mx-auto">
      <div class="col-12 col-md-3 cookbooks-sidebar td-sidebar td-sidebar-nav d-print-none d-none d-lg-block pl-0">
        {{ partial "sidebar-cookbooks.html" (dict "context" . "cookbook" $cookbook) }}
      </div>
      <div class="col-12 col-md-9 col-lg-7 d-print-none position-relative pb-lg-4 px-0 px-md-3">
        {{ if ne $cookbook .Page }}
        <h2>{{ .Title }}</h2>
        <!-- Tags -->
        <div class="cookbook-tags d-flex">
          <div class="lesson-count mr-3">
            <i class="fas fa-carrot"></i> 
            {{ len .Pages }} recipe{{ if gt (len .Pages) 1}}s{{ end }}
          </div>
        </div>
        {{ partial "byline" (dict "context" . "withdate" false) }}
        {{ end }}

        <!-- Start Content -->

        {{ .Content }}

        <!-- <h2>Lessons</h2>
        <ul>
            {{ range .Pages}}
            <li class="">
                <a  href="{{ .RelPermalink }}" class="align-left pr-2">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul> -->

        <!-- End Content -->

        <div class="feedback my-4 pt-4 border-top">
          <a href="https://github.com/vmware-tanzu/tanzu-dev-portal/issues/new?assignees=&labels=bug&template=bug_report.md&title=Learning Path Issue: {{ .Title }}"><i class="fab fa-github mr-2"></i><span class="align-top">Report an issue</span></a>
        </div>
      </div>

    </div>
  </div>
  {{ partial "pager.html" . }}
</div>
{{ end }}
