{{ define "main" }}

{{ $class := replace .Page.Section "." "-" | lower }}
<section id="hero" class="{{ $class }}-episode-hero bg-gray-dark mt-7 pt-4 pb-5">
	<div class="container">
		{{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
    <h1 class="h1 mt-4 pt-2"> {{ .Parent.Title -}}</h1>
    <div class="lead"><p>{{- .Parent.Params.description | markdownify }}</p></div>
   </div>
</section>

<!-- IF UPCOMING -->
{{ $.Scratch.Set "streamName" "" }}
{{ $.Scratch.Set "streamUrl" "#" }}
{{ if isset .Params "twitch" }} 
  {{ $.Scratch.Set "streamUrl" (print "https://www.twitch.tv/" .Params.twitch) }}
  {{ $.Scratch.Set "streamName" "on Twitch" }}
{{ else if isset .Params "youtube" }}
  {{ $.Scratch.Set "streamUrl" (print "https://www.youtube.com/watch?v=" .Params.youtube) }}
  {{ $.Scratch.Set "streamName" "on YouTube" }}
{{ end }}
<div class='container'>
  <div id="live" class="row justify-content-center mt-5 pt-3">
    <div class="col-lg-5 col-12 mb-5 pl-0">
      <h2 class="pt-0 mb-4 pb-2"> {{- .Title -}}</h2>
      <div>
        <a class="play-icon float-left" href='{{ $.Scratch.Get "streamUrl" }}'></a>
        <div class="float-left ml-3 pl-1">
          <a href='{{ $.Scratch.Get "streamUrl" }}'>Watch {{ ($.Scratch.Get "streamName") }}</a><br/>
          <span class="text-white">{{ .Params.Date.Local.Format "3 PM MST" }} on {{ .Params.Date.Format "Monday, Jan 02, 2006" }}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 px-0">
      <img src="{{ .Params.episode_banner | relURL }}">
    </div>
  </div>
  <!-- ELSE IF PREVIOUS -->
  <div id="vod" class="row justify-content-center mt-5">
    <div class="col-lg-9 col-12 px-0">
      <h2 class="mb-4"> {{- .Title -}}</h2>
      {{ if .Params.youtube }}
      <div class="youtube-video-shortcode">
        <iframe id="episode-embed" src="https://www.youtube.com/embed/{{ .Params.youtube }}?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
      </div>
      {{ else }}
      <div>
        <a href="https://www.twitch.tv/{{ .Params.twitch }}">
        <img src="{{ .Params.episode_banner | relURL }}"></a><br>
      </div>
      {{ end }}
    </div>
  </div>
  <!-- END -->

  <script type="text/javascript">
    var live = document.getElementById("live");
    var vod = document.getElementById("vod");
    var episodeType = "";
    var currentTime = Date.now();
    var episodeTime = new Date('{{ printf (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}').getTime();
    if (episodeTime < currentTime) {
      live.style.display = "none";
      vod.style.display = "flex";
      episodeType = "vod";
    }
    else {
      live.style.display = "flex";
      vod.style.display = "none";
      episodeType = "live";
    }
    sendAmplitudeEventOnLoad('episode viewed', {'show name': '{{ .Parent.Title }}', 'episode title': '{{ .Title }}', 'episode number': '{{ .Params.episode }}', 'episode time': '{{ .Date }}', 'episode view type': episodeType, 'referrer': document.referrer});
  </script>

  <div class="row justify-content-center mb-5">
    <div class="col-lg-9 col-12 px-0 mt-5">
      <h3>In this episode</h3>
      {{ .Content }}
    </div>
  </div>

  {{ with .Params.guests }}
  <div class="row justify-content-center mb-5">
    <div class="col-lg-9 col-12 px-0">
      <h3 class="mb-3">Guests</h3>
      {{ range . }}
        {{ with $.Site.GetPage (print "/team/" ( . | urlize )) }}
          <div class="border-bottom mb-4 pb-5">
          {{ partial "team-member.html" (dict "context" . "display" "tv") }}
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ with .Params.hosts }}
  <div class="row justify-content-center mb-5">
    <div class="col-lg-9 col-12 px-0">
      <h3 class="mb-3">Hosts</h3>
      {{ range . }}
        {{ with $.Site.GetPage (print "/team/" ( . | urlize )) }}
          <div class="mb-4">
          {{ partial "team-member.html" (dict "context" . "display" "tv") }}
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ end }}

</div>

<script type="text/javascript">
  var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var played = false;
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('episode-embed', {
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
    });
  }
  function onPlayerReady(event) {
    //console.log("Player ready");//event.target.getDuration();
  }
  function logPlayerStatus(playerStatus) {  
    if (playerStatus == -1) {
      //console.log("unstarted");
    } else if (playerStatus == 0) {
      //console.log("ended");
    } else if (playerStatus == 1) {
      if (!played) {
        dataLayer.push({'event': 'logEvent', 'eventType': 'episode played', 'eventProperties': {'show name': '{{ .Parent.Title }}', 'episode title': '{{ .Title }}', 'episode number': '{{ .Params.episode }}', 'episode view type': episodeType }});
      }
      played = true;
      //console.log("playing");
    } else if (playerStatus == 2) {
      //console.log("paused");
    } else if (playerStatus == 3) {
      //console.log("buffering");
    } else if (playerStatus == 5) {
      //console.log("video cued");
    }
  }
  function onPlayerStateChange(event) {
    logPlayerStatus(event.data);
  }

  /*
  // Tie to player status? Start when clicked? Stop when stopped?
  var pollInterval = 300000; // 5 minutes
  var ytTracker = setInterval(trackPlayback, pollInterval);
  function trackPlayback() {
    console.log("Elapsed percentage: " + player.getCurrentTime()/player.getDuration());
  }
  function stopTracker() {
    clearInterval(ytTracker);
  }
  */
</script>


{{ end }}
