{{ define "main" }}

<div class="td-main ">
	<div class="bg-gray-dark mt-lg-5 mt-0 pt-lg-5 pb-2">
		<div class='container'>
			{{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
			<h1>{{ .Title }}</h1>
			<p>{{ .Description }}</p>

			<div class="short-gradient-line mb-4"></div>
      <h4>
		<!-- {{ .Params.tags }} | -->
		
		{{- range $index, $element := .Params.authors }}
			{{ if gt $index 0 }} & {{ end }}
			<a href="/authors/{{ urlize . }}">{{ . }}</a>
		{{ end }}

		|
        {{ .Date.Format "January 2, 2006" }}
      </h4>   

		</div>
	</div>
	<div class="container py-2">
		<div class="">
				{{ .Content }}
		</div>

		{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
			{{ partial "feedback.html" .Site.Params.ui.feedback }}
			<br />
		{{ end }}
		{{ if (.Site.DisqusShortname) }}
			<br />
			{{ partial "disqus-comment.html" . }}
		{{ end }}
		<div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>
	</div>
</div>
{{ end }}
