{{ define "main" }}
<script>sendAmplitudeEventOnLoad('blog post viewed', {'blog post title': '{{ .Title }}', 'blog post publish date': '{{ .Date }}', 'blog post length': '{{ .Content | len }}' ,'blog post author': '{{ .Params.team }}', 'referrer': document.referrer});</script>
<div class="td-main blog">
	<div class="mt-lg-5 mt-md-5 mt-4 pt-lg-5 pt-md-5 pb-2">
		<div class='container pt-2'>
			{{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
			<br/>
			<h1>{{ .Title }}</h1>
			<!--<p>{{ .Description }}</p>-->

			{{ partial "byline" (dict "context" . "withdate" "true") }}
			
			<div class="short-gradient-line  mb-3"></div>


		</div>
	</div>
	<div class="container py-2">
		<div class="col-lg-9 px-0">
				{{ .Content }}
		</div>

		{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
			{{ partial "feedback.html" .Site.Params.ui.feedback }}
			<br />
		{{ end }}
		{{ if (.Site.DisqusShortname) }}
			<br />
			{{ partial "disqus-comment.html" . }}
		{{ end }}
		<div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>
	</div>
</div>
{{ end }}
