{{ define "main" }}

{{ partial "amplitude.html" (dict "context" . "event" "workshop session started") }}

<div class="td-main ">
<body onresize="iframesize()">
<iframe id="myIframe" width="100%" height="1000" style="border:none;position:relative;top:80px;" src="about:blank"></iframe>
</div>
<script>

function getsite(){
const urlParams = new URLSearchParams(window.location.search);
const ws = urlParams.get('ws')
const data = decodeURIComponent(ws)
const url = atob(data.replace(/_/g, '/').replace(/-/g, '+'))
document.getElementById('myIframe').setAttribute('src', url);
}
function iframesize(){
 const vsize = window.innerHeight - 80;
 document.getElementById('myIframe').setAttribute('height', vsize);
}
getsite()
iframesize()
</script>
{{ end }}
