{{ define "main" }}

<div class="td-main ">

<iframe id="myIframe" width="100%" height="1000" style="border:none;position:relative;top:80px;" src="about:blank"></iframe>
</div>
<script>
function getsite(){
const urlParams = new URLSearchParams(window.location.search);
const ws = urlParams.get('ws')
const data = decodeURIComponent(ws)
console.log(data)
const url = atob(data.replace(/_/g, '/').replace(/-/g, '+'))
console.log(url)
document.getElementById('myIframe').setAttribute('src', url);
}
function iframesize(){
 const vsize = window.innerHeight - 80;
 console.log(window.innerHeight)
 document.getElementById('myIframe').setAttribute('height', vsize);
}
iframesize()
getsite()
</script>
{{ end }}
