{{ if or (eq .event "guide viewed") (eq .event "blog post viewed") }}
    <script>
        authors = [];
        {{ range $i, $author := .context.Params.team }}
        authors[{{$i}}] = '{{ $author }}';
        {{ end }}
    </script>
{{ end }}

{{ if eq .event "guide viewed" }}
    <script>sendAmplitudeEventOnLoad('guide viewed', {'topic name': '{{ .context.Params.level1 | lower }}', 'subtopic name': '{{ .context.Params.level2 | lower }}', 'guide title': '{{ .context.Title }}', 'guide authors': authors, 'url path': window.location.pathname}); </script>

{{ else if eq .event "blog post viewed" }}
    <script>sendAmplitudeEventOnLoad('blog post viewed', {'blog post title': '{{ .context.Title }}', 'blog post publish date': '{{ .context.Date.Format "2006-01-02T15:04:05Z0700" }}', 'blog post length': '{{ .context.Content | len }}' ,'blog post authors': authors, 'url path': window.location.pathname});</script>

{{ else if eq .event "learning path viewed" }}
    <script>sendAmplitudeEventOnLoad('learning path viewed', {'learning path title': '{{ .context.Title }}', 'url path': window.location.pathname}); </script>

{{ else if eq .event "learning path content viewed" }}
    <script>sendAmplitudeEventOnLoad('learning path content viewed', {'learning path title': '{{ .context.Parent.Params.title | lower }}', 'learning path content title': '{{ .context.Title }}', 'url path': window.location.pathname}); </script>

{{ else if eq .event "pattern viewed" }}
    <script>sendAmplitudeEventOnLoad('pattern viewed', {'pattern name': '{{ .context.Title }}', 'url path': window.location.pathname});</script>

{{ else if eq .event "sample viewed" }}
    <script>sendAmplitudeEventOnLoad('sample viewed', {'sample name': '{{ .context.Title }}', 'url path': window.location.pathname});</script>

{{ else if eq .event "topic viewed" }}
    <script>sendAmplitudeEventOnLoad('topic viewed', {'topic name': '{{ .context.Title | lower }}', 'url path': window.location.pathname});</script>

{{ else if eq .event "show viewed" }}
    <script>sendAmplitudeEventOnLoad('show viewed', {'show name': '{{ .context.Title }}', 'url path': window.location.pathname});</script>
    
{{ else if eq .event "video viewed" }}
    <script>sendAmplitudeEventOnLoad('video viewed', {'video name': '{{ .context.Title }}', 'url path': window.location.pathname});</script>

{{ else if eq .event "team member viewed" }}
    <script>sendAmplitudeEventOnLoad('team member viewed', {'team member name': '{{ .context.Params.name }}', 'url path': window.location.pathname});</script>

{{ else if eq .event "episode viewed" }}
    <script>sendAmplitudeEventOnLoad('episode viewed', {'show name': '{{ .context.Parent.Title }}', 'episode title': '{{ .context.Title }}', 'episode number': '{{ .context.Params.episode }}', 'episode time': '{{ .context.Date.Format "2006-01-02T15:04:05Z0700" }}', 'episode view type': episodeType, 'url path': window.location.pathname});</script>

{{ else if eq .event "workshop viewed" }}
    <script>sendAmplitudeEventOnLoad('workshop viewed', {'workshop name': '{{ .context.Title }}', 'url path': window.location.pathname});</script>

{{ else if eq .event "workshop started" }}
    <script>sendAmplitudeEventOnLoad('workshop session started', {'workshop name': '{{ .context.Title }}', 'url path': window.location.pathname});</script>

{{ else if eq .event "practice viewed" }}
    <script>sendAmplitudeEventOnLoad('practice viewed', {'practice name': '{{ .context.Title }}', 'url path': window.location.pathname});</script>

{{ else if eq .event "tanzu viewed" }}
    <script>sendAmplitudeEventOnLoad('tanzu viewed', {'tanzu name': '{{ .context.Title }}', 'url path': window.location.pathname, 'label': '{{ .context.Params.label }}' });</script>

{{ else if eq .event "search viewed" }}
    <script>
        let params = (new URL(document.location)).searchParams;
        sendAmplitudeEventOnLoad('search viewed', {'query': params.get("q"), 'section': params.get("tbm"), 'url path': window.location.pathname});
    </script>

{{ else if eq .event "episode played" }}
    <script type="text/javascript">
        var tag = document.createElement('script');
        tag.id = 'iframe-demo';
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var played = false;
        var player;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('episode-embed', {
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
        }
        function onPlayerReady(event) {
            //console.log("Player ready");
        }
        function logPlayerStatus(playerStatus) {  
            if (playerStatus == -1) {
                //console.log("unstarted");
            } else if (playerStatus == 0) {
                //console.log("ended");
            } else if (playerStatus == 1) {
                if (!played) {
                    sendAmplitudeEvent('episode played', {'show name': '{{ .context.Parent.Title }}', 'episode title': '{{ .context.Title }}', 'episode number': '{{ .context.Params.episode }}', 'episode view type': episodeType });
                }
                played = true;
                //console.log("playing");
            } else if (playerStatus == 2) {
                //console.log("paused");
            } else if (playerStatus == 3) {
                //console.log("buffering");
            } else if (playerStatus == 5) {
                //console.log("video cued");
            }
        }
        function onPlayerStateChange(event) {
            logPlayerStatus(event.data);
        }
    </script>


{{ else }}
    <script>sendAmplitudeEventOnLoad('{{ .event }}', {'url path': window.location.pathname});</script>
{{ end }}


