
<div class="section-index blog-index-list">
    {{ $pages := ((where .Site.Pages "Section" .Section).ByDate.Reverse) }}
    {{ $parent := .Page }}
    {{ if $parent.Params.no_list }}
    {{/* If no_list is true we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
        <ul>
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                    <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ else }}
    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
    <!-- <hr class="panel-line"> -->
        <!-- <div class="col"> --><!-- <div class="row"> -->
       <div class="d-flex justify-content-between">
           <div class="col-lg-9 px-0 ">
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                <div class="item mb-3 position-relative" >
                    <div class='gradient-edge-top'></div>
                    <div class='border p-4 bg-gray-dark '>
                        <h2 class="pt-0"><a class="h3" href="{{ .RelPermalink }}">{{- .Title -}}</a></h2>
                        {{ partial "byline" (dict "context" . "withdate" true) }}

                        <p>{{ .Content | markdownify | truncate 1400 }}</p>
                        <p><a href="{{ .RelPermalink }}">Read more</a></p>
                    </div>
                </div>
                {{ end }}
            {{ end }}
            </div>
            <div class="topic col-lg-2 d-none d-lg-block px-0">
                <p><a id="rss" class="td-box--gray-dark py-2 px-3 mb-4 text-left" href='{{ "/blog/index.xml" | relURL }}'><i class="fas fa-rss mr-1"></i>RSS</a></p>
            </div>
        </div>
       <!--  </div> --><!-- </div> -->
    {{ end }}
</div>
