<nav aria-label="breadcrumb" class="d-block d-md-block d-print-none">
	<ol class="breadcrumb spb-1">

		<!-- Topic -->
		{{ $topiclink := printf "/topics/%s" (.Params.level1 | urlize) }}
		{{ with .Site.GetPage $topiclink }}
		<li class="breadcrumb-item active" aria-current="page">
			<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		</li>
		{{ end }}

		<!-- Subtopic -->
		{{ $subtopiclink := printf "/topics/%s" (.Params.level1 | urlize) }}
		<!-- TODO: Link to subtopic --> {{ $subtopiclink := "#" }}
		<li class="breadcrumb-item active" aria-current="page">
			<a href="{{ $subtopiclink }}">{{ .Params.level2 }}</a>
		</li>

		<!-- If the guide has a parent, include in the breadcrumb -->
		{{ if .Params.parent }}
			<!-- Lookup section page -->
			{{ $sspage := index (where .Site.Pages "Params.subsection" .Params.parent) 0 }}
			<li class="breadcrumb-item active" aria-current="page">
				<a href="{{ $sspage.RelPermalink }}">{{ $sspage.LinkTitle }}</a>
			</li>
		{{ end }}

		<!-- Active page -->
		<li class="breadcrumb-item active" aria-current="page">
			<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		</li>

	</ol>
</nav>