{{ $links := .Site.Params.links }}

<section class="td-box td-box--gradient td-box--height-auto">
	<div class='container d-flex flex-wrap justify-content-between'>
		<div class="col-12 col-lg-6 pl-0 mb-5 flush-list">
			<h2>Engage with us!</h2>
			<p>For more on VMware Tanzu, join us here:
			{{ with index $links "developer"}}
			{{ template "community-links-list"  . }}
			{{ end }}
			</p>
			<p>VMware is committed to the open source community. <a href="https://tanzu.vmware.com/open-source">Find out more.</a></p>
		</div>
		<div class="col-12 col-lg-5 mb-3 mb-lg-0 pl-0">
			<div class="p-lg-5 p-md-5 p-3 td-box--gray-darkest">
	      <p class="text-white mt-0">Sign up for the developer newsletter</p>
	      <script src="https://connect.tanzu.vmware.com/js/forms2/js/forms2.min.js"></script>
	      <form id="mktoForm_1609" class="hidden"></form>
	      <script>
	        MktoForms2.setOptions({formXDPath : "/rs/pivotal/images/marketo-xdframe-relative.html"});
	        MktoForms2.loadForm("https://connect.tanzu.vmware.com", "625-IUJ-009", 1609, function(form){
	          form.setValues({ "Function__c": "Developer" });
	          form.onSuccess(function(values, followUpUrl) {
	            form.getFormElem().hide();
							window.dataLayer = window.dataLayer || [];
							window.dataLayer.push({
									'event' : 'ctaSubmitted',  
									'eventCategory': 'Subscription',  
									'eventAction': 'Form Submitted', 
									'eventLabel': 'Newsletter'
							});
							sendAmplitudeEventOnLoad('newsletter subscribed', {'page name': '{{ .Title }}', 'source': 'community', 'url path': window.location.pathname});
							sendAmplitudeUserPropsOnLoad({'newsletter subscriber': true});
	            $('.confirmation').show();
	            return false;
	          });
	        });
	      </script>
	      <div class='confirmation' style="display:none">Done!</div>
	      <br/>
	      <br/>
	    </div>
		</div>
	</div>
</section>

{{ define "community-links-list" }}
<ul class='list-unstyled '>
 {{ range . }}
 <li title="{{ .name }}">
   <a target="_blank" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}
