<select class="form-control country-select" name="country" aria-selected="None" required>
    <option value="None" selected disabled>Country</option>
</select>
<script>
    const countries = [
        { name: 'United States' },
        { name: 'Afghanistan' },
        { name: 'Åland Islands' },
        { name: 'Albania', gdpr: true },
        { name: 'Algeria' },
        { name: 'American Samoa' },
        { name: 'Andorra' },
        { name: 'Angola' },
        { name: 'Anguilla' },
        { name: 'Antarctica' },
        { name: 'Antigua and Barbuda' },
        { name: 'Argentina' },
        { name: 'Armenia' },
        { name: 'Aruba' },
        { name: 'Australia' },
        { name: 'Austria', gdpr: true },
        { name: 'Azerbaijan' },
        { name: 'Bahrain' },
        { name: 'Bahamas' },
        { name: 'Bangladesh' },
        { name: 'Barbados' },
        { name: 'Belgium', gdpr: true },
        { name: 'Belize' },
        { name: 'Benin' },
        { name: 'Bermuda' },
        { name: 'Bhutan' },
        { name: 'Bolivia, Plurinational State of' },
        { name: 'Bonaire, Sint Eustatius and Saba' },
        { name: 'Bosnia and Herzegovina' },
        { name: 'Botswana' },
        { name: 'Bouvet Island' },
        { name: 'Brazil' },
        { name: 'British Indian Ocean Territory' },
        { name: 'Brunei Darussalam' },
        { name: 'Bulgaria', gdpr: true },
        { name: 'Burkina Faso' },
        { name: 'Burundi' },
        { name: 'Cambodia' },
        { name: 'Cameroon' },
        { name: 'Canada', gdpr: true },
        { name: 'Cape Verde' },
        { name: 'Cayman Islands' },
        { name: 'Central African Republic' },
        { name: 'Chad' },
        { name: 'Chile' },
        { name: 'China' },
        { name: 'Christmas Island' },
        { name: 'Cocos (Keeling) Islands' },
        { name: 'Colombia' },
        { name: 'Comoros' },
        { name: 'Congo' },
        { name: 'Congo, the Democratic Republic of the' },
        { name: 'Cook Islands' },
        { name: 'Costa Rica' },
        { name: "Côte d'Ivoire" },
        { name: 'Croatia', gdpr: true },
        { name: 'Cuba' },
        { name: 'Curaçao' },
        { name: 'Cyprus', gdpr: true },
        { name: 'Czech Republic' },
        { name: 'Denmark', gdpr: true },
        { name: 'Djibouti' },
        { name: 'Dominica' },
        { name: 'Dominican Republic' },
        { name: 'Ecuador' },
        { name: 'Egypt' },
        { name: 'El Salvador' },
        { name: 'Equatorial Guinea' },
        { name: 'Eritrea' },
        { name: 'Estonia', gdpr: true },
        { name: 'Ethiopia' },
        { name: 'Falkland Islands (Malvinas)' },
        { name: 'Faroe Islands' },
        { name: 'Fiji' },
        { name: 'Finland', gdpr: true },
        { name: 'France', gdpr: true },
        { name: 'French Guiana', gdpr: true },
        { name: 'French Polynesia' },
        { name: 'French Southern Territories' },
        { name: 'Gabon' },
        { name: 'Gambia' },
        { name: 'Georgia' },
        { name: 'Germany', gdpr: true },
        { name: 'Ghana' },
        { name: 'Gibraltar' },
        { name: 'Greece', gdpr: true },
        { name: 'Greenland' },
        { name: 'Grenada' },
        { name: 'Guadeloupe', gdpr: true },
        { name: 'Guam' },
        { name: 'Guatemala' },
        { name: 'Guernsey' },
        { name: 'Guinea' },
        { name: 'Guinea-Bissau' },
        { name: 'Guyana' },
        { name: 'Haiti' },
        { name: 'Heard Island and McDonald Islands' },
        { name: 'Holy See (Vatican City State)' },
        { name: 'Honduras' },
        { name: 'Hong Kong' },
        { name: 'Hungary', gdpr: true },
        { name: 'Iceland', gdpr: true },
        { name: 'India' },
        { name: 'Indonesia' },
        { name: 'Iran, Islamic Republic of' },
        { name: 'Iraq' },
        { name: 'Ireland', gdpr: true },
        { name: 'Isle of Man' },
        { name: 'Israel' },
        { name: 'Italy', gdpr: true },
        { name: 'Jamaica' },
        { name: 'Japan' },
        { name: 'Jersey' },
        { name: 'Jordan' },
        { name: 'Kazakhstan' },
        { name: 'Kenya' },
        { name: 'Kiribati' },
        { name: "Korea, Democratic People's Republic of" },
        { name: 'Korea, Republic of' },
        { name: 'Kuwait' },
        { name: 'Kyrgyzstan' },
        { name: "Lao People's Democratic Republic" },
        { name: 'Latvia', gdpr: true },
        { name: 'Lebanon' },
        { name: 'Lesotho' },
        { name: 'Liberia' },
        { name: 'Libya' },
        { name: 'Liechtenstein', gdpr: true },
        { name: 'Lithuania', gdpr: true },
        { name: 'Luxembourg', gdpr: true },
        { name: 'Macao' },
        { name: 'Macedonia, the Former Yugoslav Republic of', gdpr: true },
        { name: 'Madagascar' },
        { name: 'Malawi' },
        { name: 'Malaysia' },
        { name: 'Maldives' },
        { name: 'Mali' },
        { name: 'Malta', gdpr: true },
        { name: 'Marshall Islands' },
        { name: 'Martinique' },
        { name: 'Mauritania' },
        { name: 'Mauritius' },
        { name: 'Mayotte', gdpr: true },
        { name: 'Mexico' },
        { name: 'Micronesia, Federated States of' },
        { name: 'Moldova, Republic of' },
        { name: 'Monaco' },
        { name: 'Mongolia' },
        { name: 'Montenegro', gdpr: true },
        { name: 'Montserrat' },
        { name: 'Morocco' },
        { name: 'Mozambique' },
        { name: 'Myanmar' },
        { name: 'Namibia' },
        { name: 'Nauru' },
        { name: 'Nepal' },
        { name: 'Netherlands', gdpr: true },
        { name: 'New Caledonia' },
        { name: 'New Zealand' },
        { name: 'Nicaragua' },
        { name: 'Niger' },
        { name: 'Nigeria' },
        { name: 'Niue' },
        { name: 'Norfolk Island' },
        { name: 'Northern Mariana Islands' },
        { name: 'Norway', gdpr: true },
        { name: 'Oman' },
        { name: 'Pakistan' },
        { name: 'Palau' },
        { name: 'Palestine, State of' },
        { name: 'Panama' },
        { name: 'Papua New Guinea' },
        { name: 'Paraguay' },
        { name: 'Peru' },
        { name: 'Philippines' },
        { name: 'Pitcairn' },
        { name: 'Poland', gdpr: true },
        { name: 'Portugal' },
        { name: 'Puerto Rico' },
        { name: 'Qatar' },
        { name: 'Réunion' },
        { name: 'Romania', gdpr: true },
        { name: 'Rwanda' },
        { name: 'Saint Barthélemy' },
        { name: 'Saint Helena, Ascension and Tristan da Cunha' },
        { name: 'Saint Kitts and Nevis' },
        { name: 'Saint Lucia' },
        { name: 'Saint Martin (French part)' },
        { name: 'Saint Pierre and Miquelon' },
        { name: 'Saint Vincent and the Grenadines' },
        { name: 'Samoa' },
        { name: 'San Marino' },
        { name: 'Sao Tome and Principe' },
        { name: 'Saudi Arabia' },
        { name: 'Senegal' },
        { name: 'Serbia', gdpr: true },
        { name: 'Seychelles' },
        { name: 'Sierra Leone' },
        { name: 'Singapore' },
        { name: 'Sint Maarten' },
        { name: 'Slovakia', gdpr: true },
        { name: 'Slovenia', gdpr: true },
        { name: 'Solomon Islands' },
        { name: 'Somalia' },
        { name: 'South Africa' },
        { name: 'South Georgia and the South Sandwich Islands' },
        { name: 'South Sudan' },
        { name: 'Spain', gdpr: true },
        { name: 'Sri Lanka' },
        { name: 'Sudan' },
        { name: 'Suriname' },
        { name: 'Svalbard and Jan Mayen' },
        { name: 'Swaziland' },
        { name: 'Sweden', gdpr: true },
        { name: 'Switzerland' },
        { name: 'Syrian Arab Republic' },
        { name: 'Taiwan, Province of China' },
        { name: 'Tajikistan' },
        { name: 'Tanzania, United Republic of' },
        { name: 'Thailand' },
        { name: 'Timor-Leste' },
        { name: 'Togo' },
        { name: 'Tokelau' },
        { name: 'Tonga' },
        { name: 'Trinidad and Tobago' },
        { name: 'Tunisia' },
        { name: 'Turkey', gdpr: true },
        { name: 'Turkmenistan' },
        { name: 'Turks and Caicos Islands' },
        { name: 'Tuvalu' },
        { name: 'Uganda' },
        { name: 'Ukraine' },
        { name: 'United Arab Emirates' },
        { name: 'United Kingdom', gdpr: true },
        { name: 'United States Minor Outlying Islands' },
        { name: 'Uruguay' },
        { name: 'Uzbekistan' },
        { name: 'Vanuatu' },
        { name: 'Venezuela, Bolivarian Republic of' },
        { name: 'Vietnam' },
        { name: 'Virgin Islands, British' },
        { name: 'Virgin Islands, U.S.' },
        { name: 'Wallis and Futuna' },
        { name: 'Western Sahara' },
        { name: 'Yemen' },
        { name: 'Zambia' },
        { name: 'Zimbabwe' },
    ];
    countries.forEach((country) => {
        $('select.country-select').append(
            `<option value="${country.name}">${country.name}</option>`
        );
    });
</script>
