<div class="section-index">
    {{ $pages := sort (where .Site.Pages "Section" "tv") }}
    {{ $parent := .Page }}
    {{ $.Scratch.Set "upcoming" false }}

    <div class="container episodes" id='{{ replaceRE "(\\s)" "" (lower .Title) }}'>
        {{ range sort $pages "Params.Date" "asc" }}
            {{ if and (eq .Parent $parent) (gt .Params.Date.Unix now.Unix) }}
                {{ $.Scratch.Set "upcoming" true }}
            {{ end }}
        {{ end }}

        {{ if eq ($.Scratch.Get "upcoming") true }}
            {{ if (isset .Params "streaming") }}
                <div class="px-0">
                    <h3 class="mt-4 mb-4">Upcoming Episodes</h3>
                    <div class="row justify-content-between mb-5">
                        {{ range sort $pages "Params.Date" "asc" }}
                        {{ if and (eq .Parent $parent) (gt .Params.Date.Unix now.Unix) }}
                        {{ $.Scratch.Set "streamName" "" }}
                        {{ if isset .Params "twitch" }}
                            {{ $.Scratch.Set "streamName" "on Twitch" }}
                        {{ else if isset .Params "youtube" }}
                            {{ $.Scratch.Set "streamName" "on YouTube" }}
                        {{ end }}
                        {{ if .Params.no_details }}
                            {{ printf "<div class=\"no-details upcoming col-lg-6 col-12 px-0 mb-5\" data-episode-date=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}
                        {{ else }}
                        {{ printf "<div class=\"upcoming col-lg-6 col-12 px-0 mb-5\" data-episode-date=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}
                        {{ end }}
                            <script>
                                var upcomingEpisodes = document.querySelectorAll('div.upcoming');
                                var upcomingEpisode = upcomingEpisodes[upcomingEpisodes.length - 1];
                                var currentDate = new Date(new Date().getFullYear(),new Date().getMonth() , new Date().getDate());
                                var epDate = (new Date(upcomingEpisode.dataset.episodeDate)).getTime();
                                var diffTime = Math.abs(epDate - currentDate);
                                var diffDays = Math.floor(diffTime / (1000 * 3600 * 24)); 
                                var whenLive = "in " + diffDays + " days";
                                if (diffDays == 0) whenLive = "today";
                            </script>
                            <div class="col-lg-11 col-12 px-0" style='position:relative;'>
                                {{ $.Scratch.Set "episodeLink" .RelPermalink }}
                                {{ if (isset .Params "register") | and (not (eq .Params.register "")) }}
                                    {{ $.Scratch.Set "episodeLink" .Params.register }}
                                {{ end }}
                                {{ $episodeLink := $.Scratch.Get "episodeLink" }}

                                <a href="{{ $episodeLink }}"><img alt={{ .Title }} class="upcoming" src="{{ partial "tv-image-src" . }}"><span class="countdown btn btn-small mb-4 mt-2">Live&nbsp;<script>document.write(whenLive);</script></span></a>
                                {{ if .Params.no_streaming_label }}
                                    <p></p>
                                {{ else }}
                                    <p class="teaser auto mt-4 pt-3">Streaming {{ .Params.Date.Format "January 2" }} {{ print ($.Scratch.Get "streamName") }}</p>
                                {{ end }}
                                <h3 class="pt-2"><a class="text-white" href="{{ $episodeLink }}">{{- .Title -}}</a></h3>
                                {{ if .Params.subtitle }}
                                    <p class="teaser auto mt-1">{{ .Params.subtitle }}</p>
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                    </div>
                </div>
                <script type="text/javascript">
                var upcoming = document.querySelectorAll(".upcoming");
                var currentTime = Date.now();
                var episodesLeft = upcoming.length;
                upcoming.forEach(episode => {
                    var episodeTime = new Date(episode.dataset.episodeDate).getTime();
                    if (episodeTime < currentTime) {
                        episode.style.display = "none";
                        episodesLeft--;
                    }
                });
                if (episodesLeft == 0) {
                    document.getElementById("upcoming").style.display = "none";
                }
                </script>
            {{ end }}
        {{ end }}

        {{ $noUpcoming := false }}
        {{ if (or (eq ($.Scratch.Get "upcoming") true) (isset .Params "streaming")) }}
            {{ $noUpcoming := true }}
        {{ end }}

        <div class="px-lg-0 pt-4 {{ if $noUpcoming }} border-top{{ end }} mb-5">
            {{ if (isset .Params "streaming") }}
            {{ if not .Params.noPast }}
            <h3 class="mb-4">Watch Past Episodes</h3>
            {{ end }}
            {{ end }}
            <div class="row align-items-baseline mb-3">
            {{ range sort $pages "Params.episode" "desc" }}
                {{ if eq .Parent $parent }}
                    <a class='col-lg-4 col-12 mb-5 px-0' href="{{ .RelPermalink }}">
                        <div class='col-4-thumbnail col-lg-11 col-12 px-0 overflow-hidden position-relative'>
                            <div class='thumbnail-gradient position-absolute'></div>
                            <img alt="{{ .Title }}" src='{{ partial "tv-image-src" . }}' />
                            {{ if gt (len .Title) 70}}
                                <div class='video-description d-flex flex-column justify-content-between'>
                                    <p class='text-white mt-0'> {{ print (substr .Title 0 70) "..." }} </p>
                                    <p class='show-date mt-4 text-white h5'>{{ dateFormat "Jan 2 2006" (substr .Date 0 10)}}</p>
                                </div>
                            {{ else }}
                                <div class='video-description d-flex flex-column justify-content-between'>
                                    <p class='text-white mt-0'> {{.Title}} </p>
                                    <p class='show-date mt-4 text-white h5'>{{ dateFormat "Jan 2 2006" (substr .Date 0 10)}}</p>
                                </div>
                            {{ end }}
                            {{ printf "<div class=\"previous col-lg-6 col-12 display-none\" data-episode-date=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}</div>
                        </div>
                    </a>
                {{ end }}
            {{ end }}
            </div>
            <script type="text/javascript">
                var previous = document.querySelectorAll(".previous");
                var currentTime = Date.now();
                previous.forEach(episode => {
                    var episodeTime = new Date(episode.dataset.episodeDate).getTime();
                    if (episodeTime > currentTime) {
                        episode.parentNode.parentNode.style.display = "none";
                    }
                });
                </script>
                
        </div>
    </div>
</div>
