<div class="td-box--gray-dark episode-card mr-3 mb-3 flex-315 transition-all">
    <a class="linked-box td-box--gray-dark p-4 position-relative" href="{{ .RelPermalink }}">
        <img alt="{{ .Title }}" src="{{ partial "tv-image-src" . }}" />
        <div class="card-type-id">
            <!-- <i class="fas fa-book"></i> -->
            <img alt="" class="d-inline-block" src='{{ "/images/icons/icon-videos-label.svg" | relURL }}'>
            <span class="h5">TV</span>
        </div>
            <p class="teaser auto mt-4 pt-3">{{ if gt .Params.Date.Unix now.Unix }}Streaming{{ else }}Recorded{{ end }} {{ .Params.Date.Format "January 2, 2006" }}</p>
        <p class="link">{{ .Title }}</p>
    </a>
</div>