
<div class="section-index">
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $parent := .Page }}
    {{ if $parent.Params.no_list }}
    {{/* If no_list is true we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
        <ul>
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                    <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ else }}
        {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
        
        <!-- Gather topics -->
        {{ $topicgroups := where .Site.Pages "Section" "topicgroups" }}
        {{ range $topicgroups }}
            {{ $topics := where (where .Site.Pages "Section" "topics") ".Params.topicgroups" .Title }}
            {{ range $topics }}
                <div class="row mb-4 align-items-center flex-nowrap">
                    <img alt="" class="icon icon-md d-block d-lg-inline-block mr-4" src='{{ printf "%s%s%s" "/images/icons/new-icon-" .Params.icon ".svg" | relURL }}'>
                    <div class='icon-title'><h2 class="mb-0 py-0">{{ .Title }} </h2></div>
                </div>
                <div class="row mb-5">
                {{ $pages := where (where .Site.Pages "Section" "guides") ".Params.level1" .Title }}
                {{ range $pages }}
                    {{ if ne .Params.toppage true }}
                        <div class="flex-315 mr-3 mb-3">
                            <a class="linked-box td-box--gray-dark px-4 py-2" href="{{ .RelPermalink }}">
                                <h2 class="link mt-3 h4 pt-0">{{- .Title -}}</h2>
                                <p>{{ .Description | markdownify }}</p>
                            </a>
                        </div>
                    {{ end }}
                {{ end }}
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
