
<div class="section-index">
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $parent := .Page }}
    {{ if $parent.Params.no_list }}
    {{/* If no_list is true we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
        <ul>
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                    <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ else }}
    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
    <!-- <hr class="panel-line"> -->
        <!-- <div class="col"> --><div class="row">
        {{ range $pages }}
            {{ if eq .Parent $parent }}
            <div class="flex-315 mr-3 mb-3">
                <a class="linked-box td-box--gray-dark px-4 py-2" href="{{ .RelPermalink }}">
                    <h2 class="link mt-3 h4 pt-0">{{- .Title -}}</h2>
                    <p>{{ .Description | markdownify }}</p>
                </a>
            </div>
            {{ end }}
        {{ end }}
       <!--  </div> --></div>
    {{ end }}
</div>
