
{{ $scssMain := "scss/main.scss" }}
{{ $scssCustom := "scss/custom.scss" }}
{{ $scssLight := "scss/light-theme.scss" }}

{{ if .Site.IsServer }}
{{/* Note the missing postCSS. This makes it snappier to develop in Chrome, but makes it look sub-optimal in other browsers. */}}
{{ $css := resources.Get $scssMain | resources.ExecuteAsTemplate "css/main.css" . | toCSS (dict "enableSourceMap" true) }}
{{ $cssCustom := resources.Get $scssCustom | resources.ExecuteAsTemplate "css/custom.css" . | toCSS (dict "enableSourceMap" true) }}
{{ $cssLight := resources.Get $scssLight | resources.ExecuteAsTemplate "css/light-theme.css" . | toCSS (dict "enableSourceMap" true) }}

<link rel="preload" href="{{ $css.RelPermalink }}" as="style">
<link rel="preload" href="{{ $cssCustom.RelPermalink }}" as="style">
<link rel="preload" href="{{ $cssLight.RelPermalink }}" as="style">
<link href="{{ $cssCustom.RelPermalink }}" rel="stylesheet">
<link href="{{ $css.RelPermalink }}" rel="stylesheet">


{{ else }}
{{ $css := resources.Get $scssMain | resources.ExecuteAsTemplate "css/main.css" . | toCSS (dict "enableSourceMap" false) | postCSS | minify | fingerprint }}
{{ $cssCustom := resources.Get $scssCustom | resources.ExecuteAsTemplate "css/custom.css" . | toCSS (dict "enableSourceMap" false) | postCSS | minify | fingerprint }}
{{ $cssLight := resources.Get $scssLight | resources.ExecuteAsTemplate "css/light-theme.css" . | toCSS (dict "enableSourceMap" false) | postCSS }}

<link rel="preload" href="{{ $css.RelPermalink }}" as="style">
<link rel="preload" href="{{ $cssCustom.RelPermalink }}" as="style">
<link rel="preload" href="{{ $cssLight.RelPermalink }}" as="style">
<link href="{{ $cssCustom.RelPermalink }}" rel="stylesheet" integrity="{{ $cssCustom.Data.integrity }}">
<link href="{{ $css.RelPermalink }}" rel="stylesheet" integrity="{{ $css.Data.integrity }}">

{{ end }}
