<div class="learningpaths-index row">
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $parent := .Page }}
    {{ range $pages }}
    {{ if eq .Parent $parent }}

    {{ $totalDuration := 0 }}

    {{ range .Params.courses }}
        {{ $course := $.Site.GetPage (printf "/courses/%s" .) }}
        {{ $totalDuration = add $totalDuration (int $course.Params.duration) }}
    {{ end }}

    <a class="h-auto linked-box td-box--gray-dark p-4 flex-315 col-12 mr-3 mb-3 px-0" href="{{ .RelPermalink }}">
        <h2 class="h4 link mt-3 pt-0">{{- .Title -}}</h2>
        <p>{{ .Description | markdownify }}</p>
        <div class="row justify-content-between d-flex mt-4 mb-2">
            <div class="learning-path-duration">
                <i class="fas fa-hourglass-half"></i>
                {{ if gt $totalDuration 60 }}
                    <!-- Round up to closest full hour duration -->
                    {{ math.Ceil (div $totalDuration 60.0) }}h    
                {{ else }}
                    {{ $totalDuration }}m
                {{ end }}
            </div>
            <div class="course-lp-count">
                <i class="fas fa-graduation-cap"></i>
                {{ len .Params.courses }} Courses
            </div>
            <div class="learning-path-level">
                {{ $experience := .Params.experience | default "Beginner" }}
                {{ if eq $experience "Beginner" }}
                    <h5><span class="badge badge-success mr-3 py-1 px-2 antialiased">Beginner</span></h5>
                {{ else if eq $experience "Intermediate" }}
                    <h5><span class="badge badge-warning mr-3 py-1 px-2 antialiased">Intermediate</span></h5>
                {{ else if eq $experience "Advanced" }}
                    <h5><span class="badge badge-danger mr-3 py-1 px-2 antialiased">Advanced</span></h5>
                {{ end }}
            </div>
        </div>
    </a>

    {{ end }}
    {{ end }}
</div>