<div class="bg-gray-light subtopic mb-3 col-lg-4">
    <a href="{{ .RelPermalink }}" class="text-white">
        <p><div class="link mt-4 px-3 mb-0 text-left h3">{{ .Title }} </div></p>
        <div class="card-type-id">
            <i class="fas fa-list-ol"></i>
            Learning Path
        </div>
        <div class="learning-path-description py-3 px-4 mb-4 text-left" >{{ .Description }}</div>
        <div class="row justify-content-between d-flex px-4">
            <div class="learning-path-duration">
                <i class="fas fa-hourglass-half"></i>
                {{ if gt .Params.duration 60 }}
                    <!-- Round up to closest full hour duration -->
                    {{ math.Ceil (div .Params.duration 60.0) }}h    
                {{ else }}
                    {{ .Params.duration }}m
                {{ end }}
            </div>
            <div class="learning-path-level">
                {{ if eq .Params.experience "Beginner" }}
                    <h5><span class="badge badge-success mr-3 py-1 px-2 antialiased">Beginner</span></h5>
                {{ else if eq .Params.experience "Intermediate" }}
                    <h5><span class="badge badge-warning mr-3 py-1 px-2 antialiased">Intermediate</span></h5>
                {{ else if eq .Params.experience "Advanced" }}
                    <h5><span class="badge badge-danger mr-3 py-1 px-2 antialiased">Advanced</span></h5>
                {{ end }}
            </div>
        </div>
    </a>
</div>