<p class="mb-5 outcomes-intro">
    Outcome Architectures are designed to enable you to achieve the outcomes that are 
    right for your business by way of a curated learning path. This content provides the 
    "Why?" in the form of strategy content, as well as the "How?" in the form of 
    practical and proven tactical references.
</p>
<div class="outcomes-index row">
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $parent := .Page }}
    {{ range $pages }}
    {{ if .IsSection }}
    {{ if eq .Parent $parent }}
    <a class="h-auto linked-box td-box--gray-dark p-4 flex-315 col-12 mr-3 mb-3 px-0" href="{{ .RelPermalink }}">
        <h2 class="h4 link mt-3 pt-0">{{- .Title -}}</h2>
        <p>{{ .Description | markdownify }}</p>
    </a> 
    {{ end }}
    {{ end }}
    {{ end }}
</div>
