<div class="learningpaths-pager my-lg-0 my-5 d-flex d-print-none justify-content-between px-3">
    {{ if .NextInSection }}
    <a href="{{.NextInSection.RelPermalink}}" 
        class="bg-gray-dark flex-grow-1 flex-shrink-1 my-4 pl-4 pr-4 pt-2 pb-2 d-flex justify-content-between align-items-center mr-2">
        <i class="fas fa-arrow-left mr-4"></i>
        <div class="align-self-baseline">
            <p class="text-right text-uppercase font-weight-light mb-0">{{ T "ui_pager_prev" }}</p>
            <p class="text-right mt-0">{{.NextInSection.Title}}</p>
        </div>
    </a>
    {{ else }}
    <a href="{{ .Parent.RelPermalink }}" 
        class="bg-gray-dark flex-grow-1 flex-shrink-1 my-4 pl-4 pr-4 pt-2 pb-2 d-flex justify-content-between align-items-center mr-2">
        <i class="fas fa-arrow-left mr-4"></i>
        <div class="align-self-baseline">
            <p class="text-right text-uppercase font-weight-light mb-0">{{ T "ui_pager_prev" }}</p>
            <p class="text-right mt-0">Overview</p>
        </div>
    </a>
    {{ end }}
    {{ if .PrevInSection }}
    <a href="{{.PrevInSection.RelPermalink}}"
        class="bg-gray-dark flex-grow-1 flex-shrink-1 my-4 pl-4 pr-4 pt-2 pb-2 d-flex justify-content-between align-items-center ml-2">
        <div class="align-self-baseline">
            <p class="text-left text-uppercase font-weight-light mb-0">{{ T "ui_pager_next" }}</p>
            <p class="text-left mt-0">{{.PrevInSection.Title}}</p>
        </div>
        <i class="fas fa-arrow-right ml-4"></i>
    </a>
    {{ end }}
</div>
