<div id="app-modernization" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Application Modernization: Migrating Mainframe Apps to the Cloud Using Spring</div>
    <p>Mainframes have been the engine for data processing for over 50 years, but we've reached that time where we move
        our applications off of the mainframe to new infrastructure, to the cloud, or a hybrid approach. But what tools
        do we have at our disposal to migrate our COBOL applications from the mainframe to these new platforms? This is
        where the Spring ecosystem provides the tools to help with this migration. In this discussion, we'll show you
        how Spring and its ecosystem can help with migrating applications from the mainframe to your new platform.
        Projects such as Spring Batch, Spring Cloud, and Spring Boot can be used to simplify this migration process.
        This is where the Spring ecosystem provides the tools to help with this migration. In this discussion, we'll
        show you how Spring and its ecosystem can help with migrating applications from the mainframe to your new
        platform. Projects such as Spring Batch, Spring Cloud, and Spring Boot can be used to simplify this migration
        process.</p>
</div>
<div id="azure-spring-apps" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Simplify and Scale Enterprise Spring Apps in the Cloud</div>
    <p>Learn how developers can focus on building great applications that deliver value to customers, and with the new
        Azure Spring Apps Enterprise Tier (now in preview), you get even more advanced capabilities and support.</p>
    <p>Learn how Azure Spring Apps Enterprise can help:</p>
    <ul>
        <li>Deploy and manage Spring and polyglot apps in the cloud at enterprise scale.</li>
        <li>Effortlessly route client requests to applications with fully managed Tanzu Spring Cloud Gateway and Tanzu
            API Portal.
        </li>
        <li>Select and configure commercial VMware Tanzu components like Tanzu Build Service and Service Registry on
            demand.
        </li>
        <li>Experience Spring’s full potential with long-term support for Spring projects.</li>
    </ul>
    <p>Azure Spring Apps, a fully managed service from Microsoft and VMware, solves the challenges of running Spring
        apps at cloud scale by removing the need to worry about infrastructure, application lifecycle, monitoring,
        container intricacies, and Kubernetes."</p>
</div>
<div id="canz-u-tanzu" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Canz U Tanzu?</div>
    <p>In this short talk, we'll show you how to use VMware Tanzu Community Edition to easily get set up with a
        Kubernetes cluster on your local machine that includes additional useful packages to enhace your experience
        deploying and rnning applications.</p>
</div>
<div id="change-data-capture" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Change Data Capture: A Primer</div>
    <p>How will change data capture (CDC) help transform your enterprise data architecture? What
        <em>is</em> CDC for? Is it for
        everyone? Let's tackle this and more in this Lightning Talk. This talk will provide a peek into the nature and
        intention of this architectural concept, but also some frameworks that let us take advantage of it now.</p>
</div>
<div id="codezillas" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Codezillas: The Universal Truths of Software Development</div>
    <p>Despite our best efforts, many software projects don’t end with champagne and cake. While some blame a bad
        technology choice, more often than not, the issues boil down to people problems. Traditional computer science
        education focuses on algorithms and languages while largely ignoring the human aspect of software and the
        sociology of organizations. Fear not friends, there are patterns and approaches that can help you win trust
        quickly, create allies, set expectations and effectively communicate during the ups and downs of project
        life.</p>
    <p>Dodging the pitfalls of software implementation can be taxing. How do we navigate the existing social complexity
        and interpersonal dynamics found in every organization? How do we earn trust, maintain rapport and turn clients
        into advocates? This talk will explore the challenges of building and maintaining software using examples from
        within and beyond the software industry to help give you the tools to chart a path to more than just a
        successful launch but a team that enjoys the journey.</p>
</div>
<div id="cloud-native-architectures" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Cloud Native Architectures</div>
    <p>By now, your organization has planted a flag in “the Cloud” and it is up to you to figure out just what that
        means to your application portfolio. Should everything be a microservice? Wait, what *is* a microservice anyway?
        How do you deal with massively distributed applications? How can event storming fix the gap between your
        business problems and domain model?</p>
</div>
<div id="dependency-injection" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">More Maintainable, Testable Applications with Dependency Injection in Spring</div>
    <p>WaffleCorp is a .NET shop, whilst Waverley’s Waffles utilizes the power of Spring with Java. Now developers from
        both tech stacks are coming together as a team.</p>
    <p>Layla is a .NET developer and has no idea of all the great and useful things that Spring has to offer. Jakub will
        be sharing his knowledge of Spring and dependency injection, covering IoC, Spring core, Spring tests, Spring
        Boot, and more. Through a collection of live demos, Jakub and Layla will guide you through some Spring
        fundamentals, why they're important, and when to use them (and when not to).</p>
</div>
<div id="graphql" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Getting Started with Spring for GraphQL</div>
    <p>WaffleCorp is a major provider of breakfast products available direct to consumer or through our strategic
        partnerships. The current implementation of the e-commerce platform is a monolithic Spring MVC application that
        serves data through a collection of REST APIs.</p>
    <p>Currently, the only provider of the REST API is our e-commerce web application. We've been tasked with opening up
        our APIs to our new iOS and Android apps, partner microservices, and IoT applications.</p>
    <p>The issue we ran into is that a REST API is not a one-size-fits-all approach. We need a more flexible solution to
        meet the requirements of all of our client applications. This is a perfect use case for the speed and
        flexibility of GraphQL.</p>
    <p>GraphQL is a query language for APIs and a runtime for fulfilling those queries with your existing data. GraphQL
        provides a complete and understandable description of the data in your API, gives clients the power to ask for
        exactly what they need and nothing more, makes it easier to evolve APIs over time, and enables powerful
        developer tools.</p>
    <p>In this session, you’ll learn what GraphQL is and why you should consider it in your next project. You’ll learn
        how to use GraphQL in your Spring Boot applications by leveraging the Spring for GraphQL project. By the end of
        this session, you’ll understand how to stand up a GraphQL endpoint and request the data you need, and nothing
        more.</p>
</div>
<div id="k8s-clusters" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Getting the Most From Your Kubernetes Clusters</div>
    <p>Deploying and running complex distributed applications involves a trade-off; we want to maximise performance and
        availability, and at the same time make responsible use of finite and costly compute resource.In this talk we
        will look at the features and tools that Kubernetes provides to help manage this trade-off, particularly those
        features provided by the Kubernetes Scheduler. We'll also take a brief look at how the scheduler can be extended
        for custom use-cases.We will look at how we can define different levels of coupling between our application
        components, how we can scale those components dynamically, and how we can observe an application's performance.
        We will also show that Kubernetes can provide a way for application owners to express the runtime requirements
        of their applications in a way that operations and platform teams can easily consume as those teams design and
        build platforms.</p>
</div>
<div id="k8s-data-lifecycle" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Microservices and Kubernetes for Your Full Data Lifecycle</div>
    <p>Data doesn’t magically appear in our data centers. There are usually several phases and several storage locations
        along its journey throughout your organization. New architectural patterns, such as microservices, and new
        technology, such as Kubernetes are changing how we can think about and manage the large volumes of data coming
        at us. In this talk we will begin by quickly introducing the architecture and technology and how they make our
        lives better. From there it’s live demo time combining Java microservices, a processing caching service, a
        messaging layer, and a relational database all running in Kubernetes . This application will be handling
        frequently updated data, generating alerts on specific data events, and simultaneously populating a system of
        record. Come for the discussion, hands-on demo, and witty banter!</p>
</div>
<div id="k8s-gotchas" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">The Gotchas of Zero-Downtime Traffic with Kubernetes</div>
    <p>Noticing your customers receive 503’s every now-and-then?</p>
    <p>Do they spike when you’re updating your app or rotating your k8s cluster nodes?</p>
    <p>Maybe you used to have this problem — then you added some strange settings and it’s mostly working now...</p>
    <p>What most people need from K8s regarding web-traffic is a repeatable but under-documented combo of esoteric,
        non-default options.</p>
    <p>We’ll walk through the basic needs of shaping traffic and apply that knowledge to the states of compute, rollout,
        and canonical networking we see with k8s.</p>
    <p>Expect tidbits about CRI, CNI, Ingress, and the design trade-offs present in Kubernetes.</p>
    <p>You’ll leave knowing how to keep your apps serving successful requests for a myriad of edge-cases.</p>
</div>
<div id="k8s-intro" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Intro to Kubernetes</div>
    <p>If you’re working with just a few containers, managing them isn't too complicated. But what if you have hundreds
        or thousands? Think about having to handle multiple upgrades for each container, keeping track of container and
        node state, available resources, and more. That’s where Kubernetes comes in. Kubernetes is an open source
        container management platform that helps you run containers at scale. This talk will cover Kubernetes components
        and show how to run applications on it.</p>
</div>
<div id="k8s-native-java" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Kubernetes-Native Java</div>
    <p>Spring is all about helping developers get to production quickly and safely. These days, “production” is all but
        guaranteed to mean Kubernetes, and Spring has you covered. Join me, Spring Developer Advocate Josh Long (<a
                href="https://twitter.com/@starbuxman" target="_blank">@starbuxman</a>), and we‘ll look at how Spring
        Boot makes writing blisteringly fast, cloud native, and scalable services more effortless than ever.
    </p>
</div>
<div id="k8s-operators" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Bootiful Kubernetes Operators</div>
    <p>You know what’s fun? Automating the ever livin’ heck out of infrastructure! Slaying that YAML! Nobody wants to
        painstakingly build something then spend weeks trying to write the YAML to describe it to the infrastructure.
        Thankfully, Kubernetes provides composability through abstractions like operators, controllers, and custom
        resource definitions. These days, it’s trivial to extend Kubernetes with a Spring Boot application, turn it into
        a GraalVM native image that runs in a Docker container, and then deploy that. Join us, and we’ll learn how to
        extend and automate Kubernetes with Spring Boot and Spring Native-powered custom operators and eliminate that
        ever-so pesky YAML.</p>
</div>
<div id="k8s-rdbms" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">RDBMS on Kubernetes: Data Science Done Right</div>
    <p>One is the new hotness and the other might be seen as old and stuffy - yet both Kubernetes and RDBMS are two
        powerful tools to have in your data scientist toolbox (or to help give to the data scientists you support).
        PostgreSQL will be the particular database we discuss but most of the points apply to any modern RDMS. There
        have been a lot of overlooked features added to PostgreSQL that will bring joy to data scientists. The goal of
        this talk is to help you appreciate all the ways that adding Kubernetes and PostgreSQL to your team’s tools can
        improve everyone’s lives by:</p>
    <ul>
        <li>Less data over the wire</li>
        <li>Doing the analysis where the data lives</li>
        <li>Repeatability</li>
        <li>Horizontal scaling for analysis (even autoscaling)</li>
        <li>Most importantly, cleaner separation of concerns</li>
    </ul>
    <p>By the end you will understand why both your data scientists, your ops people, and even your application
        developers will love bringing these two well known tools together to do a majority of their work. Come for the
        questions, feedback, and fun banter.</p>
</div>
<div id="knative" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">What is Knative Serving?</div>
    <p>What is Knative Serving, and how does it help you simplify and enhance the way that your application runs on
        Kubernetes? How does it work? What components are at play? In what ways is running an app on Knative superior to
        running it directly on Kubernetes? Join in the conversation as Whitney Lee discusses (and draws!) the answers to
        these questions and more!</p>
</div>
<div id="login-page" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Do the Login Page First</div>
    <p>Every great app starts somewhere. Can you really call something “minimum viable product“ if it doesn't include
        security? In this session, we‘ll cover the value of starting with security included. We‘ll create a Spring Boot
        application and explore options for authentication and authorization, from simple to social and Oauth2.</p>
</div>
<div id="observability" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Observability: Beyond the Three Pillars with Spring</div>
    <p>In this presentation, we’ll explore the basics of the three pillars and what Spring has to offer to implement
        them for logging (SLF4J), metrics (Micrometer), and distributed tracing (Spring Cloud Sleuth, Zipkin/Brave,
        OpenTelemetry).</p>
    <p>I’ll also talk about how to take your system to the next level, and what else you can find in Spring and related
        technologies to look under the hood of your running system (Spring Boot Actuator, Logbook, Eureka, Spring Boot
        Admin, Swagger, Spring HATEOAS) and what our future plans are.</p>
</div>
<div id="omgdevsecopsbbq" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">OMGDEVSECOPSBBQ</div>
    <p>What exactly is DevSecOps? Come and find out.</p>
</div>
<div id="platform-as-a-product" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Platform as a Product</div>
    <p>Most Ops groups can’t give developers what they need. Ops is limited by traditional service delivery mindset and
        tools. Stability and reliability are now table stakes when you’re releasing software daily. What developers need
        now from Ops is innovation. Operations rarely takes this innovation-driven, product approach to providing
        services and instead focuses on delivering to specification and limiting SLAs. As with development, Ops creates
        value with continuous operations, product managing their platforms, and releasing frequently. This talk covers
        how Ops groups are transforming from a service delivery mindset to a platform-as-a-product approach. With
        examples from Discover Financial Services, Rabobank, the U.S. Air Force, and others, the talk covers the
        concept, technologies, and tools commonly used, along with Ops tactics needed to kick off a
        platform-as-a-product strategy.</p>
</div>
<div id="progressive-delivery" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Doing Progressive Delivery with Your Team</div>
    <p>What is progressive delivery? This new industry term encompasses the mechanisms, culture, and strategy needed to
        shape and analyze traffic for safer app deployments. This includes traffic shifting, dark deploys, feature
        flagging, and A/B testing!</p>
    <p>Come join this session to learn about the prerequisites of retained RED metrics and SRE practices, as well as
        tools that can orchestrate this exciting deployment technique.</p>
</div>
<div id="pulsar-luna" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Deploying Pulsar projects with Datastax Luna</div>
    <p>Apache Pulsar is a streaming platform designed to bring Integration to the fingertips of the enterprise. This
        talk will go over a typical integration exercise, using Datastax Luna as the target deployment system.</p>
</div>
<div id="responsible-microservices" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Responsible Microservices</div>
    <p>These days, you can’t swing a dry erase marker without hitting someone talking about microservices. Developers
        are studying Eric Evans' prescient book, Domain-Driven Design. Teams are refactoring monolithic apps, looking
        for bounded contexts and defining a ubiquitous language. And although there have been countless articles,
        videos, and talks to help you convert to microservices, few have spent any appreciable time asking if a given
        application should be a microservice. In this talk, I‘ll show you a set of factors you can apply to help you
        decide if something deserves to be a microservice or not. We’ll also look at what we need to do to maintain a
        healthy micro(services)biome.</p>
</div>
<div id="securing-gitops" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Securing GitOps Debug Access with Pinniped, Dex, and GitHub</div>
    <p>Git alone provides a pretty mediocre inner-loop for deployment to a cluster — Git is powerful for collaboration,
        but it’s not a debugger.</p>
    <p>However, git platforms can still add value for debugging!</p>
    <p>Roles and group membership are usually weaved into the habits teams build around git repos. This can be combined
        within the authentication and authorization systems used in a multi-cluster Kubernetes platform!</p>
    <p>In this live demo, Leigh will show how the incredibly flexible, open-source combo of Flux (<a
            href="https://fluxcd.io/" target="_blank">fluxcd.io</a>), Pinniped (<a href="https://pinniped.dev/"
                                                                                   target="_blank">pinniped.dev</a>),
        and Dex (<a href="https://dexidp.io/" target="_blank">dexidp.io</a>) can empower a team to leave a traceable
        solution during a production incident. Let’s explore effective team debugging habits with Kubernetes and git :)
    </p>
</div>
<div id="spring-cli" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">A New CLI for Spring Developer Productivity</div>
    <p>Creating new apps based on company standards is harder than it should be. Furthermore, incrementally adding new
        features to that project over time is even harder with developers often cutting-and-pasting code from various
        sources to solve the problem at hand. In this talk, we introduce a new CLI for Spring developers that will help
        you accelerate your development all while following best practices and keeping the tooling open for change and
        extension by individual teams and people.</p>
</div>
<div id="spring-cloud-gateway-recipes" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Spring Cloud Gateway Recipes</div>
    <p>Spring Cloud Gateway is a developer-centric API gateway. An API gateway is an abstraction over a distributed
        systems architecture. The API Gateway is a natural place to provide cross-cutting concerns such as security,
        resiliency, and transformation. In this talk, we'll discuss practical use cases that you may encounter. Some
        recipes we'll discuss include: securing gateway with OAuth 2 and Spring Security and relaying tokens to
        services, rate-limiting using Spring Security and the logged-in user, implementing a backend for frontend using
        a scatter-gather technique, and more.</p>
</div>
<div id="spring-cloud-openfeign" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Declarative Clients in Spring</div>
    <p>What is a declarative HTTP client vs an imperative one? Why are they useful and why should I care? We’ll talk
        about options that are available in the Spring Portfolio and what is coming on the horizon.</p>
    <p>In this session we will look at the history of declarative clients in Spring via Spring Cloud OpenFeign. We will
        also dive into upcoming options that are coming to Spring and the advantages that these new technologies bring
        to developer experience.</p>
</div>
<div id="spring-for-architects" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Spring For Architects</div>
    <p>With globally distributed applications (and teams!), the job of software architect isn’t getting any easier;
        applications are growing increasingly complex and architects are spread thin. You can’t be involved with every
        decision—you must empower your teams while ensuring they're making good choices. How do you do that? How can
        frameworks like Spring not only make your life easier but help your teams deliver robust applications to
        production? Spring Cloud has a veritable plethora of sub projects, from circuit breakers to functions, that
        simplify the task of building cloud native applications while making it easy for developers to adhere to best
        practices. At the same time, it can be overwhelming to get your head wrapped around all the features Spring
        offers. This talk will show how Spring allows architects to focus on the critical design decisions they need to
        make while ensuring developers are empowered to implement critical business use cases. Today’s cloud native
        applications have similar pitfalls; luckily Spring is here to help you resolve them!</p>
</div>
<div id="spring-native" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Spring Native By Example</div>
    <p>Spring Framework 6 and Spring Boot 3 imply a new baseline. They will bring the Spring ecosystem in line with the
        needs of tomorrow's workloads. Spring Native provides support for compiling Spring applications to native
        executables using GraalVM.Native images can provide cheaper, more sustainable delivery for a range of workloads.
        These include microservices, function workloads, well suited to containers, and Kubernetes.In this session, we
        will look at the GraalVM AOT compiler. We will produce native images with smaller footprints and faster startup
        times. We'll look at how to containerize those workloads. We'll look at how to tame the GraalVM compiler when
        something goes wrong. And we'll look at how to teach GraalVM about your custom workloads.Explore how Spring
        Native delivers valuable outcomes, today.</p>
</div>
<div id="spring-productivity-cli" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">A New CLI for Spring Developer Productivity</div>
    <p>Creating new apps based on company standards is harder than it should be. Furthermore, incrementally adding new
        features to that project over time is even harder with developers often cut-n-pasting code from various sources
        to solve the problem at hand. In this talk we introduce a new CLI for Spring developers that will help you
        accelerate your development all while following best practices and keeping the tooling open for change and
        extension by individual teams and people.</p>
</div>
<div id="spring-sidecars" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Sidecars with Spring on TAP</div>
    <p>A sidecar isn’t a drink and you won’t find TAP at a bar. In this session, we’ll explore infrastructure
        architecture and how to create sidecars for your organization that help standardize access to functionality on
        VMware Tanzu Application Platform. We'll use many projects from the Spring portfolio.</p>
    <p>In this session, we'll look at how to combine HTTP, RSocket, and GRPC using Spring Cloud Function, RSocket
        Broker, Spring Cloud Gateway, and more to offer standard remote interfaces in a polyglot architecture. This can
        be built using Spring Boot and Spring Native and deployed via Cartographer on Tanzu Application Platform.</p>
</div>
<div id="supply-chain-choreography" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Path to Production Using Supply Chain Choreography</div>
    <p>The Kubernetes ecosystem has a rich set of solutions for various stages of CI/CD. Tools like Flux, Tekton, kpack,
        Knative, ArgoCD, and more each enable big steps forward in establishing a modern path to production. And yet,
        the teams and organizations that adopt these tools still struggle with complex, DIY snowflake pipelines. The
        challenge can be creating and maintaining imperative scripts; orchestrating the flow of information between
        tools; driving reusability; adopting GitOps practices; and enabling proper separation of concerns.</p>
    <p>Cartographer is an exciting new OSS project that elegantly addresses these challenges, providing the backbone for
        a modern application platform built on top of Kubernetes. Rooted in the concept of declarative supply chain
        choreography, it focuses on creating composable, reusable roadmaps to drive source code to production. It
        provides an abstraction layer that facilitates the adoption and integration of existing and emerging CI/CD
        tools, while clearly delineating developer and operator ownership. It complements the existing ecosystem,
        filling an important gap to ease use, maintenance, and scalability.</p>
    <p>In this talk, we’ll discuss supply chain choreography as a model for CI/CD and use Cartographer to explore how
        you can create secure and comprehensive pipelines, sustainably and at scale.</p>
</div>
<div id="tap" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">TAP and Spring: The Quickest Path To Production</div>
    <p>As developers, we want to be able to iterate and develop our applications while having to jump through the fewest
        hoops possible. With Spring Boot, we're able to do just that! Unfortunately, if you then want to deploy that
        Spring Boot app to Kubernetes, everything can come to a screeching halt quicky—you're suddenly knee deep in YAML
        as you struggle to not only deploy your application, but debug and test it as well. VMware Tanzu Application
        Platform is a developer-friendly Kubernetes platform that makes getting your app deployed to Kubernetes quick
        and painless. In a matter of minutes with a basic Git repo containing your code, you can have your app up and
        running on Kubernetes! Not only that, but you get an automated build pipeline that will continuously build and
        deploy your application and give you the ability to debug it right from your IDE! In this session, we'll show
        you everything you need to know about how to leverage Tanzu Application Platform to get to production on
        Kubernetes faster than you ever imagined!</p>
</div>
<div id="tdd" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">TDD and the Terminator — An Introduction to Test Driven Development</div>
    <p>Getting started with Test Driven Development (TDD) can be very challenging. It requires a different mindset and
        approach to writing and developing code. However, once in that mindset, it is very difficult not to write tests
        first. But why bother writing tests first? In this session, we will go through the reasons for writing tests
        before coding, look at architecture and design principles, such as SOLID and see how it all comes together to
        create a more testable and maintainable application. I will show you how to get started writing tests first with
        practical examples on how to reprogram a T800 series Terminator so you can start using TDD in your own
        applications (or killer robots from the future). Hasta La Vista badly-written code!</p>
</div>
<div id="testcontainers" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Level Up Your Integration Testing With Testcontainers</div>
    <p>Traditional approaches to integration testing—using shared, local, or in-memory databases—fall short for today's
        modern developer.</p>
    <p>Developers today are building cloud native distributed microservices and taking advantage of a rich variety of
        backing services. This explosion of applications and backing services introduces new challenges in creating the
        necessary environments for integration testing. To be useful and effective, these environments must be easy to
        create and they must resemble production as closely as possible. New solutions are needed to make this need a
        reality.</p>
    <p>Enter Testcontainers!</p>
    <p>Testcontainers is a Java library that supports JUnit tests and makes it incredibly easy to create lightweight,
        throwaway instances of common databases, Selenium web browsers, or anything else that can run in a Docker
        container.</p>
    <p>In this talk, you will learn when and how to use Testcontainers. We will cover the fundamentals and walk through
        a step-by-step example using a Spring Boot application that we build from scratch. As a bonus, we'll highlight
        some new features in Spring Boot 3.0 along the way!</p>
</div>
<div id="testing" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Testing: Love, Hate, Love</div>
    <p>“TDD leads to a great design,” they said. “Mocking is bad,” they said. “Integration testing is slow,” they said.
        “Testable architecture to the rescue,” they said. “If you don’t test, don’t call yourself a developer,” they
        said. “Code coverage must be 100%,” they said. And so on and so forth.</p>
    <p>In this talk, we’ll tackle some of the testing gotchas. There will be live coding, architecture rants, some
        slides, and (hopefully) much fun. Both senior and junior developers should find something interesting in that
        testing example.</p>
</div>
<div id="what-is-knative" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Knative Core Concepts! And Spiders!</div>
    <p>Although Knative has been community-maintained since 2018, there has been buzz around the project lately because Knative has recently been accepted to the Cloud Native Computing Foundation (CNCF) as an incubating project.</p>
    <p>Cool! But what is Knative, exactly?</p>
    <p>Simply put, Knative is a technology that streamlines and enhances the way that applications run on Kubernetes.</p>
    <p>This talk is for people who are excited about this value proposition and want to dig deeper. How does it work? What components are at play? In what ways is running an app on Knative superior to running it directly on Kubernetes?</p>
    <p>Instead of presenting slides, Whitney will diagram the fundamental concepts of Knative, explaining how they work in simple, relatable terms. She will then drive deeper understanding with a live coding demo that gives context to the main points. With spiders and rainbows. You know, a real-life, straightforward, run-of-the-mill use case.</p>
    <p>Attend this talk to gain a high-level understanding of Knative, its main components, and how it simplifies and improves the way that apps run on Kubernetes.</p>
</div>
<div id="who-should-use-k8s" class="talk-modal p-md-5 p-3">
    <div class="h3 text-white">Who Should Use Kubernetes?</div>
    <p>Who should use Kubernetes? Like, who is Kubernetes for? Kubernetes can be difficult to install and complicated to
        use and manage. What are the benefits of Kubernetes, and at what point do these benefits outweigh the
        operational complexity? Join in the conversation as Whitney Lee discusses (and draws!) the answers to these
        questions and more!</p>
</div>

<div id="adib-saikali" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/adib-saikali/">
                <img alt="Adib Saikali" src="/developer/team/adib-saikali/images/adib-saikali.jpg">
            </a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/adib-saikali/">Adib Saikali</a></h3>
            <p>Adib Saikali is a global field principal solutions engineer at VMware Tanzu, focused on helping VMware’s
                largest customers design and build cloud native applications and platforms using Spring and Kubernetes.
                Adib is the author of “Securing Cloud Applications” a book that teaches application developers the
                fundamental security technologies and protocols required to secure cloud native applications. Over the
                past 25 years Adib has worked at startups and global enterprises on numerous software systems in a
                variety of roles, from software developer, architect, agile coach, and CTO. He has developed a
                360-degree view of what it takes to build software systems quickly, efficiently, and economically.
                Adib’s favourite quote is “live like you are going to die tomorrow, learn like you are going to live
                forever” attributed to Mahatma Gandhi.</p>
        </div>
    </div>
</div>
<div id="cora-iberkleid" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/cora-iberkleid/"><img alt="Cora Iberkleid"
                                                                           src="/developer/team/cora-iberkleid/images/cora-iberkleid.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/cora-iberkleid/">Cora Iberkleid</a></h3>
            <p>Cora Iberkleid is a Developer Advocate for Modern Applications at VMware Tanzu, helping developers and
                enterprises navigate modern practices and technologies, focusing on cloud native architecture, modern
                CI/CD, Spring, and Kubernetes.</p>
            <p>Prior to joining VMware, Cora was an Advisory Solutions Engineer at Pivotal. She also spent nearly a
                decade at Sun Microsystems and Oracle, helping customers design and build enterprise integration
                applications. Through this experience, she developed an understanding and empathy for complex
                organizational challenges, and she strives to incorporate this empathy into her everyday work.</p>
        </div>
    </div>
</div>
<div id="dan-vega" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/dan-vega/"><img alt="Dan Vega"
                                                                     src="/developer/team/dan-vega/images/dan-vega.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0">
                <a target="_blank" href="/developer/team/dan-vega/">Dan Vega</a>
            </h3>
            <p>Dan Vega is a Spring Developer Advocate at VMware Tanzu. He has been developing software for the web for
                over 20 years and his superpower is problem-solving. Dan is a blogger, YouTuber, course creator, and
                speaker. He is a lifelong learner and his passion is sharing his knowledge with the developer community.
                Dan lives near Cleveland Ohio with his beautiful wife and 2 daughters. When he isn’t writing code or
                teaching he enjoys spending time with his family, lifting weights, running, or reading a good book.</p>
        </div>
    </div>
</div>
<div id="dashaun-carter" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/dashaun-carter/"><img alt="DaShaun Carter"
                                                                           src="/developer/team/dashaun-carter/images/dashaun-carter.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/dashaun-carter/">DaShaun Carter</a></h3>
            <p>DaShaun is a husband, father of four, volunteer, struggling athlete and Spring Developer Advocate at
                VMware Tanzu. Deliberately practicing to build better software, faster.</p>
        </div>
    </div>
</div>
<div id="glenn-renfro" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/glenn-renfro/"><img alt="Glenn Renfro"
                                                                         src="/developer/team/glenn-renfro/images/glenn-renfro.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/glenn-renfro/">Glenn Renfro</a></h3>
            <p>As a VMware engineer, Glenn Renfro is a core committer for Spring Cloud Task, Spring Batch, and Spring
                Cloud Data Flow. He has 14 years of experience in designing, building, and delivering enterprise-level
                applications in Java and 21 years total of software development experience.</p>
        </div>
    </div>
</div>
<div id="jakub-pilimon" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/jakub-pilimon/"><img alt="Jakub Pilimon"
                                                                          src="/developer/team/jakub-pilimon/images/jakub-pilimon.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/jakub-pilimon/">Jakub Pilimon</a></h3>
            <p>Jakub Pilimon is a Staff Technologist at VMware, blogger, programmer, and trainer. His main duty is to
                tackle complex enterprises with Domain-Driven Design and to propose a model and architecture that solves
                a problem. Sometimes he is involved in refactoring projects. When he isn’t coding, you can find him
                riding his bike, reading, or practicing kitesurfing.</p>
            <p>Jakub’s pet projects can be found at
                <a href="https://github.com/ddd-by-examples" target="_blank">https://github.com/ddd-by-examples</a>.</p>
        </div>
    </div>
</div>
<div id="jonatan-ivanov" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/jonatan-ivanov/"><img alt="Jonatan Ivanov"
                                                                           src="/developer/team/jonatan-ivanov/images/jonatan-ivanov.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/jonatan-ivanov/">Jonatan Ivanov</a></h3>
            <p>Jonatan Ivanov is an enthusiastic Software Engineer working in the Spring Cloud Team, one of the leaders
                of the Seattle Java User Group, speaker, author, certified dragon trainer. He has hands-on experience in
                developing and shipping innovative, production-ready software for industry-leader companies. He likes
                Distributed Systems, Production, Open Source, Math, Linux, Cloud environments; he is passionate about
                the Java Ecosystem and the Java Community. He is an Open Source contributor, writes a
                “develotters”-focused blog (<a href="https://develotters.com"
                                               target="_blank">https://develotters.com</a>), sometimes can be found on
                Twitter (<a href="https://twitter.com/@jonatan_ivanov" target="_blank">@jonatan_ivanov</a>) and in the
                Seattle area but he is originally from Hungary.
            </p>
        </div>
    </div>
</div>
<div id="josh-long" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/josh-long/"><img alt="Josh Long"
                                                                      src="/developer/team/josh-long/images/josh-long.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/josh-long/">Josh Long</a></h3>
            <p>Josh (<a href="https://twitter.com/@starbuxman" target="_blank">@starbuxman</a>) has (officially) been a
                Spring developer advocate since 2010. Josh is a Java Champion, author of six books (including
                <span class="title">Cloud Native Java: Designing Resilient Systems with Spring Boot, Spring Cloud, and Cloud Foundry</span>
                (O’Reilly Media, 2017) and the upcoming (self-published)
                <span class="title">Reactive Spring</span>, as well as the creator of numerous best-selling training
                videos, including
                <span class="title">Building Microservices with Spring Boot Livelessons with Spring Boot</span>
                co-founder Phil Webb. He is also an open source contributor (Spring Boot, Spring Integration, Spring
                Cloud, Activiti, and Vaadin), a podcaster (A Bootiful Podcast), and a screencaster.
            </p>
        </div>
    </div>
</div>
<div id="layla-porter" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/layla-porter/"><img alt="Layla Porter"
                                                                         src="/developer/team/layla-porter/images/layla-porter.png"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/layla-porter/">Layla Porter</a></h3>
            <p>Layla is a Developer Advocate at VMware serving the .NET community. She is a Live Coder on Twitch, a
                Microsoft MVP, A GitHub Star, and founder of the #WomenOfDotNet Initiative. Layla loves sharing
                knowledge whilst having fun. No question is stupid and beginners are always welcome.</p>
        </div>
    </div>
</div>
<div id="leigh-capili" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/leigh-capili/"><img alt="Leigh Capili"
                                                                         src="/developer/team/leigh-capili/images/leigh-capili.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/leigh-capili/">Leigh Capili</a></h3>
            <p>Leigh is an empathetic speaker and developer with niches in cloud native systems and security. Leigh
                comes from a background of building software to manage infrastructure. He contributes to Kubernetes and
                Flux and is frequently working on his next software demo</p>
        </div>
    </div>
</div>
<div id="mark-pollack" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <img alt="Mark Pollack" src='{{"/images/springonetour/speakers/mark-pollack.jpg" | relURL }}'>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0">Mark Pollack</h3>
            <p>Mark Pollack is a software engineer with VMware and is the lead of the Spring Cloud Data Flow project. He
                has been a contributor to many Spring projects dating back to the Spring Framework in 2003 as well as
                founding the Spring.NET and Spring Data projects.</p>
        </div>
    </div>
</div>
<div id="mario-gray" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/mario-gray/"><img alt="Mario Gray"
                                                                       src="/developer/team/mario-gray/images/mario-gray.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/mario-gray/">Mario Gray</a></h3>
            <p>Mario is a principal technologist at VMware with more than 20 years of experience in software development
                and software architecture. He is co-author of
                <span class="title">Pro Spring Integration</span> (Apress, 2011). He’s helped organizations large and
                small build service-based architectures in a number of different runtimes and platforms over the
                decades, but adopting Spring in 2004, and using it whenever possible since, was a no-brainer that
                culminated in joining the Spring team in 2017. As a Spring developer advocate, Mario loves to engage and
                inspire developers and businesses in the Pivotal ecosystem.
            </p>
        </div>
    </div>
</div>
<div id="michael-cote" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/michael-cote/"><img alt="Michael Coté"
                                                                         src="/developer/team/michael-cote/images/michael-cote.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/michael-cote/">Michael Coté</a></h3>
            <p>Michael Coté studies how large organizations get better at building software to run better and grow their
                business. His books
                <span class="title">Changing Mindsets</span>, <span class="title">Monolithic Transformation</span>, and
                <span class="title">The Business Bottleneck</span> cover these topics. He’s been an industry analyst at
                RedMonk and 451 Research, done corporate strategy and M&A, and was a programmer. He also co-hosts
                several podcasts, including Software Defined Talk. Cf. cote.io, and is
                <a href="https://twitter.com/@cote" target="_blank">@cote</a> on Twitter. Texas Forever!</p>
        </div>
    </div>
</div>
<div id="nate-schutta" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/nate-schutta/"><img alt="Nate Schutta"
                                                                         src="/developer/team/nate-schutta/images/nate-schutta.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/nate-schutta/">Nate Schutta</a></h3>
            <p>Nathaniel T. Schutta is a software architect focused on cloud computing and building usable applications.
                A proponent of polyglot programming, Nate has written multiple books and appeared in various videos. He
                is a seasoned speaker, regularly presenting at conferences worldwide, No Fluff Just Stuff symposia,
                meetups, universities, and user groups. In addition to his day job, Nate is an adjunct professor at the
                University of Minnesota where he teaches students to embrace (and evaluate) technical change. Driven to
                rid the world of bad presentations, Nate co-authored the book
                <span class="title">Presentation Patterns</span> (O’Reilly Media, 2016) with Neal Ford and Matthew
                McCullough. He also recently published
                <span class="title">Thinking Architecturally</span> (O’Reilly Media, 2018), available as a free download
                from VMware.
            </p>
            <p>Nate’s presentations cover a variety of topics, ranging from architecture fundamentals to mobile design,
                usability, cloud computing, JavaScript, and everything in between. His current slate of talks can be
                found in Talk Abstracts, however additional presentations can also be found at his NFJS Speaker Page. If
                you are interested in having Nate speak at your event, please reach out.</p>
        </div>
    </div>
</div>
<div id="ryan-baxter" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/ryan-baxter/">
                <img alt="Ryan Baxter" src="/developer/team/ryan-baxter/images/ryan-baxter.jpg">
            </a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/ryan-baxter/">Ryan Baxter</a></h3>
            <p>Exploring new languages, frameworks, and technologies, and then sharing what he’s learned, has always
                come naturally to Ryan. Even when it wasn’t his day job, Ryan has always been driven by his passion,
                spending his time and energy educating his friends, colleagues, or anyone else that would listen.
                Currently, Ryan is working as a software engineer as part of the Spring Cloud team. Ryan has a passion
                for sharing what he learns via social media, including Twitter and his blog, as well as in person at
                conferences. When he’s not coding, Ryan likes spending time with his daughter, ice fishing, running
                obstacle course races, and watching the Red Sox.</p>
        </div>
    </div>
</div>
<div id="spencer-gibb" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/spencer-gibb/"><img alt="Spencer Gibb"
                                                                         src="/developer/team/spencer-gibb/images/spencer-gibb.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/spencer-gibb/">Spencer Gibb</a></h3>
            <p>Spencer Gibb is a software engineer at VMware focusing on Spring Cloud. Spencer’s interests include
                distributed systems, JVM languages, web services frameworks, message-driven architectures, and making
                software development simpler. He loves to create software to solve a pain point (for example, by
                creating a tool to automate workstation setup in his free time). Spencer’s industry experience has taken
                him from early e-commerce platforms to government and nonprofit organizations to business intelligence
                startups. He has extensive experience in Java and other languages such as Scala and Python. His database
                experience runs from Oracle and MySQL to Riak and Cassandra. You can find out more on his blog.</p>
        </div>
    </div>
</div>
<div id="steven-pousty" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/steven-pousty/"><img alt="Steven Pousty"
                                                                          src="/developer/team/steven-pousty/images/steven-pousty.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/steven-pousty/">Steven Pousty</a></h3>
            <p>Steve is a Dad, Partner, Son, and Senior Developer Readiness Engineer for VMware Tanzu. In addition to
                showing off all the great work of the Tanzu team, he helps drive Tanzu developer experience. He can
                teach you about Containers, Kubernetes, Data Analysis, Java, Python, PostgreSQL, Microservices, and some
                JavaScript. He has deep subject area expertise in GIS/Spatial, Statistics, and Ecology. Before Tanzu,
                Steve was a developer Advocate for Crunchy Data, DigitalGlobe, Red Hat, LinkedIn, deCarta, and ESRI.
                Steve has a Ph.D. in Ecology and can easily be bribed with offers of bird watching or fly fishing.</p>
        </div>
    </div>
</div>
<div id="tiffany-jernigan" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/tiffany-jernigan/"><img alt="Tiffany Jernigan"
                                                                             src="/developer/team/tiffany-jernigan/images/tiffany-jernigan.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/tiffany-jernigan/">Tiffany Jernigan</a></h3>
            <p>Tiffany is a senior developer advocate at VMware and is focused on Kubernetes. She previously worked as a
                software developer and developer advocate (nerd whisperer) for containers at Amazon. She also formerly
                worked at Docker and Intel. Prior to that, she graduated from Georgia Tech with a degree in electrical
                engineering. In her free time she likes to spend time with her fiancé, family, and friends, as well as
                dabble in photography. You can find her on Twitter
                <a href="https://twitter.com/@tiffanyfayj" target="_blank">@tiffanyfayj</a>.</p>
        </div>
    </div>
</div>
<div id="tony-scully" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <img alt="Tony Scully" src='{{"/images/springonetour/speakers/tony-scully.jpg" | relURL }}'>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0">Tony Scully</h3>
            <p>Tony is a Staff Field Engineer in the VMware Tanzu team, helping customers build, manage, and run great
                infrastructure platforms for their applications.</p>
            <p>Tony has spent his career designing and operating large distributed systems, and is especially interested
                in the reliability, performance, and observability of those systems.</p>
            <p>He has been working with Linux for over 20 years and with Kubernetes since 2015.</p>
            <p>He is a strong advocate for Open Source to build both collaborative communities and great software.</p>
            <p>Tony currently lives in Yorkshire. He loves listening to music and is never happier than when browsing in
                a record store.</p>
        </div>
    </div>
</div>
<div id="whitney-lee" class="speaker-modal col-lg-9 col-12 p-md-5 p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 mr-4 mb-5">
            <a target="_blank" href="/developer/team/whitney-lee/"><img alt="Whitney Lee"
                                                                        src="/developer/team/whitney-lee/images/whitney-lee.jpg"></a>
        </div>
        <div class="col-lg-8 col-md-8">
            <h3 class="pt-0"><a target="_blank" href="/developer/team/whitney-lee/">Whitney Lee</a></h3>
            <p>Whitney traveled the scenic route but is absolutely chuffed to have found her way to Kubernetes and cloud
                technologies. She began her professional career as a fine artist before owning her own photography
                business for over a decade. Then, after a year-long tour playing keys and singing harmonies in the band
                Mutual Benefit, Whitney went back to school to learn full-stack web development. Shortly after
                graduation Whitney was employed by IBM as a cloud developer, using none of the skills she had just
                learned at school. However Whitney quickly developed an insatiable appetite for all things cloud, and a
                passion for teaching others as she acquired knowledge herself. She has made many light board videos for
                IBM Cloud, from topics ranging from creating a Pod in Kubernetes, to event-driven architecture, to cloud
                native API solutions. At VMware Whitney’s contagious excitement drives her to continue to explore,
                collaborate, teach, and play!</p>
        </div>
    </div>
</div>
