{{ define "episodeCard" }}
    <a class="col-4-thumbnail flex-315 col-lg-4 col-12 overflow-hidden mb-4 position-relative }}" href="{{ .RelPermalink }}">
        <div class="thumbnail-gradient position-absolute"></div>
        <img alt="{{ .Title }}" src="{{ partial `tv-image-src` . }}" />
        <div class="video-description d-flex flex-column justify-content-between">
            <p class="text-white mt-0">{{ print (cond (gt (len .Title) 70) (print (substr .Title 0 70) "..." ) .Title) }}</p>
            <p class="show-date mt-4 text-white h5">{{ dateFormat "Jan 2, 2006" (substr .Date 0 10)}}</p>
        </div>
        <div class="upcoming col-lg-6 col-12 display-none" data-episode-date="{{ dateFormat `2006-01-02T15:04:05-07:00` .Date | safeHTML }}"></div>
        <span class="countdown btn btn-small mb-4 mt-2">Live&nbsp;</span>
    </a>
{{ end }}
<div class="section-index">
    <div>
        <div class="px-0 mb-5 shows">
            {{ range sort .Sections }} {{ if not .Params.hidden }}
            {{ $sortedPages := (sort .RegularPages ".Date" "desc" )}}
            {{ $pages := first 3 $sortedPages }}
            <div class="row d-flex justify-content-between align-items-baseline mb-3">
                <h2 class="h4">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>
                <p class="h5 text-uppercase text-white">{{ .Params.teaser }}</p>
            </div>
            <div class="row d-flex justify-content-between mb-5 episodes">
                {{ range $pages }}{{ template "episodeCard" . }}{{ end }}
            </div>
            {{ end }} {{ end }}
        </div>
    </div>
    <script>
        $(function () {
            const currentTime = new Date(Date.now())
            const dayOfMonth = currentTime.getDate()
            $("div.upcoming").each((i, episode) => {
                const episodeTime = new Date(episode.dataset.episodeDate).getTime();
                const episodeDay = new Date(episodeTime).getDate();
                if (episodeTime - currentTime > 0){
                    const daysUntilLive = Math.round((episodeTime - currentTime) / (1000 * 3600 * 24))
                    const liveText = daysUntilLive == 0 ? "today" : `in ${daysUntilLive} days`;
                    episode.nextElementSibling.innerHTML = `Live ${liveText}`
                }else{
                    episode.nextElementSibling.style.display = "none";
                }
            })
        });
    </script>
</div>
