<div class="section-index">
    <div>
        <div class="px-0 mb-5 shows">
        {{ range sort .Sections }}
            <div class="row d-flex justify-content-between align-items-baseline mb-3" >
                <h2 class="h4">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>
                <p class='h5 text-uppercase text-white'>{{ .Params.teaser }} </p>
            </div>
            <div class='row d-flex justify-content-between mb-5 episodes'>
                {{ range first 3 (sort .RegularPages ".Date" "desc") }}
                    <a class='col-4-thumbnail flex-315 col-lg-4 col-12 overflow-hidden mb-4 position-relative' href="{{ .RelPermalink }}">
                        <div class='thumbnail-gradient position-absolute'></div>
                        <img alt="{{ .Title }}" src="{{ partial "tv-image-src" . }}" />
                        {{ if gt (len .Title) 70}}
                                <div class='video-description d-flex flex-column justify-content-between'>
                                    <p class='text-white mt-0'> {{ print (substr .Title 0 70) "..." }} </p>
                                    <p class='show-date mt-4 text-white h5'>{{ dateFormat "Jan 2 2006" (substr .Date 0 10)}}</p>
                                </div>
                            {{ else }}
                                <div class='video-description d-flex flex-column justify-content-between'>
                                    <p class='text-white mt-0'> {{.Title}} </p>
                                    <p class='show-date mt-4 text-white h5'>{{ dateFormat "Jan 2 2006" (substr .Date 0 10)}}</p>
                                </div>
                            {{ end }}
                        {{ printf "<div class=\"upcoming col-lg-6 col-12 display-none\" data-episode-date=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}</div>
                        <span class="countdown btn btn-small mb-4 mt-2">Live&nbsp;</span>
                    </a>
                {{ end }}
            </div>
        {{ end }}

        </div>
    </div>
    <script>
        var upcomingEpisodes = document.querySelectorAll('div.upcoming');
        upcomingEpisodes.forEach(function(value, i) {
            var epDate = (new Date(value.dataset.episodeDate)).getTime();
            var currentDate = new Date(new Date().getFullYear(),new Date().getMonth() , new Date().getDate());
            
            if ((epDate - currentDate) > 0) {
                
                var diffTime = Math.abs(epDate - currentDate);
                var diffDays = Math.floor(diffTime / (1000 * 3600 * 24)); 
                var whenLive = "in " + diffDays + " days";
                if (diffDays == 0) whenLive = "today";
                console.log(diffDays);
                value.nextElementSibling.innerHTML = "Live " + whenLive;
                var elementPosition = value.parentNode 
                value.parentNode.style.order = -1-i;
            }
            else {
                value.nextElementSibling.style.display = 'none';
            }
        });
    </script>
</div>
