  {{ if .Params.twitter -}}
  <a class="social mr-2" href='https://twitter.com/{{ .Params.twitter }}'><span class="fab fa-twitter fa-2x"></span></a>
  {{ end -}}
  {{ if .Params.gitHub }}
    <a class="social mr-2"  href="https://github.com/{{ .Params.github}}">
      <i class="fab fa-github fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.linkedIn }}
    <a class="social mr-2"  href="https://www.linkedin.com/in/{{ .Params.linkedin}}">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.facebook }}
    <a class="social mr-2"  href="https://www.facebook.com/{{ .Params.facebook}}">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.pinterest }}
    <a class="social mr-2"  href="https://www.pinterest.com/{{ .Params.pinterest}}">
      <i class="fab fa-pinterest fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.instagram }}
    <a class="social mr-2"  href="https://www.instagram.com/{{ .Params.instagram}}">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.youTube }}
    <a class="social mr-2"  href="https://www.youtube.com/{{ .Params.youtube}}">
      <i class="fab fa-youtube fa-2x"></i>
    </a>
  {{ end }}
  {{ if .Params.twitch }}
  <a class="social mr-2"  href="https://www.twitch.tv/{{ .Params.twitch}}">
    <i class="fab fa-twitch fa-2x"></i>
  </a>
  {{ end }}
  {{ if .Params.tiktok }}
  <a class="social mr-2"  href="https://www.tiktok.com/@{{ .Params.tiktok}}">
    <svg style="height:22px;vertical-align:top;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="tiktok" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-tiktok fa-w-14"><path fill="currentColor" d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" class=""></path></svg>
  </a>
  {{ end }}
  {{ if .Params.website -}}
  <a class="social mr-2"  href="{{ .Params.Website }}"><span class="fas fa-home fa-2x"></span></a>
  {{ end -}}