<div class="row team-member">
    <div class="col-lg-3 col-md-3 mr-4 mb-5">
        {{ if and (or (eq .display "summary") (eq .display "tv")) (not .context.Params.hidden) }}
            <a href="{{ .context.RelPermalink }}"><img alt="{{ .context.Params.name }}" class='' src='{{ partial "team-photo-src.html" .context }}'/></a>
        {{ else }}
            <img alt="{{ .context.Params.name }}" class='' src='{{ partial "team-photo-src.html" .context }}'/>
        {{ end }}
    </div>
    <div class="col-lg-8 col-md-8">
        {{ if eq .display "summary" }}
            <h3 class='pt-0'><a href="{{ .context.RelPermalink }}">{{ .context.Params.name }}</a></h3>
        {{ else if (eq .display "tv") }}
            {{ if .context.Params.hidden }}
                <h3 class='pt-0'>{{ .context.Params.name }}</h3>
            {{ else }}
                <h3 class='pt-0'><a href="{{ .context.RelPermalink }}">{{ .context.Params.name }}</a></h3>
            {{ end }}
        {{ else }}
            <h1>{{ .context.Params.name }}</h1>
            <p class="mt-2 mb-1 text-white">{{ .context.Params.description }}</p>
        {{ end }}
        
        {{ if not (eq .display "tv") }}
            <p class="mt-0 mb-1">{{- .context.Params.location -}}</p>
        {{ end }}
        
        {{ if and (.context.Params.skills) (not (eq .display "tv")) }}
            <p class="mt-0 mb-1 text-white">Expertise: <i>{{ delimit .context.Params.skills ", " -}}</i></p>
        {{ end }}

        {{ if eq .display "summary" }}
            <p class="mt-2 mb-4">{{ .context.Render "social" }}</p>
            {{ .context.Summary }}
        {{ else if eq .display "tv" }}
            {{ if not .context.Params.hidden }}
                {{ .context.Summary }} 
                <p class="mt-2 mb-4">{{ .context.Render "social" }}</p>
            {{ end }}
        {{ else }}
            <p class="mt-2 mb-4">{{ .context.Render "social" }}</p>
            <div class='team-body-copy'>
                {{ .context.Content }}
            </div>
        {{ end }}
        


    </div>
</div>