<div class="row team-member">
    <div class="col-lg-3 col-md-3 mr-4 mb-5">
        {{ $image := "" }}
        {{ if isset .context.Params "photo" }}
            {{ $image = .context.Resources.Get (print "images/" .context.Params.photo) }}
        {{ else }}
            {{ $image = .context.Resources.Get (print "images/" (anchorize (urlize .context.Params.name)) ".jpg") }}
            {{ if eq $image nil }}
                {{ $image = .context.Resources.Get (print "images/" (anchorize (urlize .context.Params.name)) ".png") }}
            {{ end }}
        {{ end }}
        {{ if ne $image nil }}
            {{ $image := $image.Fill "600x600" }}
        {{ end }}
        {{ if and (or (eq .display "summary") (eq .display "tv")) (not .context.Params.hidden) }}
            {{ if eq .conf "beyond" }}
                {{if not (modBool .index 2)}}
                    <a href="{{ .context.RelPermalink }}"><img alt="{{ .context.Params.name }}" class='' src='{{ print .context.RelPermalink "images/" (anchorize (urlize .context.Params.name)) "-beyond-red.png" }}'/></a>
                {{ else }}
                    <a href="{{ .context.RelPermalink }}"><img alt="{{ .context.Params.name }}" class='' src='{{ print .context.RelPermalink "images/" (anchorize (urlize .context.Params.name)) "-beyond-blue.png" }}'/></a>
                {{end}}
            {{ else }}
                {{ if ne $image nil }}
                <a href="{{ .context.RelPermalink }}"><img alt="{{ .context.Params.name }}" class='' src='{{ $image.RelPermalink }}'/></a>
                {{ end }}
            {{ end }}
        {{ else }}
            {{ if ne $image nil }}
            <img alt="{{ .context.Params.name }}" class='' src='{{ $image.RelPermalink }}'/>
            {{ end }}
        {{ end }}
    </div>
    <div class="col-lg-8 col-md-8">
        {{ if eq .display "summary" }}
            <h3 class='pt-0'><a href="{{ .context.RelPermalink }}">{{ .context.Params.name }}</a></h3>
        {{ else if (eq .display "tv") }}
            {{ if .context.Params.hidden }}
                <h3 class='pt-0'>{{ .context.Params.name }}</h3>
            {{ else }}
                <h3 class='pt-0'><a href="{{ .context.RelPermalink }}">{{ .context.Params.name }}</a></h3>
            {{ end }}
        {{ else }}
            <h1>{{ .context.Params.name }}</h1>
            <p class="mt-2 mb-1 text-white">{{ .context.Params.description }}</p>
        {{ end }}
        
        {{ if not (eq .display "tv") }}
            <p class="mt-0 mb-1">{{- .context.Params.location -}}</p>
        {{ end }}
        
        {{ if and (.context.Params.skills) (not (eq .display "tv")) }}
            <p class="mt-0 mb-1 text-white">Expertise: <i>{{ delimit .context.Params.skills ", " -}}</i></p>
        {{ end }}

        {{ if eq .display "summary" }}
            <p class="mt-2 mb-4">{{ partial "social-media-links.html" .context }}</p>
            {{ .context.Summary }}
        {{ else if eq .display "tv" }}
            {{ if not .context.Params.hidden }}
                {{ .context.Summary }} 
                <p class="mt-2 mb-4">{{ partial "social-media-links.html" .context }}</p>
            {{ end }}
        {{ else }}
            <p class="mt-2 mb-4">{{ partial "social-media-links.html" .context }}</p>
            <div class='team-body-copy'>
                {{ .context.Content }}
            </div>
        {{ end }}
        


    </div>
</div>