
<div class="section-index">
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $parent := .Page }}
    {{ if $parent.Params.no_list }}
    {{/* If no_list is true we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
        <ul>
            {{ range $pages }}
                {{ if eq .Parent $parent }}
                    <li><a href="{{ .RelPermalink }}">{{- .Title -}}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    {{ else }}
    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
    <!-- <hr class="panel-line"> -->
        <!-- <div class="col"> --><div class="row">
        {{ range $pages }}
            {{ if eq .Parent $parent }}

            <div class="topic col-lg-4 mb-0 mb-lg-0 ">
                <a class="py-3 px-4 mb-4 text-left h4 text-white" href="{{ .RelPermalink }}"><img class='icon mr-3' src='{{ printf "%s%s%s" "/images/icons/icon-" .Params.icon ".svg" | relURL }}'/> {{ .LinkTitle | default .Title }}</a> 
            </div>

            {{ end }}
        {{ end }}
       <!--  </div> --></div>
    {{ end }}
</div>
