<div class="td-box--gray-dark subtopic mr-3 mb-3 flex-315 transition-all">
    <a class="linked-box td-box--gray-dark p-4 position-relative" href="{{ .RelPermalink }}">
        <img src="https://img.youtube.com/vi/{{ .Params.youtube }}/hqdefault.jpg">
        <div class="card-type-id">
            <!-- <i class="fas fa-book"></i> -->
            <img alt="" class="d-inline-block" src='{{ "/images/icons/icon-videos-label.svg" | relURL }}'>
            <span class="h5">TV</span>
        </div>
        <p class="link">{{ .Title }}</p>
    </a>
</div>