{{ define "workshopCard" }}
  {{/* if and (eq .context.Parent .parent) (not .context.Params.hidden) */}}
  {{ if not .Params.hidden }}
    <a id={{ replace (replace (replace (lower .Title) " " "-") "(" "") ")" "" }} href="{{ print `/get-workshop/` .Params.lab | relURL }}" class="workshop-box filter-item mb-4 flex-315 px-0 mr-lg-4 {{ range .Params.tags }}{{ . | lower }}{{ end }}">
      <div class="workshop-hero row align-items-center justify-content-center">
        <img src={{ .Params.logo | relURL }}>
      </div>
      <div class="description px-4 pt-2 d-flex flex-column justify-content-between pb-4 td-box-dark">
        <div>
          <h4 class="workshop-title mt-3 link">{{- .Title -}}</h4>
          {{ if gt (len .Description) 90 }}
            <p class="workshop-text text-light">
              {{ print (substr .Description 0 90) "..." }}
            </p>
          {{ else }}
            <p class="workshop-text text-light">
              {{ .Description | markdownify }}
            </p>
          {{ end }}
          <h5 class="fs-80 opacity-4 mb-4">
            <i class="fa fa-hourglass-half mr-1"></i>
            <span>{{ .Params.length }} minutes</span>
          </h5>  
        </div>
      </div>
    </a>
  {{ end }}
{{ end }}
<div class="container mb-lg-4 mb-2">
  <h2>Tanzu Interactive Sandboxes</h2>
</div>
<div class="d-flex container flex-wrap">
  <div class="section-index flex-1">
      <div class="row">
        {{ range (where .Pages "Params.tags" "intersect" (slice "Tanzu")).ByWeight }}
          {{ template "workshopCard" . }}
        {{ end }}
      </div>
      <hr class="panel-line" />
      <!-- <div class="col"> -->
      <div class="row">
        <!-- Groups content according to the "param_key" field in front matter -->
        {{ range .Pages.GroupByParam "level1" }}
          <!--
          <div class="col">
            -->
          <div class="row">
            <h2 class="mb-lg-4 mb-2">{{ .Key }}</h2>
          </div>
          <div class="row" role="listbox">
            {{ range .Pages }}
              {{ template "workshopCard" . }}
            {{ end }}
          </div>
          <!--  </div> -->
          <!-- </div> -->
        {{ end }}
      </div>
  </div>
</div>