{{ define "main" }}
{{ $class := replace .Page.Section "." "-" | lower }}
<section id="hero" class="{{ $class }}-event-hero bg-gray-dark mt-7 pt-4 pb-5">
    <div class="container">
        {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
        <div class="row justify-content-between">
            <div class="col-lg-11 px-0">
                <h1 class="h1 mt-4 pt-2"> {{ .Parent.Title -}}</h1>
                <div class="lead">
                    <p>{{- .Parent.Params.description_episodes | markdownify }}</p>
                </div>
            </div>
            <p class='-text-bright-green fs-90 pl-1'><img class='icon-gift' src='../../images/gift.svg' /> Workshop
                attendees will receive special edition swag</p>
        </div>
    </div>
</section>

<section id="{{ $class }}-city-registration">
    <div class='container'>
        <div class="row justify-content-center mt-5 pt-3">
            <div class="col-lg-4 col-12 mb-5 pl-0">
                <h2 class="pt-0 mb-4 pb-2"> {{- .Title -}}</h2>
                <h3 class="pt-0 mb-4 pb-2">{{ .Params.Date.Format "January 02" }}-{{ dateFormat "02" (substr
                    .Params.enddate 0 10) }}, {{
                    .Params.Date.Format "2006" }}</h3>
                <p class="pt-0 mb-4 pb-2">{{ .Params.location }}</p>
                <button type="button" class="btn btn-primary" data-bs-target="#register">Register
                    Now</button>
            </div>
            <div id="s1t-map" class="col-lg-4 col-12">
                <h1 class="text-center">Map Placeholder</h1>
            </div>
        </div>
        <script>
            $("#{{ $class }}-city-registration button.btn-primary").click(function () {
                $("#register").modal("toggle")
            })
        </script>
</section>

<div id="register" class='p-5 modal fade' tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="color: white; background-color: #1b2a32;">
            <div class="modal-header success">
                <h4 class="modal-title">Register</h4>
                <button class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <script src="https://connect.tanzu.vmware.com/js/forms2/js/forms2.min.js"></script>
                <form id="mktoForm_8254"></form>
                <script>
                    MktoForms2.setOptions({ formXDPath: "/rs/pivotal/images/marketo-xdframe-relative.html" });
                    MktoForms2.loadForm("https://connect.tanzu.vmware.com", "625-IUJ-009", 8254, function (form) {
                        form.onSuccess(function (values, followUpUrl) {
                            form.getFormElem().hide();
                            $('.hide').hide();
                            $('.confirmation').show();
                            return false;
                        });
                    });
                </script>
                {{/*  <div class='confirmation' style="display:none">  */}}
                <div class='confirmation'>
                    <h3 class="-text-white mt-0">Thank you!</h3>
                    <p>Join us on November 17 using this link:<br /> <span
                            class='-text-white zoom-link'>https://vmware.zoom.us/j/96730890701?pwd=QTJmRXJDMWo5MjlSRG13S2Z2WWY5QT09</span>
                    </p>
                    <p>
                        <strong>Add this workshop to your calendar:</strong>
                        <br />
                        <strong>
                            <script type="text/javascript">
                                var cal_single2 = ics();
                                cal_single2.addEvent('Do or Do Not, There is No Try{} in Production (Europe) Workshop', 'https://vmware.zoom.us/j/96730890701?pwd=QTJmRXJDMWo5MjlSRG13S2Z2WWY5QT09', 'Zoom', '11/17/2021 01:00 am PDT', '11/17/2021 05:15 am PDT');
                            </script>
                            <a href="#"
                                onclick="javascript:cal_single2.download('Do or Do Not, There is No Try{} in Production (Europe) Workshop')">Outlook/iCal</a>
                            &nbsp;&bullet;&nbsp;
                            <a
                                href="https://www.google.com/calendar/render?action=TEMPLATE&text=Do+or+Do+Not%2C+There+is+No+Try%7B%7D+in+Production+%28Europe%29&details=https%3A%2F%2Fvmware.zoom.us%2Fj%2F96730890701%3Fpwd%3DQTJmRXJDMWo5MjlSRG13S2Z2WWY5QT09&dates=20211117T080000Z%2F20211117T121500Z">Google</a>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="{{ $class }}-details">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9 col-12 px-0 mt-5">
                {{ if .Params.calendar }}
                <script src="https://d1fto35gcfffzn.cloudfront.net/calendar/ics-multiple.min.js"
                    type="text/javascript"></script>
                {{ end }}
                {{ .Content }}
            </div>

            {{ with .Params.guests }}
            <div class="row justify-content-center mb-5">
                <div class="col-lg-9 col-12 px-0">
                    <h3 class="mb-3">Guests</h3>
                    {{ range . }}
                    {{ with $.Site.GetPage (print "/team/" ( . | urlize )) }}
                    <div class=" mb-4 pb-5">
                        {{ partial "team-member.html" (dict "context" . "display" "tv") }}
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}

            {{ with .Params.speakers }}
            <div class="row justify-content-center mb-5">
                <div class="col-lg-9 col-12 px-0">
                    <h3 class="mb-3">Speakers</h3>
                    {{ range . }}
                    {{ with $.Site.GetPage (print "/team/" ( . | urlize )) }}
                    <div class="mb-4">
                        {{ partial "team-member.html" (dict "context" . "display" "tv") }}
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row justify-content-center mb-5 text-center">
            <div class="col-lg-9 col-12 px-0">
                <p>Questions? <a href="mailto:{{ .Params.contact }}">Contact {{ .Params.contact_text | default "us"
                        }}</a>
                    &bullet; <a href='{{ print "/code-of-conduct" | relURL }}'>Code of Conduct</a></p>
            </div>
        </div>
        <div class="row justify-content-center mb-5 text-center">
            <div class="col-lg-9 col-12 px-0 d-flex">
                <div class="feedback mt-4 pt-4 w-100 text-left border-top">
                    <a
                        href="https://github.com/vmware-tanzu/tanzu-dev-portal/issues/new?assignees=&labels=bug&template=bug_report.md&title=Tanzu.TV Issue: {{ .Title }}"><i
                            class="fab fa-github mr-2"></i><span class="align-top">Report an issue</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}