{{ define "main" }} {{ $class := replace .Page.Section "." "-" | lower }}
{{ $apiEndpoint := cond .Site.IsServer "http://localhost:8448/api" "https://s1tapi.com/api" }}
{{ $stripePublicKey := cond .Site.IsServer "pk_test_spvxO15DDJ4xn3jcJATwg8pw" "pk_live_DWJQ1rhJItm7apoecrDZjmPU" }}
{{ $cityNameLowercase := (replaceRE "(\\s)" "" .Params.city_name) | lower }}
{{ $isRegOver := lt (sub .Params.Date.YearDay now.YearDay) 2 }}
{{ $isRegOpen := and .Params.isRegOpen (not $isRegOver) }}

<style>
    #hero.springone-tour-event-hero .container-sm {
        background-image: url('{{ "/images/springonetour/" | relURL }}{{ .Params.logo_filename }}');
    }
</style>

<section id="hero" class="{{ $class }}-event-hero s1t-city mt-7 {{ $cityNameLowercase }} pt-4">
    <div class="container">
        {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
        <div class="container-sm">
            <div class="row justify-content-between" id="hero-content">
                <div class="col-lg-9 px-0 mt-3">
                    <h1 class="h1 col-lg-6 mt-4 mb-4 pt-2 pl-0">{{- .Params.city_name -}}</h1>
                    <h3 class="h3 pt-0 mb-4 pb-2">
                        {{ .Params.Date.Format "January 2" }}–{{ dateFormat "2" (substr .Params.enddate 0 10) }}, {{ .Params.Date.Format "2006" }}
                    </h3>

                    {{ range .Params.location }}
                    <p class="mt-0 mb-0">{{ . }}</p>
                    {{ end }}

                    {{ if $isRegOpen }}
                    <button id="register-btn" type="button" class="mt-4 btn btn-primary" data-bs-target="#register">
                        <div class="spinner-border spinner-border-sm" id="register-spinner" style="display: none"></div>
                        <span id="register-btn-text">Register Now</span>
                    </button>
                    {{ else if $isRegOver }}
                    <p class="mt-5 mb-0">Registration is now closed.</p>
                    {{ else }}
                    <p class="mt-4 mb-0">Stay tuned for more details!</p>
                    {{ end }}
                    <!-- <img class="small-screen-hero mt-5" src='{{"/images/springonetour/hero_skyline.svg" | relURL }}' /> -->
                </div>
            </div>
        </div>
    </div>
</section>

{{ if $isRegOpen }}
<script src="https://js.stripe.com/v3/"></script>
<div id="s1t-register" class="p-5 modal fade" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 750px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center">Register for {{ .Params.city_name }}</h2>
                <button class="close ml-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <input type="hidden" name="amountPaid" value="0"/>
                    <input type="hidden" name="city" value="{{ $cityNameLowercase }}"/>

                    <div class="form-row">
                      <div class="col-sm-6 s1t-form-col">
                          <input type="text"
                                 class="form-control"
                                 name="firstName"
                                 placeholder="First name"
                                 maxlength="50"
                                 aria-required="First name"
                                 required/>
                      </div>
                      <div class="col-sm-6 s1t-form-col">
                          <input type="text" class="form-control" name="lastName" placeholder="Last name" maxlength="50" aria-required="Last name" required/>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-sm-6 s1t-form-col">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Business email" aria-required="Email address" required/>
                      </div>
                      <div class="col-sm-6 s1t-form-col">
                          <input type="text" class="form-control" name="jobTitle" required aria-required="Job Title" placeholder="Job title"/>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-sm-6 s1t-form-col">
                          <input type="text" class="form-control" name="company" required aria-required="Company" placeholder="Company" maxlength="50"/>
                      </div>
                      <div class="col-sm-6 s1t-form-col">
                          <select name="tshirtSize" class="form-control" required>
                              <option value="" selected disabled>T-shirt size (Unisex)</option>
                              <option value="xss">XX Small</option>
                              <option value="xs">X Small</option>
                              <option value="s">Small</option>
                              <option value="m">Medium</option>
                              <option value="l">Large</option>
                              <option value="xl">X Large</option>
                              <option value="xxl">XX Large</option>
                              <option value="xxxl">XXX Large</option>
                          </select>
                      </div>
                      </div>
                      <div class="form-row">
                        <div class="col-sm-6 s1t-form-col">{{ partial "country-select-dropdown.html" . }}</div>
                        <div class="col-sm-6 s1t-form-col">
                            <select id="dietaryRestrictions" name="dietaryRestrictions" class="form-control" required>
                                <option value="" selected disabled>Dietary restrictions</option>
                                <option value="None">None</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Vegan">Vegan</option>
                                <option value="Gluten-Free">Gluten-free</option>
                                <option value="Kosher">Kosher</option>
                                <option value="Halal">Halal</option>
                                <option value="Custom">Other/Allergies</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row conditional-row">
                        <div class="col-sm-6 s1t-form-col">
                            <select aria-label="state" name="state" id="state" class="us-only display-none" required="required">
                                <option selected="" value="">State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="Washington DC">Washington DC</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-sm-6 s1t-form-col">
                            <input name="dietaryCustom"
                                   class="form-control dietary-custom display-none"
                                   type="text"
                                   placeholder="Enter custom dietary restrictions."
                            />
                        </div>
                    </div>

                    <div id="card-errors" class="s1t-form-col" role="alert"><p></p></div>
                    <div id="card-container" class="form-row">
                        <div class="col-12 s1t-form-col">
                            <div id="card-element" class="stripe-card-element"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6 col-12 mt-1 s1t-form-col">
                            <div class="row">
                                <div class="col-9 p-0">
                                    <input type="text" class="form-control" name="discountCode" id="discount-code" placeholder="DISCOUNT CODE"/>
                                </div>
                                <div class="col-3 text-right">
                                    <button id="discount-btn" type="button" class="btn-apply">Apply</button>
                                </div>
                            </div>
                            <div class="row">
                                <p class="discount-notice display-none"></p>
                            </div>
                        </div>
                        <div class="col-sm-6 text-left s1t-form-col">
                            <div class="row">
                                <div class="col-6 p-0">
                                    <p class="charge-label">Charge total:</p>
                                </div>
                                <div class="col-3 pr-0 text-right">
                                    <p><span class="currency-symbol">$</span><span id="charge-total"></span></p>
                                </div>
                                <div class="col-3">
                                    <p class="currency-code"></p>
                                </div>
                            </div>
                            <div class="row discount-details">
                                <div class="col-6 p-0">
                                    <p class="discount-label">After discount:</p>
                                </div>
                                <div class="col-3 pr-0 text-right">
                                    <p><span class="currency-symbol">$</span><span id="discount-total"></span></p>
                                </div>
                                <div class="col-3">
                                    <p class="currency-code"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="nongdpr-consent-container" class="mt-3 display-none consent-field">
                        <div class="col-12 justify-content-start s1t-form-col">
                            <p>By completing this form, I agree to receive marketing communications from VMware and/or its affiliates.</p>
                        </div>
                    </div>

                    <div id="gdpr-consent-container" class="mt-3 display-none consent-field">
                        <div class="col-12 s1t-form-col">
                            <p>Yes, I would like to receive marketing communications from VMware and/or its affiliates.</p>
                        </div>

                        <div class="col-12 s1t-form-col">
                            <input id="emailConsent" name="emailConsent" type="checkbox" value="true">
                            <label class="list-inline-item mr-30" for="emailConsent">Email</label>

                            <input id="phoneConsent" name="phoneConsent" type="checkbox" value="true">
                            <label class="list-inline-item" for="phoneConsent">Phone</label>
                        </div>

                        <div class="col-sm-6 s1t-form-col">
                            <input id="phone" name="phone" type="tel" placeholder="Business phone" class="display-none"/>
                        </div>
                    </div>

                    <p id="unsubscribe-caption" class="display-none mb-40 col-12 s1t-form-col consent-field">
                        You can unsubscribe or update your preferences at any time by following the instructions in the communications
                        received. Your personal data will be processed in accordance with the
                        <a href="https://www.vmware.com/help/privacy.html" class="" target="_blank">VMware Global Privacy Policy</a>.
                    </p>

                    <div id="s1t-tac-container" class="mt-4">
                        <div class="col-12 justify-content-start s1t-form-col consent-field">
                            <div class="form-check">
                                <input type="checkbox"
                                       class="form-check-input"
                                       id="s1t-tac-consent"
                                       name="tacAccepted"
                                       value="true"
                                       aria-required="true"
                                       required/>
                                <label class="form-check-label ml-3" for="s1t-tac-consent">I agree to SpringOne Tour's&nbsp;
                                    <a href='{{ print .Parent.RelPermalink "/terms"  }}' target="_blank">Terms & Conditions.</a></label>
                            </div>
                        </div>
                    </div>

                    <div class="covid-attestation-container mt-3">
                        <div class="col-12 justify-content-start s1t-form-col consent-field">
                            <div class="form-check">
                                <input type="checkbox"
                                       name="COVID19VaccinationAttestation"
                                       id="COVID-19-vaccination-attestation"
                                       class="form-check-input"
                                       value="true"
                                       aria-required="true"
                                       required/>
                                <label class="form-check-label ml-3" for="COVID-19-vaccination-attestation">I attest that I am fully vaccinated against COVID-19 as defined by&nbsp;<a
                                        href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/fully-vaccinated.html#vaccinated"
                                        target="_blank">CDC</a>/<a href="https://www.who.int/news-room/feature-stories/detail/vaccine-efficacy-effectiveness-and-protection"
                                                                   target="_blank">WHO</a>.</label>
                            </div>
                        </div>
                    </div>
                    <small class="s1t-form-col" style="margin-left: 2.25rem">
                        *COVID-19 Vaccination: VMware requires that all attendees affirm that they have been fully vaccinated (as defined by the CDC/WHO) as a
                        precursor to attending this event. Per
                        <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/fully-vaccinated.html#vaccinated" target="_blank">CDC</a>/<a
                            href="https://www.who.int/news-room/feature-stories/detail/vaccine-efficacy-effectiveness-and-protection"
                            target="_blank">WHO</a>, people are considered fully vaccinated if they are ≥2 weeks following receipt of the second dose in a 2-dose vaccine series or ≥2
                        weeks following receipt of a single-dose vaccine.
                    </small>

                    <div id="response-error-message" class="s1t-form-col" role="alert"><p></p></div>
                    <div class="form-row">
                        <div class="col-12 s1t-form-col text-right">
                            <button type="submit" id="submit" class="btn" disabled aria-disabled="true">
                                <div class="spinner-border spinner-border-sm display-none" id="payment-spinner"></div>
                                <span id="payment-btn-text">Submit</span>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="success-banner display-none">
                    <div class="row">
                        <div class="col">
                            <p class="text-center">We look forward to seeing you soon!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}

<section class="{{ $class }}-details">
    <div class="container-sm">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9 col-12 mt-5">
                <p>
                    Beyond all the excellent content at SpringOne Tour, we’ve got a lot planned all around town! Expect to see VMware Tanzu folks around the
                    city during the week, everywhere from executive events to meetups. {{ if not $isRegOpen }} Stay tuned more details.{{ end }}
                </p>

                {{ with .Content }}
                <div class="day-toggle row mt-5">
                    <h5 id="day-1" class="p-4 d-inline-block mb-0 day active">DAY 1</h5>
                    <h5 id="day-2" class="p-4 d-inline-block mb-0 day">DAY 2</h5>
                </div>
                {{- . -}}
                {{ end }}

                {{ if isset .Params "meetup" }}
                <div id="meetup">
                    <h3 class="mt-5">Meetup</h3>
                    <div class="row align-items-center">
                        <a class="col-sm-2 lightbox" href="{{ .Params.meetup.link }}">
                            <img src='{{ "/images/springonetour/meetup_logo_script.svg" | relURL }}' class="hide-in-light-mode"/>
                            <img src='{{ "/images/springonetour/meetup_logo_script_light.svg" | relURL }}' class="display-in-light-mode"/>
                        </a>
                        <p class="col-sm-10">{{ .Params.meetup.description | markdownify }}&nbsp;
                          {{ if .Params.meetup.learn_more }}
                            <a href="#city-takeover" class="lightbox">Learn more</a>.
                          {{ end }}
                        </p>
                    </div>
                </div>
                {{ end }} {{ if isset .Params "giveback" }}
                <div id="meetup">
                    <h3 class="mt-5">Give Back</h3>
                    <p>{{ .Params.giveback.title | markdownify }}</p>
                    <div class="row align-items-center">
                        <a class="col-sm-3" href="{{ .Params.giveback.url }}">
                            <img src="{{ .Params.giveback.logo_path_dark | relURL }}" class="hide-in-light-mode"/>
                            <img src="{{ .Params.giveback.logo_path_light | relURL }}" class="display-in-light-mode"/>
                        </a>
                        <p class="col-sm-9">{{ .Params.giveback.description | markdownify }}</p>
                    </div>
                </div>
                {{ end }}

                <h3 class="mt-5">Lead/Forward</h3>
                <p>
                    Lead/Forward at SpringOne Tour is an invite-only executive event. The series will dive into why the developer experience is critical to your
                    business needs. For more information, please reach out to
                    <a href="mailto:tanzu-fieldmarketing@vmware.com">VMware Tanzu Field Marketing</a>.
                </p>

                {{ if isset .Params "sponsors" }}
                <div id="sponsors">
                    <h3 class="mt-5">Sponsors</h3>
                    <h4 class="mt-3">Gold</h4>
                    {{ range .Params.sponsors }}
                    <a class="col-sm-2 lightbox sponsor" href="{{ .url }}">
                        <img src="{{ .logo_path_light | relURL }}" class="hide-in-light-mode"/>
                        <img src="{{ .logo_path_dark | relURL }}" class="display-in-light-mode"/>
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        <div class="row justify-content-center mb-5 mt-7 text-center">
            <div class="col-lg-9 col-12 px-0">
                <p>
                    Questions?
                    <a href="mailto:springone@vmware.com">Contact the SpringOne Tour Team</a>
                    &bullet;
                    <a href='{{ print "/code-of-conduct" | relURL }}'>Code of Conduct</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center mb-5 text-center">
            <div class="col-lg-9 col-12 px-0 d-flex">
                <div class="feedback mt-4 pt-4 w-100 text-left border-top">
                    <a href="https://github.com/vmware-tanzu/tanzu-dev-portal/issues/new?assignees=&labels=bug&template=bug_report.md&title=SpringOne Tour Issue: {{ . }}">
                        <i class="fab fa-github mr-2"></i>
                        <span class="align-top">Report an issue</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "s1t-speakers-talks.html" . }}

{{ if $isRegOpen }}
<script>
  const regBtn = $('#register-btn');
  const discBtn = $('#discount-btn');
  const subBtn = $('#submit');
  const regModal = $('#s1t-register');
  const regForm = $('#s1t-register form');
  const countryInput = $('select.country-select');
  const stateDropdown = $(".us-only");
  const conditionalRow = $(".conditional-row");

  const unsubscribeCaption = $('#unsubscribe-caption'),
    nongdprConsentContainer = $('#nongdpr-consent-container'),
    gdprConsentContainer = $('#gdpr-consent-container'),
    gdprConsentOptions = $("#gdpr-consent-container input"),
    phoneInput = $("#gdpr-consent-container #phone");

  const errElement = $('#response-error-message p');
  const amountPaid = $('input[name=amountPaid]');
  const stripe = Stripe({{$stripePublicKey}});
  const stripeStyle = {
    base: {
      color: 'white',
      fontFamily: 'Metropolis',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: 'white',
      },
    },
    invalid: {
      fontFamily: 'Metropolis',
      color: '#fa755a',
      iconColor: '#fa755a',
    },
  };

  let card;
  let clientSecret;
  let intentId;
  let initialChargeValue;

  const setLoading = (el, bool) => {
    if (bool) {
      el.children('span').hide();
      el.children('div').show();
    } else {
      el.children('span').show();
      el.children('div').hide();
    }
  };

  const initStripe = () => {
    $('#card-element').removeClass('error');
    $.ajax({
      url: '{{ print $apiEndpoint "/stripe/create-payment-intent" }}',
      type: 'post',
      headers: {'Content-Type': 'application/json'},
      data: JSON.stringify({city: '{{ $cityNameLowercase }}', cityDisplayName: '{{ .Params.city_name }}'}),
      success: (resp) => {
        clientSecret = resp.clientSecret;
        intentId = resp.id;
        initialChargeValue = resp.amount / 100;
        $('#charge-total').text(initialChargeValue);
        amountPaid.val(initialChargeValue);
        $('.currency-code').text(resp.currency.toUpperCase());
        if ($('html').hasClass('light-mode')) {
          stripeStyle.base.color = 'black';
          stripeStyle.base[ '::::placeholder' ] = {color: 'black'};
        }
        card = stripe.elements().create('card', {style: stripeStyle});
        card.mount('#card-element');
        card.on('change', (e) => {
          subBtn.attr({disabled: ! e.complete, [ 'aria-disabled' ]: ! e.complete});
          $('#card-errors p').empty();
          $('#card-errors p').text(e.error ? e.error.message : '');
        });
      },
      error: (resp) => {
        let errText = `Stripe payment setup issue.`;
        if (resp.responseJSON) {
          if (resp.responseJSON.message) {
            console.log(`Stripe error: ${resp.responseJSON.message}`);
          }
        } else if (resp.responseText) {
          console.log(`Stripe error: ${resp.responseText}`);
        } else {
          errText = 'Issue with Stripe initialization. Please try a different network';
        }
        $('#card-element').text(errText);
        $('#card-element').addClass('error');
      },
    });
  };

  const applyDiscounts = async (discountCode) => {
    $('#card-container').show();
    $.ajax({
      url: '{{ print $apiEndpoint "/stripe/update-payment-intent?intentId=" }}' + intentId,
      method: 'post',
      headers: {'Content-Type': 'application/json'},
      data: JSON.stringify({city: '{{ $cityNameLowercase }}', discount: discountCode}),
      success: (resp) => {
        clientSecret = resp.clientSecret;
        if (discountCode != '') {
          let totalAfterDiscount = resp.amount / 100;
          $('.charge-label').text('Before discount:');
          $('.discount-details').css('display', 'flex');
          $('.discount-notice').show().text(`${discountCode} applied`).css('color', '#02bc67');
          $('#discount-total').text(`${totalAfterDiscount}`);
          amountPaid.val(`${totalAfterDiscount}`);
          if (totalAfterDiscount == 0) {
            subBtn.attr({disabled: false, [ 'aria-disabled' ]: false});
            $('#card-container').remove();
          }
        } else {
          amountPaid.val(initialChargeValue)
          $('.charge-label').text('Charge total:');
          $('.discount-details').css('display', 'none');
          $('.discount-notice').hide();
        }
      },
      error: (resp) => {
        let errText = resp.responseJSON ? resp.responseJSON.message : resp.responseText ? resp.responseText : 'Error applying discount code';
        $('.charge-label').text('Charge total:');
        $('.discount-details').css('display', 'none');
        $('.discount-notice').show().text(errText).css('color', '#adbbc4');
        resetPaymentIntent('');
      },
    });
  };

  const resetPaymentIntent = async () => {
    amountPaid.val(initialChargeValue)
    $.ajax({
      url: '{{ print $apiEndpoint "/stripe/update-payment-intent?intentId=" }}' + intentId,
      method: 'post',
      headers: {'Content-Type': 'application/json'},
      data: JSON.stringify({city: '{{ $cityNameLowercase }}'}),
      success: (resp) => {
        clientSecret = resp.clientSecret;
      },
      error: (resp) => {
        console.log(resp);
      },
    });
  };

  const handleSubmit = async () => {
    errElement.empty();
    setLoading($('#submit'), true);
    let data = regForm.serialize();
    $.ajax({
      url: '{{ print $apiEndpoint "/register/check-for-existing-registration?city=" $cityNameLowercase}}',
      method: 'post',
      data: data,
      success: (resp) => {
        let isCompedPass = $('.discount-details').is(':visible')
          && parseInt($('#discount-total').text()) == 0;
        if (isCompedPass) {
          registerUser('');
        } else {
          processStripePayment(resp);
        }
      },
      error: (err) => {
        errElement.text(`${err.responseText}`);
        setLoading($('#submit'), false);
      },
    });
  };

  const processStripePayment = (registrant) => {
    stripe
      .confirmCardPayment(clientSecret, {
        payment_method: {
          card: card,
          billing_details: {email: registrant.email},
        },
        receipt_email: registrant.email,
      })
      .then((result) => {
        if (result.error) {
          $('#card-errors p').text('Something went wrong with the payment.');
          setLoading($('#submit'), false);
        } else {
          $('#card-errors p').empty();
          console.log(result);
          registerUser(result.paymentIntent.id);
        }
      })
      .catch((err) => {
        console.log(err);
        setLoading($('#submit'), false);
        errElement.text(err);
      });
  };

  const registerUser = (paymentIntent) => {
    $.ajax({
      url: '{{ print $apiEndpoint "/register?city=" $cityNameLowercase }}' + `&intentId=${paymentIntent}`,
      type: 'post',
      data: regForm.serialize(),
      success: (resp) => {
        setLoading($('#submit'), false);
        errElement.empty();
        $('#s1t-register .modal-title').text(resp);
        $('#s1t-register form').hide();
        $('#s1t-register .success-banner').show();
        regBtn.after('<p class="mt-4" style="color: #80ea6e">Registration is all set!</p>').remove();
      },
      error: (resp) => {
        setLoading($('#submit'), false);
        $('#register-btn-text').text('Registration issue try again');
        errElement.text(`${resp.statusText}: ${resp.responseText}`);
      },
    });
  };

  const conditionallyDisplayAdditionalFieldsRow = () => {
    let hasAtLeastOneNonHiddenField = $('.conditional-row input, .conditional-row select').filter(function() {
      return ($(this).css('display') !== 'none');
    }).length > 0;
    if (hasAtLeastOneNonHiddenField) {
      conditionalRow.show();
    } else {
      conditionalRow.hide();
    }
  };

  $('#dietaryRestrictions').change((e) => {
    if (e.target.value === 'Custom') {
      $('.dietary-custom').show();
    } else {
      $('.dietary-custom').hide();
    }
    conditionallyDisplayAdditionalFieldsRow();
  });

  $('#discount-code').keyup((e) => {
    const start = e.target.selectionStart;
    const end = e.target.selectionEnd;
    e.target.value = e.target.value.toUpperCase();
    e.target.setSelectionRange(start, end);
  });

  discBtn.on('click', () => {
    applyDiscounts($('#discount-code').val());
  });

  regForm.on('submit', (e) => {
    e.preventDefault();
    handleSubmit();
  });

  regBtn.click(() => {
    regModal.modal('toggle');
    initStripe();
  });

  countryInput.on('change', () => {
    //reset
    stateDropdown.attr('required', false);
    stateDropdown.hide();
    phoneInput.attr('required', false);
    gdprConsentOptions.each(function () {
      this.checked = false
    });

    let selectedCountry = countryInput.val();
    if (selectedCountry !== 'None') {
      unsubscribeCaption.show();
      try {
        let country = countries.filter((country) => country.name === selectedCountry)[ 0 ];
        if (country.gdpr) {
          gdprConsentContainer.show();
          nongdprConsentContainer.hide();
        } else {
          nongdprConsentContainer.show();
          gdprConsentContainer.hide();
        }
        if (selectedCountry === 'United States') {
          stateDropdown.attr('required', true);
          stateDropdown.show();
        } else {
          stateDropdown.attr('required', false);
          stateDropdown.hide();
        }
        conditionallyDisplayAdditionalFieldsRow();
      } catch (err) {
        console.log(err);
      }
    }
  });

  gdprConsentOptions.change(function () {
    let isPhoneConsentChecked = $('#gdpr-consent-container input:checked').toArray()
      .reduce(function (checkedArray, current) {
        checkedArray.push(current.id);
        return checkedArray;
      }, [])
      .includes('phoneConsent');
    if (isPhoneConsentChecked) {
      phoneInput.attr('required', true);
      phoneInput.show();
    } else {
      phoneInput.attr('required', false);
      phoneInput.hide();
    }
    conditionallyDisplayAdditionalFieldsRow();
  });

  $().ready(() => {
    $.ajax({
      url: '{{ print $apiEndpoint "/cities?city=" $cityNameLowercase }}',
      method: 'get',
      success: (resp) => {
        if (resp.status === 'full') {
          regBtn.attr('disabled', 'true');
          regBtn.after('<p class="mt-4" style="color: #fff">Registration is all set!</p>').remove();
        }
      },
      error: (err) => {
        regBtn.attr('disabled', 'true');
        regBtn.text(`Registration is ${err.responseJSON.status}`);
      },
    });
  });
</script>
{{ end }} {{ end }}
