<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body class="td-{{ .Kind }} td-topic">
    {{ partial "required-gtm-no-script.html" . }}
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main ">
        <div class="mt-lg-5 mt-0 py-lg-5 py-2">
            <div class='container'>
                {{ .Render "content" }}
            </div>
        </div>
        <div class='border-top container py-5 flex flex-wrap'>
          {{ $blogs := where .Data.Pages "Section" "blog" }}
          {{ if gt (len $blogs) 0 }}
          <div class="mb-4 col-lg-2 col-md-2 col-12 px-0 mr-5 mb-5"><div class='flex align-items-center icon-title'><img class="icon mr-3" src='{{ "/images/icons/icon-blog.svg" | relURL }}'/><h3 class="mb-0">Blogs</h3></div></div>
          <div class='col-lg-8 col-md-8 col-12 px-0'>
              {{ range $blogs }}
                <h5 class="mt-2">{{ .Date.Format "January 2, 2006" }}</h5> <a class="d-block mb-4" href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
          </div>
          {{ end }}

      </div>

        

      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>

