<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body class="td-{{ .Kind }} td-topic">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main ">
        <div class="bg-gray-dark mt-lg-5 mt-0 py-lg-5 py-2">
            <div class='container'>
                {{ .Render "content" }}
            </div>
        </div>
        <div class='container py-5'>
          {{ $blogs := where .Data.Pages "Section" "blog" }}
          {{ if gt (len $blogs) 0 }}
          <div class='flex ai-center icon-title mb-4'><img class="icon mr-2" src="/images/icons/icon-blog.svg"/><h3 class="mb-0">Blogs</h3></div>
          <div class='row'>
              {{ range $blogs }}
                  <div class="col-lg-4 px-lg-2 mb-3">
                      <a class="linked-box td-box--gray-850 px-4 pt-4 pb-3" href="{{ .Permalink }}">
                          <h6 class="mt-2">{{ .Title }}</h6>
                          <p class="fs-90">{{ .Description }}</p>
                          <p class='link fs-90'>Read more</p>
                      </a>
                  </div>
              {{ end }}
          </div>
          {{ end }}

      </div>

        

      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>

