<div class="td-content">
	<div class="row">
		<div class="col-lg-2 col-md-2 mr-5 mb-5">
			<img class='desaturated' src='{{ .Params.photo | default (print "/images/authors/" (urlize .Params.name) ".jpg" | relURL) }}'/>
		</div>
		<div class="col-lg-8 col-md-8">
			<h1>{{ .Params.name }}</h1>
			<p class="mt-2 mb-1 text-white">{{ .Params.job }}</p>
			<p class="mt-0 mb-4"><a href='https://twitter.com/{{ trim .Params.twitter "@" }}'><span class="fab fa-twitter"></span> {{ .Params.twitter }}</a></p>
			<!-- <div class="short-gradient-line mb-4"></div> -->
			{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
			{{ .Content }}
			{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
				{{ partial "feedback.html" .Site.Params.ui.feedback }}
				<br />
			{{ end }}
			{{ if (.Site.DisqusShortname) }}
				<br />
				{{ partial "disqus-comment.html" . }}
			{{ end }}
			<div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>			
		</div>
	</div>
</div>
