{{ define "advocate-icon-images" }}
{{ range cond (not (eq .Section "tv")) .Params.team .Params.hosts }}
{{ with $.Site.GetPage (print "/team/" (urlize .) ) }}
<img src='{{ partial "image-src.html" (dict "context" . "process" "fill" "size" "45x45") }}' alt="{{ .Params.name }}"
    class="rounded-circle mr-2">
<p class="d-inline-block">{{ .Params.name }}</p>
{{ end }}
{{ end }}
{{ end }}

{{ define "home-card" }}
<a class="col-12 col-lg-4 subtopic mr-3 mb-3 flex-315 transition-all td-box--gray-850 px-5 py-4"
    href="{{ .RelPermalink }}">
    <div class="gradient-edge-left"></div>
    <h5 class="mb-3 text-white">{{ singularize .Section }}</h5>
    <h4 class="h4 text-white limiter limiter-2" style="min-height: 48px">{{ .Title }}</h4>
    {{ template "advocate-icon-images" .}}
</a>
{{ end }}


{{ define "main" }}

{{/* VARS */}}
{{ $advocatePages := where (where .Site.Pages "Section" "team") "Params.roles" "intersect" (slice "advocate")}}
{{ $advocates := slice }}
{{ range $advocatePages }}
{{ $advocates = $advocates | append .Params.name }}
{{ end }}
{{ $latestContent := sort (where .Site.RegularPages "Params.hosts" "intersect" $advocates | union (where
.Site.RegularPages "Params.team" "intersect" $advocates) ) "Date"
"desc" }}
{{ $latestContent = where $latestContent "Date" "le" now }}
{{ $latestContent = first 3 $latestContent }}

<h1 class='d-none'>{{ .Title }} Homepage</h1>

<section id="hero" class="td-box td-box--gray-dark position-relative td-box--height-auto overflow-hidden">
    <div id="home-featured" class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-4">{{ .Params.tagline }}</h1>
            </div>
            <p class="text-center col-lg-9 col-12 mx-auto">{{ .Params.description }}</p>
            <div class="container py-5 px-0">
                <h5 class="text-center h5">Featured</h5>
                <div class="row mt-4">
                    {{ range .Params.featured }}
                    {{ with $.Site.GetPage (print .) }}
                    {{ template "home-card" . }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="home-latest" class="td-box">
    <div id="home-latest" class="container">
        <div class="col-12">
            <h2 class="text-center pt-0">Latest</h2>
        </div>
        <div class="row mt-4">
            {{ range $latestContent }}
            {{ template "home-card" . }}
            {{ end }}
        </div>
    </div>
</section>

<section class="td-box td-box--gray-dark td-box--gradient td-box--height-auto">
    <h2 id="home-advocates" class="text-center mb-4">Our Developer <a
            href="{{ (.Site.GetPage `advocates`).RelPermalink }}">Advocates</a></h2>
    <div class="container-fluid position-relative">
        <div class="row">
        <div class="arrow-left justify-content-center"><i class="fas fa-chevron-left"></i></div>
        <div id="advocate-panel" class="col p-0 d-flex flex-nowrap overflow-auto">
            {{ range $advocatePages }}
            <div class="col-12 col-lg-4 td-box--gray-dark mr-3 mb-3 flex-315 transition-all">
                <a href="{{ .RelPermalink }}" class="linked-box td-box--gray-dark">
                    <img src="{{ partial `image-src.html` (dict `context` . `process` `resize` `size` `600x600`) }}"
                        alt="{{ .Params.name }} Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="color:white">{{ .Params.name }}</h5>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
        <div class="arrow-right justify-content-center"><i class="fas fa-chevron-right"></i></div>
        </div>
        </div>
    </div>
    </div>
</section>
{{ $carouselScript := resources.Get "js/home_carousel.js" }}
<script src="{{ $carouselScript.RelPermalink }}"></script>

<script>sendAmplitudeEventOnLoad('home viewed', { 'url path': window.location.pathname });</script>

{{ with .Content }}
{{ . }}
{{ end }}

{{ end }}