{{ define "featuredCard" }}
<div class="col-12 col-lg-4 mb-4">
    <a href="{{ .RelPermalink }}">
        <div class="card">
            <div class="card-type-id"><img class="d-inline-block" src="{{ `images/icons/icon-book.svg` | relURL }}"
                    alt=""><span class="h5">{{ .contentType }}</span></div>
            <div class="card-body">
                <h5 class="card-title text-dark">{{ .Title }}</h5>
                <p class="card-text">{{ .Description }}</p>
            </div>
        </div>
    </a>
</div>
{{ end }}

{{ define "advocateCard" }}
<div class="card card-body">Advocate Info here</div>
{{ end }}

{{ define "main" }}
{{/* Vars */}}
{{ $topicgroups := (slice) }}
{{ range (.Site.GetPage "taxonomyTerm" "topicgroups").Pages }}
{{ $topicgroups = union $topicgroups ( slice .Title )}}
{{ end }}
{{ $advocatePages := where (where .Site.Pages "Section" "team") "Params.roles" "intersect" (slice "advocate")}}


<h1 class='d-none'>{{ .Title }} Homepage</h1>

<section id="hero" class="td-box td-box--primary position-relative td-box--height-auto overflow-hidden">
    <div id="home-featured" class="container">
        <div class="row">
            <h1 class="text-center">{{ .Params.tagline }}</h1>
            <p>{{ .Params.description }}</p>
            <div class="container py-5 px-0">
                <div class="row mx-auto">
                    {{ range .Params.featured }}
                    {{ $contentType := .contentType}}
                    {{ with $.Site.GetPage .name }}
                    {{ template "featuredCard" (dict "Title" .Title "Description" .Description "contentType"
                    $contentType) }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="expertise-tabs" class="td-box">
    <div class="container">
        <div id="topics-row-outer"
            class="row td-box tdbox--gradient td-box--height-auto pt-0 position-relative transition-all">
            <div class="col-12 text-center">
                <nav>
                    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                        {{ range $topicgroups }}
                        <button
                            class='nav-link {{ if eq . "Modern Applications" }} {{ printf "active" }} {{ end }} col-4'
                            id="nav-{{ . | urlize }}-tab" data-toggle="tab" data-target="#nav-{{ . | urlize }}"
                            type="button" role="tab" aria-controls="nav-{{ . | urlize }}" aria-selected="true">{{ .
                            }}</button>
                        {{ end }}
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    {{ range $topicgroups }}
                    <div class='tab-pane fade {{ if eq . "Modern Applications" }} show active {{ end }}'
                        id="nav-{{ . | urlize }}" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            {{ range where $advocatePages "Params.homePageExpertiseSort" "intersect" (slice .) }}
                            <div class="col-12 col-lg-4">
                                <div class="card">
                                    <img src="{{ partial `team-photo-src.html` . }}" alt="{{ .Params.name }} Image"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title" style="color:black">{{ .Params.name }}</h5>
                                        <p class="card-text">{{ .Params.description }}</p>
                                        <a href="{{ .RelPermalink }}" class="btn btn-primary">TODO</a>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>


{{/* Advocate List */}}
<section id="advocate-slider" class="td-box td-box--gray-dark td-box--gradient td-box--height-auto">
    <div class="container">
        <div class="row justify-content-center w-100">
            <div class="col-sm-12 pb-4 mb-lg-5 mb-3">
                <h2 class="text-center">Developer Advocates</h2>
            </div>
        </div>
    </div>
    <div class="row flex-lg-nowrap w-100 mw-100 overflow-hidden px-2 px-lg-0">
        {{ $learningpaths := where (where .Site.Pages "Section" "learningpaths") ".Params.featured" true }}
        {{ range first 5 $learningpaths }}
        {{ partial "learningpaths-card-home.html" . }}
        {{ end }}

    </div>
</section>

<script>
    { {/*  TODO  */ } }
    $("#nav-modern-applications-tab").hover((e) => {
        $("#nav-modern-applications-tab").tab("show");
    });
    $("#nav-application-development-tab").hover((e) => {
        $("#nav-application-development-tab").tab("show");
    });
    $("#nav-kubernetes-platform-tab").hover((e) => {
        $("#nav-kubernetes-platform-tab").tab("show");
    });
</script>

<script>sendAmplitudeEventOnLoad('home viewed', { 'url path': window.location.pathname });</script>

{{ with .Content }}
{{ . }}
{{ end }}

{{ end }}