{{/* TEMPLATES */}}
{{ define "featuredCard" }}
<div class="col-12 col-lg-4 mb-4">
    <a href="{{ .RelPermalink }}">
        <div class="card">
            <div class="card-type-id"><img class="d-inline-block" src="{{ `images/icons/icon-book.svg` | relURL }}"
                    alt=""><span class="h5">{{ .contentType }}</span></div>
            <div class="card-body">
                <h5 class="card-title text-dark">{{ .Title }}</h5>
                <p class="card-text">{{ .Description }}</p>
            </div>
        </div>
    </a>
</div>
{{ end }}

{{ define "advocateCard" }}
<div class="col-12 col-lg-4">
    <div class="card">
        <img src="{{ partial `team-photo-src.html` . }}" alt="{{ .Params.name }} Image" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title" style="color:black">{{ .Params.name }}</h5>
            <p class="card-text">{{ .Params.description }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ range .Params.skills }}{{ . }} {{ end }}</small> {{/*TODO Add icons for skills
            in footer Or remove footer altogether?*/}}
        </div>
    </div>
</div>
{{ end }}

{{ define "topicCard" }}
<div class="topic-card flex-315 td-box td-box-dark mb-lg-0 mb-3">
    <a href="{{ .RelPermalink }}"
        class="h-100 d-flex flex-column justify-content-center align-items-center py-4 py-lg-5 px-3">
        <img src="/developer/images/icons/new-icon-{{ .Params.icon }}.svg" alt="" class="mb-2">
        <h3 class="h3 pt-0 link mt-3 text-white mb-0">
            {{ .Params.grouptitle }}
        </h3>
        <p class="mb-2 mb-lg-4 text-left text-center py-0 px-2">
            {{ .Description }}
        </p>
    </a>
</div>
{{ end }}

{{ define "main" }}

{{/* VARS */}}
{{ $advocatePages := where (where .Site.Pages "Section" "team") "Params.roles" "intersect" (slice "advocate")}}
{{ $topicsPages := (.Site.GetPage "taxonomyTerm" "topics").Pages }}

<h1 class='d-none'>{{ .Title }} Homepage</h1>

<section id="hero" class="td-box td-box--primary position-relative td-box--height-auto overflow-hidden">
    <div id="home-featured" class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>{{ .Params.tagline }}</h1>
            </div>
            <p>{{ .Params.description }}</p>
            <div class="container py-5 px-0">
                <div class="row mx-auto">
                    {{ range .Params.featured }}
                    {{ $contentType := .contentType}}
                    {{ with $.Site.GetPage .name }}
                    {{ template "featuredCard" (dict "Title" .Title "Description" .Description "contentType"
                    $contentType) }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="home-topics" class="td-box">
    <div id="topics-row-outer"
        class="row td-box td-box--gradient td-box--height-auto pt-0 position-relative transition-all">
        {{ range .Params.topicGroups }}
        <div class="row mb-5 transition-all">
            <div class="col-xl-3 col-12 d-flex d-xl-block justify-content-center mb-xl-0 mb-4">
                <h2>{{ .name }}</h2>
            </div>
            <div class="col-xl-9 col-12 mb-xl-0 mb-lx-4 mb-2">
                <div id="{{ .name | urlize }}" class="row justify-content-between w-100 td-box topics-row">
                    {{ range where $topicsPages "Params.topicgroups" .name }}
                    {{ template "topicCard" . }}
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>

<section class="td-box td-box--gray-dark td-box--gradient td-box--height-auto">
    <h2 id="home-advocates" class="text-center">Developer Advocates</h2>
    <div class="container-fluid">
        <div class="row d-flex flex-row flex-nowrap overflow-auto">
            {{ range $advocatePages }}
            {{ template "advocateCard" . }}
            {{ end }}
        </div>
    </div>
    </div>
</section>

<script>
    { {/*  TODO  */ } }
    $("#nav-modern-applications-tab").hover((e) => {
        $("#nav-modern-applications-tab").tab("show");
    });
    $("#nav-application-development-tab").hover((e) => {
        $("#nav-application-development-tab").tab("show");
    });
    $("#nav-kubernetes-platform-tab").hover((e) => {
        $("#nav-kubernetes-platform-tab").tab("show");
    });
</script>

<script>sendAmplitudeEventOnLoad('home viewed', { 'url path': window.location.pathname });</script>

{{ with .Content }}
{{ . }}
{{ end }}

{{ end }}