<div class="learningpaths-index row">
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $parent := .Page }}
    {{ range $pages }}
    {{ if .IsSection }}
    {{ if eq .Parent $parent }}
  
    <a class="h-auto linked-box td-box--gray-dark p-4 flex-315 col-12 mr-3 mb-3 px-0" href="{{ .RelPermalink }}">
        <h2 class="h4 link mt-3 pt-0">{{- .Title -}}</h2>
        <p>{{ .Description | markdownify }}</p>
        <div class="row justify-content-between d-flex mt-4 mb-2">
            <div class="learning-path-duration">
                <i class="fas fa-hourglass-half"></i>
                {{ if gt .Params.duration 60 }}
                    <!-- Round up to closest full hour duration -->
                    {{ math.Ceil (div .Params.duration 60.0) }}h    
                {{ else }}
                    {{ .Params.duration }}m
                {{ end }}
            </div>
            <div class="learning-path-level">
                {{ if eq .Params.experience "Beginner" }}
                    <h5><span class="badge badge-success mr-3 py-1 px-2 antialiased">Beginner</span></h5>
                {{ else if eq .Params.experience "Intermediate" }}
                    <h5><span class="badge badge-warning mr-3 py-1 px-2 antialiased">Intermediate</span></h5>
                {{ else if eq .Params.experience "Advanced" }}
                    <h5><span class="badge badge-danger mr-3 py-1 px-2 antialiased">Advanced</span></h5>
                {{ end }}
            </div>
        </div>
    </a>

    {{ end }}
    {{ end }}
    {{ end }}
</div>