{{ define "main" }}

<section id="hero" class="td-box--gray-dark community-hero">
	<div class="container">
		<h1 class="h1">Community</h1>
		<div class="lead"><p class="col-lg-7 px-0">VMware Tanzu is built with a number of open source projects that anyone in the community can use, improve, and enjoy. We'd love you to join us! Here are a few ways to find out what's happening and get involved.</p></div>
	</div>
</section>
 
{{ partial "community_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
