.practices {
  .basic-info .logistics {
    border-right: 1px solid $border-color;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
    }

    i {
      color: $blue;
      vertical-align: middle;
      font-size: 1.25rem;
    }

    h5 {
      display: inline-block;
      padding-left: .25rem;
    }
  }
  .steps {
    ol {
      counter-reset: item;
      margin: 0;
      padding-left: 0;
    }

    ol > li {
      counter-increment: item;
      list-style: none inside;
      margin: 40px 0;
      overflow: hidden;
      line-height: 1.75rem;
    }

    ol > li:before {
      content: counter(item);
      margin-top: 1rem;
      margin-right: 1rem;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      background: $blue;
      color: #fff;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      float: left;
    }
  }

  ul.tags {
    list-style: none;
    padding: 1rem 0;

    li {
      font-size: .8rem;
      display: inline-block;
      border: solid 1px $border-color;
      border-radius: $border-radius;
      line-height: 1.0rem;
      padding: 0.375rem 0.5rem;
    }
  }
}