.practices {
  .basic-info .logistics {
    border-right: 1px solid $border-color;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
    }

    i {
      color: $blue;
      vertical-align: middle;
      font-size: 1.25rem;
    }

    h5 {
      display: inline-block;
      padding-left: .25rem;
    }
  }
  .steps {
    ol {
      counter-reset: item;
      margin: 0;
      padding-left: 0;
    }

    ol > li {
      counter-increment: item;
      list-style: none inside;
      margin: 40px 0;
      overflow: hidden;
      line-height: 1.75rem;
    }

    ol > li:before {
      content: counter(item);
      margin-top: 1rem;
      margin-right: 1rem;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      background: $blue;
      color: #fff;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      float: left;
    }
  }
  .tags span:not(:last-child)::after {
    content: ",";
  }

  .callout {
    border-width: 1px !important;
  }

  table, tr, th, td {
    border: 1px solid $border-color;
  }
  #how-to-use-this-method {
    text-align: center;
    margin-bottom: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  img {
    margin: 1rem 0 1.5rem ;
  }
  h3 + ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h3 + h4 {
    margin-top: 1rem; 
  }
  @media(max-width: 991px) {
    .col-lg-3 img {
      display: none;
    }
    .logistics {
      border-right: none !important;
    }
  }
}