html  {
  background: linear-gradient(-45deg, #EC7700, #7932A9, #0091DA, #78BE20);
	background-size: 500% 150%;
	animation: gradient 7s ease infinite;

  body,
  .td-outer,
  .td-box--gray-dark,
  section,
  .td-main,
  .bg-gray-dark:not(footer),
  .td-home {
    background-color: transparent !important;

    p {
      color: white !important;
    }
  }
  .person .card,
  #search-nav,
  nav.navbar {
    background: #17242C !important;
  }
}

.icon {
  filter: grayscale(100%) brightness(150%);
}

.pride-mode footer.bg-gray-dark {
  background: linear-gradient(-45deg, #EC7700, #7932A9, #0091DA, #78BE20);
	background-size: 500% 150%;
	animation: gradient 7s ease infinite 1s;
}
.shows a,
body p a,
a.h4 {
  color: #17242C !important;
  &:hover {
    color: white !important;
  }
}
.tvc-link {
  color: white !important;
}
.container.border-bottom {
  border-bottom: 0px !important;
}
.col-4-thumbnail {
  &:hover .video-description {
    background: linear-gradient(-45deg, #EC7700, #7932A9, #0091DA, #78BE20);
    background-size: 500% 500%;
    animation: gradient 3.5s ease infinite;
  }
  .video-description {
    background-color: #17242C;
  }
}
.topic a,
.linked-box,
.featured-section .featured-link,
.td-home .topic > p > a {
  border: 0px !important;
  &:hover {
    background: linear-gradient(-45deg, #EC7700, #7932A9, #0091DA, #78BE20);
    background-size: 500% 500%;
    animation: gradient 3.5s ease infinite;
  }
}
#hero {
  background-image: none !important;
}
.topic .text-left,
.linked-box .link {
  color: white !important;
}
.gradient-edge-left,
.gradient-edge-top {
  display: none !important;
}
.td-topic .linked-box,
.blog-index-list .item {
  border: 0px !important;
  background-color: #17242C !important;
}
.filters .filter {
  color: white !important;
}
footer a {
  color: white !important;
}
.btn {
  background-color: #17242C !important;
  &:hover {
    background: linear-gradient(-45deg, #EC7700, #7932A9, #0091DA, #78BE20);
    background-size: 500% 500%;
    animation: gradient 1s linear infinite;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

//Mouse trails
