<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id='{{ replaceRE "(\\s)" "" (lower .Title) }}'class="td-{{ .Kind }} td-topic">
    {{ partial "amplitude.html" (dict "context" . "event" "topic viewed") }}
    <header>
      {{ partial "navbar.html" . }}
    </header>
    
    <div class="container-fluid td-outer">
        {{ partial "live-notify.html" . }}
        <div class="td-main ">
            <div id="hero" class="td-box--primary mt-lg-5 mt-0 py-lg-5">
                <div class='container'>
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-8 py-2 py-lg-5">
                            {{ .Render "content" }}
                        </div>
                        <div class="col-12 col-lg-4 py-2 py-lg-5">
                            <div class="">
                                Video/GIF
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="topics-section">
                
                <!-- Link Boxes -->
                <div class='container py-0 py-lg-0'>
                        <div class="row">
                        {{ range .Params.links }}
                            <div class="text-center bg-gray-light subtopic mr-3 mb-3 flex-315 transition-all">
                                <a class="linked-box td-box--gray-dark px-4 py-2" href="{{ .link }}">
                                    <h2 class="link mt-3 h4 pt-0 mw-100">{{ .title }}</h2>
                                </a>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <!-- Getting Started-->
                {{ $gettingstarted := where (where .Site.Pages "Params.tanzu.label" .Params.label) "Params.tanzu.gettingstarted" "eq" true }}
                <div class='container py-3 py-lg-5'>
                    <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">Getting Started</h2></div>
                    <div class='row'>
                        {{ range first 3 (sort $gettingstarted "Params.tanzu.gettingstartedweight" "asc") }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>

                <!-- Videos -->
                {{ $videos := where (where .Site.Pages "Section" "videos") ".Params.languages" "intersect" (slice .Params.label) }}
                {{ $videos := where .Site.Pages "Section" "videos" }}
                <div class='container py-3 py-lg-5'>
                    <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">Videos</h2></div>
                    <div class='row'>
                        {{ range first 3 $videos }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>

                <!-- Featured Content -->
                {{ $featured := where (where .Site.Pages "Params.tanzu.label" .Params.label) "Params.tanzu.featured" "eq" true }}
                <div class='container py-3 py-lg-5'>
                    <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">Featured Content</h2></div>
                    <div class='row'>
                        {{ range first 3 (sort $featured "Params.tanzu.featuredweight" "asc") }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>

                <!-- Newest Content -->
                {{ $newest := where .Site.Pages "Params.tanzu.label" .Params.label }}
                <div class='container py-3 py-lg-5'>
                    <div class='d-flex align-items-center icon-title mb-4'><h2 class="mb-0">Newest Content</h2></div>
                    <div class='row'>
                        {{ range first 3 $newest.ByDate }}
                            {{ partial (printf "%v-card.html" .Section) . }}
                        {{ end }}
                    </div>
                </div>

            </section>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <script>
    $( ".show-all-button" ).click(function() {
        $(this).parent().parent().find(".hidden-item:first").show( 20, function showNext() {
            $(this).next( ".hidden-item" ).show( 20, showNext );
        });
        $(this).parent().hide();
    });
  </script>

</html>

