{{ define "main" }}

{{ if .Params.beyond }}
  <section id="beyond-hero" class="bg-gray-dark mt-7 py-lg-5 overflow-hidden position-relative">
    <img alt="" id="left-blob-1" class="position-absolute pe-none" src='{{ "images/beyond/left-blob-1.svg" | relURL }}'>
    <img alt="" id="left-blob-2" class="position-absolute pe-none" src='{{ "images/beyond/left-blob-2.svg" | relURL }}'>
    <img alt="" id="left-blob-3" class="position-absolute pe-none" src='{{ "images/beyond/left-blob-3.svg" | relURL }}'>

    <img alt="" id="right-blob-1" class="position-absolute pe-none" src='{{ "images/beyond/right-blob-1.svg" | relURL }}'>
    <img alt="" id="right-blob-2" class="position-absolute pe-none" src='{{ "images/beyond/right-blob-2.svg" | relURL }}'>
    <img alt="" id="right-blob-3" class="position-absolute pe-none" src='{{ "images/beyond/right-blob-3.svg" | relURL }}'>

    <div class="container py-0 py-lg-4">
      <div class="col-xl-9 col-12 px-0 mt-5 mx-auto position-relative">
        <img alt="" id="shooting-star-1" class="position-absolute" src='{{ "images/beyond/shooting-star.svg" | relURL }}'>
        <img alt="" id="shooting-star-2" class="position-absolute" src='{{ "images/beyond/shooting-star.svg" | relURL }}'>
        <p class="white h3">March 30&ndash;31, 2022</p>
        <img alt="" class="pe-none" id="beyond-logo" src='{{ "images/beyond/glow-beyond.svg" | relURL }}'>
        <p class="tagline white h3 pt-0 pb-4">A collection of conversations exploring the wider world of .NET</p>
      </div>
    </div>
  </section>
{{ else }}
  {{ $class := replace .Page.Section "." "-" | lower }}
  <section id="hero" class="{{ $class }}-episode-hero bg-gray-dark mt-7 pt-4 pb-5">
    <div class="container">
      {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
      <h1 class="h1 mt-4 pt-2"> {{ .Parent.Title -}}</h1>
      {{ if .Params.description_episode }}
        <div class="lead"><p>{{ .Params.description_episode | markdownify }}</p></div>
      {{ else if .Parent.Params.description_episodes }}
        <div class="lead"><p>{{- .Parent.Params.description_episodes | markdownify }}</p></div>
      {{ else }}
        <div class="lead"><p>{{- .Parent.Params.description | markdownify }}</p></div>
      {{ end }}
    </div>
  </section>
{{ end }}


<!-- IF UPCOMING -->
{{ $.Scratch.Set "streamName" "" }}
{{ $.Scratch.Set "streamUrl" "#" }}
{{ if (and (isset .Params "twitch") (and (isset .Params "youtube") (ne .Params.youtube ""))) }}
  <!-- Dual Stream -->
  {{ $.Scratch.Set "dualStream" true }}
  {{ $.Scratch.Set "twitchUrl" (print "https://www.twitch.tv/" .Params.twitch) }}
  {{ $.Scratch.Set "youtubeUrl" (print "https://www.youtube.com/watch?v=" .Params.youtube) }}
  {{ $.Scratch.Set "embedSite" .Params.embedSite }}
  {{ if and (ne ($.Scratch.Get "embedSite") "youtube") (ne ($.Scratch.Get "embedSite") "twitch") }}
    {{ $.Scratch.Set "embedSite" "twitch" }}
  {{ end }}
{{ else if isset .Params "twitch" }} 
  <!-- Twitch Stream -->
  {{ $.Scratch.Set "streamUrl" (print "https://www.twitch.tv/" .Params.twitch) }}
  {{ $.Scratch.Set "streamName" "on Twitch" }}
  {{ $.Scratch.Set "embedSite" "twitch" }}
{{ else if isset .Params "youtube" }}
  <!-- YouTube stream -->
  {{ $.Scratch.Set "streamUrl" (print "https://www.youtube.com/watch?v=" .Params.youtube) }}
  {{ $.Scratch.Set "streamName" "on YouTube" }}
  {{ $.Scratch.Set "embedSite" "youtube" }}
  <!-- The base domain is required to embed YT chat, this parses the page URL to get it -->
  {{ $.Scratch.Set "siteDomain" (index (split (index (split (replaceRE "http[s]?://" "" .Site.BaseURL) "/") 0) ":") 0) }}
{{ end }}

<div class='container'>
  <div id="live" class="row justify-content-center mt-5 pt-3">
    {{ if .Params.banner_only }}
      {{ if not .Params.beyond }}
        <div class="col-lg-9 col-12 px-0">
          <img src='{{ partial "tv-image-src" . }}' />
        </div>
      {{ end }}
    {{ else }}
      <div class="col-lg-5 col-12 mb-5 pl-0">
        <h2 class="pt-0 mb-4 pb-2"> {{- .Title -}}</h2>
        <div>
          {{ if $.Scratch.Get "dualStream" }}
            <div class="play-icon float-left"></div>
            <div class="float-left ml-3 pl-1">
              <a href='{{ $.Scratch.Get "twitchUrl" }}'>Watch on Twitch</a><br/>
              <a href='{{ $.Scratch.Get "youtubeUrl" }}'>Watch on YouTube</a><br/>
              <span class="text-white">{{ .Params.Date.Local.Format "3:04 PM MST" }} on {{ .Params.Date.Format "Monday, Jan 02, 2006" }}</span>
            </div>
          {{ else if .Params.linktwitchyoutubechannels }}
            <div class="play-icon float-left"></div>
            <div class="float-left ml-3 pl-1">
              <a href='https://www.twitch.tv/vmwaretanzu'>Watch on Twitch</a><br/>
              <a href='https://www.youtube.com/@VMwareTanzu'>Watch on YouTube</a><br/>
              <span class="text-white">{{ .Params.Date.Local.Format "3:04 PM MST" }} on {{ .Params.Date.Format "Monday, Jan 02, 2006" }}</span>
            </div>
          {{ else if .Params.linkyoutubechannel }}
            <a href='https://www.youtube.com/@VMwareTanzu'><div class="play-icon float-left"></div></a>
            <div class="float-left ml-3 pl-1">
              <a href='https://www.youtube.com/@VMwareTanzu'>Watch on YouTube</a><br/>
              <span class="text-white">{{ .Params.Date.Local.Format "3:04 PM MST" }} on {{ .Params.Date.Format "Monday, Jan 02, 2006" }}</span>
            </div>
          {{ else }}
            <a class="play-icon float-left" href='{{ $.Scratch.Get "streamUrl" }}'></a>
            <div class="float-left ml-3 pl-1">
              <a href='{{ $.Scratch.Get "streamUrl" }}'>Watch {{ ($.Scratch.Get "streamName") }}</a><br/>
              <span class="text-white">{{ .Params.Date.Local.Format "3:04 PM MST" }} on {{ .Params.Date.Format "Monday, Jan 02, 2006" }}</span>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-4 col-12 px-0">
        {{ if gt (len (.Resources.Match "images/*.mp4")) 0 }}
        <video autoplay loop muted playsinline src='{{ .Resources.GetMatch "images/*.mp4" }}' style="height: auto; width: 100%; border: none;"></video>
        {{ else }}
          <img src='{{ partial "tv-image-src" . }}' />
        {{ end }}
      </div>
    {{ end }}

  </div>

  <div class="row justify-content-center" id="stream-embed">
    {{ if not .Params.beyond }}
      <h2 class="mb-2"> {{- .Title -}}</h2>
    {{ end }}
    <div id="internal-embed" class="container justify-content-center mt-3 pt-3" style="text-align: center;">
      {{ if eq ($.Scratch.Get "embedSite") "youtube" }}
      <div class="row">
        <iframe class="col" width="910" height="512" src='https://www.youtube.com/embed/{{ .Params.youtube }}' frameborder='0' allowfullscreen></iframe>
        <iframe style="border-style: none;" class="col-md-4" width=400 height=512 src="https://www.youtube.com/live_chat?v={{ .Params.youtube }}&embed_domain={{ $.Scratch.Get "siteDomain" }}"></iframe>
      </div>
      {{ end }}
    </div>
  </div>

  <!-- ELSE IF PREVIOUS -->
  <div id="vod" class="row justify-content-center mt-5">
    <div class="col-lg-9 col-12 px-0">
      <h2 class="mb-2"> {{- .Title -}}</h2>
      <p class='show-date mt-4 text-white h5 mb-4'>{{ dateFormat "Jan 2, 2006" (substr .Date 0 10)}}</p>

      {{ if .Params.youtube }}
      <div class="youtube-video-shortcode">
        <iframe id="episode-embed" src="https://www.youtube.com/embed/{{ .Params.youtube }}?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
      </div>
      {{ else }}
      {{ if .Params.register }}
      <div>
        <a href="{{ .Params.register }}">
        <img src='{{ partial "tv-image-src" . }}' /></a><br>
      </div>
      {{ else }}
      <div>
        <a href="https://www.twitch.tv/{{ .Params.twitch }}">
        {{ if gt (len (.Resources.Match "images/*.mp4")) 0 }}
          <video autoplay loop muted playsinline src='{{ .Resources.GetMatch "images/*.mp4" }}' style="height: auto; width: 100%; border: none;"></video>
        {{ else }}
          <img src='{{ partial "tv-image-src" . }}' /></a><br>
        {{ end }}
        </a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <!-- END -->

  <script src="https://embed.twitch.tv/embed/v1.js"></script>

  <script type="text/javascript">
    var live = document.getElementById("live");
    var vod = document.getElementById("vod");
    var embed = document.getElementById("stream-embed");
    var episodeType = "";
    var currentTime = Date.now();
    var startTime = new Date('{{ printf (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}').getTime();
    var duration = "{{default 60 .Params.minutes }}" * 60000;
    var endTime = new Date(startTime + duration).getTime();
    var beyond = "{{ .Params.beyond }}"


    // Display content based on the current state:
    // Future event: Show the air time and link to Twitch
    // Live event: Embed the twitch stream
    // Past event: Link/embed the VOD depending if it's on Twitch or YouTube
    if (currentTime < startTime) {
      // Future
      live.style.display = "flex";
      embed.style.display = "none";
      vod.style.display = "none";
      episodeType = "live";
    } 
    else if (currentTime >= startTime && currentTime <= endTime) {
      // Current
      live.style.display = "none";
      embed.style.display = "flex";
      vod.style.display = "none";
      episodeType = "live";

      {{ if eq ($.Scratch.Get "embedSite") "twitch" }}
        new Twitch.Embed("stream-embed", {
            width: 1130,
            height: 480,
            channel: "vmwaretanzu",
        });
      {{ end }}

      if(beyond) {
        var breakStart = new Date("Wed Mar 30 2022 15:00:00 GMT-0700 (Pacific Daylight Time)").getTime();
        var breakEnd = new Date("Thu Mar 31 2022 02:00:00 GMT-0700 (Pacific Daylight Time)").getTime();

        if(currentTime >= breakStart && currentTime <= breakEnd) {
          live.style.display = "none";
          embed.style.display = "none";
          vod.style.display = "none";
          episodeType = "vod";
        } 
      }
    }
    else {
      // Past
      live.style.display = "none";
      embed.style.display = "none";

      if(beyond) {
        vod.style.display = "none";
      }
      else {
        vod.style.display = "flex";
      }
      episodeType = "vod";
    }
  </script>

  {{ partial "amplitude.html" (dict "context" . "event" "episode viewed") }}

  <div class="row justify-content-center mb-5">
    <div class="col-lg-9 col-12 px-0 mt-5">
      {{ if not .Params.no_episode_title }}
        {{ with .Content }}
          <h3>In this episode</h3>
        {{ end }}
      {{ end }}
      {{ if .Params.calendar }}
        <script src="https://d1fto35gcfffzn.cloudfront.net/calendar/ics-updated.js" type="text/javascript"></script>
        <strong><a class='lightbox antialiased' href='#reminder'><i class='fa fa-calendar-check mr-1'></i>Add to calendar</a></strong>
        <div id='reminder' class='p-5' style='display: none'>
          <h3 class='-text-white mb-3 text-center'>Add to calendar</h3>
          <div style="display:flex">
              <script type="text/javascript">
                  const eventStartTimeDate = new Date(startTime);
                  const eventStartTimeDateUTC = eventStartTimeDate.toISOString();
                  const eventEndTimeDate = new Date(endTime);
                  const eventEndTimeDateUTC = eventEndTimeDate.toISOString();
                  cal_single = ics();
                  cal_single.addEvent({{ .Params.title }}, 'https://tanzu.vmware.com/developer/tv/', 'Virtual', eventStartTimeDateUTC, eventEndTimeDateUTC);
                  const gCalTitle = ({{ .Params.title }}).replaceAll(" ","+");
                  const gCalStartTime = eventStartTimeDateUTC.replaceAll("-","").replaceAll(":","").replace(".000","");
                  const gCalEndTime = eventEndTimeDateUTC.replaceAll("-","").replaceAll(":","").replace(".000","");
                  const gCalLink = "https://www.google.com/calendar/render?action=TEMPLATE&text=" + gCalTitle + "&details=https%3A%2F%2Ftanzu.vmware.com%2Fdeveloper%2Ftv%2F&location=Virtual&dates=" + gCalStartTime + "%2F" + gCalEndTime;
              </script>
              <a href="#"
                 onclick="javascript:cal_single.download({{ .Params.title }})"
                 class='btn mr-2 mb-2'>Outlook/iCal</a><a href="#"
                  onclick="window.open(gCalLink,'_blank')"
                  class='btn mb-2'>Google&nbsp;Calendar</a>
          </div>
        </div>
      {{ end }}
      {{ .Content }}
    </div>
  </div>

  <!-- Determine if bios exist for each guest -->
  {{ $guests := slice }}
  {{ range .Params.guests }}
    {{ with $.Site.GetPage (print "/team/" ( . | anchorize | urlize )) }}
      {{ $guests = $guests | append . }}
    {{ end }}
  {{ end }}
  
  <!-- Display colored headshots on .NET Beyond page -->
  {{ if .Params.beyond }}
    {{ with .Params.guests }}
    <div class="row justify-content-center mb-5">
      <div class="col-lg-9 col-12 px-0">
        <h3 class="mb-3">Guests</h3>
        {{ range $i, $e := $.Params.guests }}
          {{ with $.Site.GetPage (print "/team/" ( . | anchorize | urlize )) }}
            <div class=" mb-4 pb-5">
              {{ partial "team-member.html" (dict "context" . "display" "tv" "conf" "beyond" "index" $i) }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  {{ else }}
    {{ with $guests }}
    <div class="row justify-content-center mb-5">
      <div class="col-lg-9 col-12 px-0">
        <h3 class="mb-3">Guests</h3>
        {{ range . }}
            <div class=" mb-4 pb-5">
            {{ partial "team-member.html" (dict "context" . "display" "tv") }}
            </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  {{ end }}


  {{ if .Params.beyond }}
    {{ with .Params.hosts }}
    <div class="row justify-content-center mb-5">
      <div class="col-lg-9 col-12 px-0">
        <h3 class="mb-3">Hosts</h3>
        {{ range $i, $e := $.Params.hosts }}
          {{ with $.Site.GetPage (print "/team/" ( . | anchorize | urlize )) }}
            <div class="mb-4">
            {{ partial "team-member.html" (dict "context" . "display" "tv" "conf" "beyond" "index" $i) }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  {{ else }}
    {{ with .Params.hosts }}
    <div class="row justify-content-center mb-5">
      <div class="col-lg-9 col-12 px-0">
        <h3 class="mb-3">Hosts</h3>
        {{ range . }}
          {{ with $.Site.GetPage (print "/team/" ( . | anchorize | urlize )) }}
            <div class="mb-4">
            {{ partial "team-member.html" (dict "context" . "display" "tv") }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  {{ end }}


  {{ with .Params.speakers }}
  <div class="row justify-content-center mb-5">
    <div class="col-lg-9 col-12 px-0">
      <h3 class="mb-3">Speakers</h3>
      {{ range . }}
        {{ with $.Site.GetPage (print "/team/" ( . | anchorize | urlize )) }}
          <div class="mb-4">
          {{ partial "team-member.html" (dict "context" . "display" "tv") }}
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ if .Params.beyond }}
  <div class="row justify-content-center mb-5">
    <div class="col-lg-9 col-12 px-0">
      <h3 class="mb-3">Sponsors</h3>
      <div id="sponsors">
        <div class="sponsor-container">
          <a href="https://headspring.com/" class="mr-5 py-2 d-inline-block">
            <img alt="" style="height:50px" class="pe-none" src='{{ "images/beyond/logo-headspring-white.svg" | relURL }}'>
          </a>
          <a href="https://www.microsoft.com/en-us/security/business/identity-access-management/" class="mr-5 py-2 d-inline-block">
            <img alt="" style="height:50px" class="pe-none" src='{{ "images/beyond/logo-microsoft-white.svg" | relURL }}'>
          </a>
          <a href="http://www.telerik.com" class="mr-5 py-2 d-inline-block">
            <img alt="" style="height:50px" class="pe-none" src='{{ "images/beyond/logo-progress-white.svg" | relURL }}'>
          </a>
          <a href="https://www.twilio.com/" class="mr-5 py-2 d-inline-block">
            <img alt="" style="height:50px" class="pe-none" src='{{ "images/beyond/logo-twilio-white.svg" | relURL }}'>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}


  {{ if .Params.faqs }}
    <div class="row justify-content-center mb-5">
      <div class="col-lg-9 px-0 pt-4">
        {{ partial "faqs.html" . }}
      </div>
    </div>
  {{ end }}

  {{ if and (.Params.contact) (.Params.code_of_conduct) ( .Params.beyond ) }}
    <div class="row justify-content-center mb-5 text-center">
      <div class="col-lg-9 col-12 px-0">
        <p>Questions?  <a href="mailto:{{ .Params.contact }}">Contact {{ .Params.contact_text | default "us" }}</a> &bullet; <a href='{{ print "code-of-conduct" | relURL }}'>Code of Conduct</a></p>
      </div>
    </div>
  {{ else if and (.Params.contact) (.Params.code_of_conduct) }}
    <div class="row justify-content-center mb-5 text-center">
      <div class="col-lg-9 col-12 px-0">
        <p>Questions?  <a href="mailto:{{ .Params.contact }}">Contact {{ .Params.contact_text | default "us" }}</a> &bullet; <a href='{{ print "code-of-conduct" | relURL }}'>Code of Conduct</a></p>
      </div>
    </div>
  {{ else if .Params.contact}}
    <div class="row justify-content-center mb-5 text-center">
      <div class="col-lg-9 col-12 px-0">
        <p>Questions?  <a href="mailto:{{ .Params.contact }}">Contact {{ .Params.contact_text | default "us" }}</a></p>
      </div>
    </div>
  {{ else if .Params.code_of_conduct }}
    <div class="row justify-content-center mb-5 text-center">
      <div class="col-lg-9 col-12 px-0">
        <p><a href='{{ print "code-of-conduct" | relURL }}'>Code of Conduct</a></p>
      </div>
    </div>
  {{ end }}
  <div class="row justify-content-center mb-5 text-center">
    <div class="col-lg-9 col-12 px-0 d-flex">
      <div class="feedback mt-4 pt-4 w-100 text-left border-top">
        <a href="https://github.com/vmware-tanzu/tanzu-dev-portal/issues/new?assignees=&labels=bug&template=bug_report.md&title=Tanzu.TV Issue: {{ .Title }}"><i class="fab fa-github mr-2"></i><span class="align-top">Report an issue</span></a>
      </div>
    </div>
  </div>

</div>

{{ partial "amplitude.html" (dict "context" . "event" "episode played") }}

{{ end }}
