<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} td-tag">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main ">
        <div class="bg-gray-dark mt-lg-5 mt-0 py-lg-5 py-2">
            <div class='container'>
                {{ .Render "content" }}
            </div>
        </div>

        <br/>

        {{ $guides := where .Data.Pages "Section" "guides" }}
        {{ if gt (len $guides) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-4'><img class="icon mr-3" src='{{ "/images/icons/icon-guides.svg" | relURL }}'/><h3 class="mb-0">Guides</h3></div>
            <div class='col px-lg-0'><div class='row'>
                {{ range $guides }}
                    <div class="flex-315 col-12 mr-3 mb-3 px-0">
                        <a class="linked-box border bg-gray-dark px-4 pt-4 pb-3" href="{{ .Permalink }}">
                            <h4 class="mt-2">{{ .Title }}</h4>
                            <p>{{ .Description }}</p>
                            <p class='link'>Read more</p>
                        </a>
                    </div>
                {{ end }}
            </div></div>
            {{ end }}
        </div>

        {{ $videos := where .Data.Pages "Section" "videos" }}
        {{ if gt (len $videos) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-5'><img class="icon mr-3" src='{{ "/images/icons/icon-videos.svg" | relURL }}'/><h3 class="mb-0">Videos</h3></div>
            <div class="col px-lg-0"><div class='row'>
                {{ range $videos }}
                    <div class="flex-315 col-12 mr-3 mb-3 px-0">
                        <a class='youtube-container'><div class="youtube-overlay"></div><iframe class="youtube-small" type="text/html" src="https://www.youtube.com/embed/{{ .Params.youtube_id }}?wmode=transparent&amp;rel=0&amp;modestbranding=1" wmode="Opaque" frameborder="0" allowfullscreen="true"></iframe></a>
                        <p><a class="text-white" href="{{ .RelPermalink }}">{{- .Title -}}</a></p>
                    </div>
                {{ end }}
            </div></div>
        </div>
        {{ end }}

    
        {{ $samples := where .Data.Pages "Section" "samples" }}
        {{ if gt (len $samples) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-5'><img class="icon mr-3" src='{{"/images/icons/icon-code-samples.svg" | relURL }}'/><h3 class="mb-0">Code Samples</h3></div>
            <div class="col px-lg-0"><div class='row'>
                {{ range $samples }}
                    <div class="flex-315 col-12 mr-3 mb-3 px-0">
                        <a class='h4' href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ with .Params.description }}<p>{{ . | markdownify }}</p>{{ end }}
                    </div>
                {{ end }}
            </div></div>
        </div>
        {{ end }}

        
        {{ $blogs := where .Data.Pages "Section" "blog" }}
        {{ if gt (len $blogs) 0 }}
        <div class='container py-5 border-bottom'>
            <div class='d-flex align-items-center icon-title mb-5'><img class="icon mr-3" src='{{ "/images/icons/icon-blog.svg" | relURL }}'/><h3 class="mb-0">Blogs</h3></div>
            <div class="col px-lg-0"><div class='row'>
                {{ range $blogs }}
                    <div class="flex-315 col-12 mr-3 mb-3 px-0">
                        <a class='h4' href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ with .Params.description }}<p>{{ . | markdownify }}</p>{{ end }}
                    </div>
                {{ end }}
            </div></div>
        </div>
        {{ end }}

      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>

