{{ define "main" }}

<div class="td-main ">
	<div class="bg-gray-dark mt-lg-5 mt-0 py-lg-5 py-2">
		<div class='container'>
			{{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
			<h1>{{ .Title }}</h1>
			<p>{{ .Description }}</p>

			<div class="short-gradient-line mb-4"></div>
			<!-- {{ .Params.tags }} -->

			<a href="{{ .Params.repo }}/archive/master.zip" class="btn"><span class="fas fa-download"></span> Download ZIP</a>
			<a href="{{ .Params.repo }}"  class="btn"><span class="fab fa-github"></span> View on GitHub</a>

		</div>
	</div>
	<div class="container py-5">
		<div class="">
			{{ if .Params.readme }}
				{{ $user_repo := (urls.Parse .Params.repo).Path }}
				{{ $resp := getJSON (print "https://api.github.com/repos" $user_repo "/readme") | default "Hello" }}
				<!-- RegEx replace removes any image references which could be broken -->
				{{ $resp.content | base64Decode | replaceRE "\\!\\[(.*)\\]\\((.*)\\)" "IMAGE" | markdownify }}
			{{ else }}
				{{ .Content }}
			{{ end }}
		</div>

		{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
			{{ partial "feedback.html" .Site.Params.ui.feedback }}
			<br />
		{{ end }}
		{{ if (.Site.DisqusShortname) }}
			<br />
			{{ partial "disqus-comment.html" . }}
		{{ end }}
		<div class="text-muted mt-5 pt-3">{{ partial "page-meta-lastmod.html" . }}</div>
	</div>
</div>
{{ end }}
