<link rel="stylesheet" href="{{ "/css/faq.css" | relURL }}">
<div class="faqs" id="faqs">
    <div class="flex-container jc-between"></div>
        <h2 class="h2 mb-md">Frequently Asked Questions</h2>
        <div class="faq">
            {{ .Inner }}
        </div>
    </div>
    
</div>

<script type="text/javascript">
    $(".faq-item").each( function() {
        $(this).click(function () {
            $(this).find("#arrow").toggleClass("flip"); // Flip the display arrow
            $(this).find(".faq-answer").slideToggle(200); // Toggle the answer
        });
    });
</script>