<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}" id="search">
    
    <header>
      {{ partial "navbar.html" . }}
      {{ partial "amplitude.html" (dict "context" . "event" "search viewed") }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main ">
        <div id="hero" class="td-box--primary mt-lg-5 mt-0 py-lg-5 py-2 py-lg-4">
          <div class="searchpadding">
            <div class='container'>
              <div id="search">
                <form id="searchbodyform" action="#" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
                <input type="text" name="q" id="searchbodyinput" autocomplete="off" placeholder="Search" />
                <input type="submit" value="Search" id="searchbodysubmit" data-disable-with="" />
                </form>
              </div>
              <div id='search-results-info'></div>
            </div>
          </div>
        </div>
        <div class='container py-5'>
          <div id='search-results-container'></div>
        </div>
      </div>
    </div>

      {{ partial "footer.html" . }}
    </div>

    <script src={{ "/js/search.js" | relURL }}></script>
    {{ partial "scripts.html" . }}
  </body>
</html>