{{ define "main" }}
<a id="td-block" class="td-offset-anchor"></a>
<section class="td-box td-box--gray-dark position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center ">
		<div class="col-12 mx-auto col-lg-9">
			<span class="h1 mb-0 ">
				Tanzu Data Services
			</span>
		</div>
	</div>
</section>

<a id="td-block" class="td-offset-anchor"></a>
<section class="featured-section td-box td-box--gray-dark td-box--gradient td-box--height-auto">
    <div class='container'>
    	<div class="col">
            <div class="row jc-even">   
                <div class="col-12 mb-4">
                    <h2 class="text-center h5">Featured</h2>
                </div> 
                {{ range first 3 (where (where .Site.Pages "Section" "data") ".Params.data-featured" true).ByWeight }}
                    <div class="col-lg-4 d-flex mb-3 mb-lg-0">
                        <a href="{{ .RelPermalink}}" class="position-relative linked-box col-12 featured-link td-box--gray-850 p-4 px-5 overflow-hidden">
                            <div class='gradient-edge-left animate'></div>
                            <h3 class="mb-3 h5">{{ .Parent.Title | singularize }}</h3>
                            <h4 class="h4">{{ .LinkTitle }}</h4>
                            <p class="mb-0 text-light">{{ .Description }}</p>
                            <p class="link">Read now</p>
                        </a>
                    </div>
                {{ end }}
    		</div>
        </div>
	</div>
</section>

<a id="td-block" class="td-offset-anchor"></a>
<section class="row td-box td-box--dark td-box--gradient td-box--height-auto">
	<!-- <div class="col"> -->
		<div class="row w-100">
			<div class="col-12 mb-4">
                <h2 class="text-center">Get Started</h2>
            </div>
		</div>
	<!-- </div> -->

<div class="row">
  {{ $url_text := "Tanzu GemFire" }}
  {{$icon_path := "/images/icons/icon-tanzu-gemfire" }}
  {{ $left_border_color := "blue" }}
  {{ $link := replace (lower $url_text) "/" "-"  }}
  {{ $link := replace $link "&" "and" }}
  {{ $link := replace $link " " "-" }}
  {{ $section_name := $link  }}
  {{ $link := printf "%s/%s" "/data" $link | relURL }}
  <div class="col-lg-4 d-flex mb-3 mb-lg-0 data-service-landing-page-product-tile">
  
    {{ with $url_text }} <a href="{{ $link }}" class="position-relative linked-box col-12 featured-link td-box--gray-850 p-4 px-5 overflow-hidden">
    <div class='data-service-left-edge left-edge-color-{{$left_border_color}} '></div>
  
    {{ with $.Site.GetPage "section" $section_name }}
    <h5 class="mb-3">{{ .Params.dataServiceType }}</h5>
        <div>
          <img alt="" class="icon mr-3" src="{{ $icon_path | relURL }}.svg"/>
          <h4 class="h4">{{$url_text }}</h4>
        </div>
  
    <p class="mb-0 text-light">{{ .Description }}</p>
      </a>{{end}}{{ end }}
  </div>
  
  {{ $url_text := "Tanzu SQL" }}
  {{$icon_path := "/images/icons/icon-tanzu-sql" }}
  {{ $left_border_color := "gray" }}
  {{ $link := replace (lower $url_text) "/" "-"  }}
  {{ $link := replace $link "&" "and" }}
  {{ $link := replace $link " " "-" }}
  {{ $section_name := $link  }}
  {{ $link := printf "%s/%s" "/data" $link | relURL }}
  <div class="col-lg-4 d-flex mb-3 mb-lg-0 data-service-landing-page-product-tile">
  
    {{ with $url_text }} <a href="{{ $link }}" class="position-relative linked-box col-12 featured-link td-box--gray-850 p-4 px-5 overflow-hidden">
    <div class='data-service-left-edge left-edge-color-{{$left_border_color}} '></div>
  
    {{ with $.Site.GetPage "section" $section_name }}
    <h5 class="mb-3">{{ .Params.dataServiceType }}</h5>
        <div>
          <img alt="" class="icon mr-3" src="{{ $icon_path | relURL }}.svg"/>
          <h4 class="h4">{{$url_text }}</h4>
        </div>
  
    <p class="mb-0 text-light">{{ .Description }}</p>
      </a>{{end}}{{ end }}
  </div>
  
  {{ $url_text := "Tanzu RabbitMQ" }}
  {{$icon_path := "/images/icons/icon-tanzu-rabbitmq" }}
  {{ $left_border_color := "green" }}
  {{ $link := replace (lower $url_text) "/" "-"  }}
  {{ $link := replace $link "&" "and" }}
  {{ $link := replace $link " " "-" }}
  {{ $section_name := $link  }}
  {{ $link := printf "%s/%s" "/data" $link | relURL }}
  <div class="col-lg-4 d-flex mb-3 mb-lg-0 data-service-landing-page-product-tile">
  
    {{ with $url_text }} <a href="{{ $link }}" class="position-relative linked-box col-12 featured-link td-box--gray-850 p-4 px-5 overflow-hidden">
      <div class='data-service-left-edge left-edge-color-{{$left_border_color}} '></div>
  
      {{ with $.Site.GetPage "section" $section_name }}
      <h5 class="mb-3">{{ .Params.dataServiceType }}</h5>
          <div>
            <img alt="" class="icon mr-3" src="{{ $icon_path | relURL }}.svg"/>
            <h4 class="h4">{{$url_text }}</h4>
          </div>
  
      <p class="mb-0 text-light">{{ .Description }}</p>
        </a>{{end}}{{ end }}
  </div>
</div>

</section>

<script>sendAmplitudeEventOnLoad('data home viewed', {'url path': window.location.pathname});</script>
{{ end }}