name: PR Checks
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Checkout
        with:
          fetch-depth: 1
      - uses: ./.github/actions/spell-check
        name: Spell Check
  broken-link-check:
    needs: spell-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Checkout
        with:
          fetch-depth: 1
          submodules: recursive
      - uses: ./.github/actions/link-check
        name: Link Check
        env:
          HUGO_OPTIONS: "-b http://localhost:1313/developer" #"--buildDrafts"
          MUFFET_OPTIONS: "-t 30 -e 'https?' --exclude='/developer/get-workshop'" # Excludes external links
